.cv-post-detail {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.85);
  z-index: 2;

  &.active .cv-post-detail__header {
    transform: translate(0, 0%);
  }
}

.cv-post-detail__header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 50px;
  right: 50px;
  height: 60px;
  background-color: @color-white;
  border-radius: 0 0 3px 3px;
  transform: translate(0, -100%);
  transition: transform 400ms ease-out;
}

.cv-post-detail__header-navigation {
  border-left: 1px solid @color-neutral-light;
}

.cv-post-detail__header-navigation-button {
  padding: 0 10px;
  height: 60px;
  outline: none;
  color: @color-neutral-mid;
  fill: @color-neutral-mid;
  transition: background-color 140ms ease, box-shadow 140ms ease;

  > svg {transition: fill 240ms ease}

  &:last-child {border-bottom-right-radius: 3px}

  &:hover {
    color: @color-primary;
    fill: @color-primary;
  }

  &:active,
  &.active {
    background-color: tint(@color-neutral-light, 50);
    box-shadow: inset 0 3px 0 @color-neutral-light;
  }
}

.cv-post-detail__content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px 50px 0;
}

.cv-post-detail-actions {
  .post-detail-action-item {
    &:hover {
      color: @color-primary;
      fill: @color-primary;
    }

    &:active,
    &.active {
      background-color: tint(@color-grey-lighter, 50);
      box-shadow: inset 0 3px 0 @color-grey-lighter;
    }

    .unsave-button {
      display: none;
    }

    &:hover:not(.cancel-hover-state),
    &:active,
    &.active {
      .saved-button {display: none}
      .unsave-button {display: block}
    }
  }
}

.post-detail-share-popover {
  width: 280px;
}
