<main role="main" class="cv-main-content -rel">
  <div class="voice-background-cover"></div>

  <section class="voice-intro -rel">
    <h1 class="voice-heading -font-bold -m0"><%= voice.title %></h1>
    <div class="voice-stats">
      <span class="-inline-block">
        <b class="voice-stats__post-count"><%= voice.postCount %></b> posts
      </span> &middot;
      <span class="-inline-block">
        <b class="voice-stats__followers">0</b> followers
      </span> &middot;

      <% if(voice.locationName) { %>
        <span class="-inline-block">
          <%= voice.locationName %>
        </span> &middot;
      <% } %>

      <button class="voice-about-show-btn cv-button micro">About</button>
    </div>
  </section>
</main>

<script>
  // App
  var ns = [];
  <% if (typeof notifications !== "undefined") { %>
    ns = <%= JSON.stringify(notifications) %>;
  <% } %>
  var App = new CV.App({
    notifications : ns,
    currentPerson : currentPerson
  });
  App.addInteractiveSidebar();
  App.socketStart();

  // Voice
  var profileInfo = <%= JSON.stringify(person) %>
  var voiceInfo = <%= JSON.stringify(voice) %>;
  var otherOptions = {
    name                  : 'Voice',
    _socket               : App.getSocket(),
    backgroundElement     : document.querySelector('.voice-background-cover'),
    followerCount         : <%= voice.followers.length %>,
    postCountElement      : document.querySelector('.voice-stats__post-count'),
    followersCountElement : document.querySelector('.voice-stats__followers'),
    aboutBoxButtonElement : document.querySelector('.voice-about-show-btn'),
    scrollableArea        : document.querySelector('.yield'),
    postsCount            : <%= JSON.stringify(postsCount) %>,
    allowPosting          : <%= allowPosting %>,
    allowPostEditing      : <%= allowPostEditing %>
  };

  for (var propertyName in otherOptions) {
    voiceInfo[propertyName] = otherOptions[propertyName];
  }

  App.appendChild(
    new CV.VoiceView( voiceInfo )
  );

  App.Voice.updateVoiceInfo();
  App.Voice.setupVoiceWidgets();
</script>
