
<script src="/socket.io/socket.io.js"></script>

<main role="main" class="cv-main-content -rel">
  <div class="voice-background-cover"></div>

  <section class="voice-intro -rel">
    <h1 class="voice-heading -font-bold -m0"><%= voice.title %></h1>
    <div class="voice-stats">
      <span class="-inline-block">
        <b class="voice-stats__post-count"><%= voice.postCount %></b> posts
      </span> &middot;
      <span class="-inline-block">
        <b class="voice-stats__followers">0</b> followers
      </span> &middot;

      <% if(voice.locationName) { %>
        <span class="-inline-block">
          <%= voice.locationName %>
        </span> &middot;
      <% } %>

      <button class="voice-about-show-btn ui-btn -sm -outline">About</button>
    </div>
  </section>

  <footer class="voice-footer">
    <div class="voice-footer-inner -clearfix">
      <div class="voice-footer-meta-wrapper -float-left">
        <div class="voice-footer-title -font-bold">
          <%= voice.title %>
        </div>
        <div class="voice-footer-by -color-grey">
          by <a href="/<%= owner.profileName %>" alt="<%= owner.name %> <% if (owner.lastname) { %><%= owner.lastname %><% } %>"><%= owner.name %> <% if (owner.lastname) { %><%= owner.lastname %><% } %></a>
        </div>
      </div>
      <div class="voice-footer-right -float-right">
        View
        <div class="ui-select -sm -separator">
          <svg class="ui-select-svg">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow-up-down"></use>
          </svg>
          <select class="ui-select-select">
            <option value="">Option I</option>
            <option value="">Option II</option>
            <option value="">Option III</option>
          </select>
        </div>
      </div
    </div>
  </footer>
</main>

<script>
  var profileInfo = <%= JSON.stringify(person) %>
  var voiceInfo = <%= JSON.stringify(voice) %>;

  var otherOptions = {
    backgroundElement     : document.querySelector('.voice-background-cover'),
    followerCount         : 1260,
    postCountElement      : document.querySelector('.voice-stats__post-count'),
    followersCountElement : document.querySelector('.voice-stats__followers'),
    aboutBoxButtonElement : document.querySelector('.voice-about-show-btn'),
    scrollableArea        : window,

    /* Contains all the years, months and its totals for approved and unapproved posts of the voice - Object */
    postsCount            : <%= JSON.stringify(postsCount) %>,

    /* Either the voice allows OR the user can create new posts for the current voice - Boolean */
    allowPosting          : <%= allowPosting %>,

    /* The user can edit posts on the current voice>? - Boolean */
    allowPostEditing      : <%= allowPostEditing %>
  };

  for (var propertyName in otherOptions) {
    voiceInfo[propertyName] = otherOptions[propertyName];
  }

  var Voice = new CV.VoiceView( voiceInfo );

  Voice.updateVoiceInfo();
  Voice.setupVoiceWidgets();
</script>
