<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="authenticity_token" name="csrf-param" />
  <meta content="<%= csrfToken %>" name="csrf-token" />
  <title>Crowdvoice.by – A new way to organize information and strengthen movements that matter to you</title>
  <meta name="description" content="A new way to organize information and strengthen movements that matter to you">
  <link rel="icon" type="image/gif" href="/img/favicon.png" />
  <script type="text/javascript">
  window.currentPerson = <%= JSON.stringify(currentPerson) %>;
  </script>
  <script src="/dist/bundle.js"></script>
</head>

<% if (typeof pageName !== "undefined") { %>
<body class="<%= pageName %>">
<% } else { %>
<body class="page-inner">
<% } %>

  <%= renderPartial('shared/svg/sprite.svg') %>

  <header class="cv-main-header -color-bg-white -clearfix">
    <div class="-float-left">
      <a class="cv-main-logo -inline-block" href="/">
        <svg class="cv-main-logo__svg">
          <use xlink:href="#svg-logo"></use>
        </svg>
        <span class="cv-main-logo-type -inline-block">
          <b>Crowdvoice by</b>
          <% if (currentPerson === null) { %>
            <span>&hellip;</span>
          <% } %>
        </span>
      </a>

      <div class="header-login-actions -inline-block -color-grey-light">
        <% if (!currentPerson) { %>
          <div class="login-action-list">
            <a href="/signup" class="action-signup">Signup</a> or <a href="/login" class="action-login">Login</a>
          </div>
        <% } else { %>
          <div class="placeholder-account -inline-block"></div>
          <script>
          //Multiple
            var allMulti = {
              "1": {name: 'Your Profile'},
              "2": {name: 'Manage Account'},
              "3": {
                name: 'Organization 01',
                sub: {
                  "0": {name: 'Profile'},
                  "1": {name: 'Manage'}
                }
              },
              "4": {
                name: 'Organization 02',
                sub: {
                  "0": {name: 'Profile'},
                  "1": {name: 'Manage'}
                }
              },
              "5": {
                name: 'Organization 03',
                sub: {
                  "0": {name: 'Profile'},
                  "1": {name: 'Manage'}
                }
              },
              "6": {name: 'Logout', url: '/logout'}
            };
            new CV.SelectAccount({
              label         : 'Multiple',
              name          : 'select',
              accountImage  : "/img/sample/avatars/org-00.jpg",
              accountName   : "<%= currentPerson.name + ' ' + currentPerson.lastname %>",
              options       : allMulti
            }).render(document.querySelector('.placeholder-account'));
          </script>
        <% } %>
      </div>
    </div>

    <div class="-float-right -text-right">
      <div class="header-actions">
        <div class="placeholder-create -inline-block"></div>
        <% if (typeof currentUser !== "undefined") { %>
          <a class="ui-btn -transparent" href="#">
            <svg class="header-actions-svg">
              <use xlink:href="#svg-incognito"></use>
            </svg>
          </a>
          <a class="ui-btn -transparent" href="#">
            <svg class="header-actions-svg">
              <use xlink:href="#svg-notifications"></use>
            </svg>
          </a>
        <% } %>
        <form class="header-search -inline-block" role="search">
          <a class="ui-btn" href="#">
            <svg class="header-actions-svg header-search-svg">
              <use xlink:href="#svg-search"></use>
            </svg>
          </a>
        </form>

        <% if (typeof currentUser !== "undefined") { %>

          <script>

            var createOptions = {
              "1": {label: 'Voice', name: 'voice'},
              "2": {label: 'Organization', name: 'organization'}
            };

            new CV.Select({
              style: 'primary small',
              label : 'Create New',
              name  : 'createSelect',
              options: createOptions
            }).render(document.querySelector('.placeholder-create'));

          </script>

        <% } else { %>

          <script>

            new CV.Button({
                style   : 'primary',
                type    : 'single',
                label   : 'Edit This Voice',
                name    : 'buttonEdit'
            })//.render(document.querySelector('.placeholder-create'));

          </script>

        <% } %>
      </div>
    </div>
  </header>

  <aside role="complementary" class="cv-main-sidebar">
    <nav role="navigation" class="sidebar-nav">
      <a class="cv-main-logo -block" href="/">
        <svg class="cv-main-logo__svg">
          <use xlink:href="#svg-logo"></use>
        </svg>
        <span class="cv-main-logo-type -inline-block">
          <b class="logo-type-cv">Crowdvoice by</b>
          <% if (currentPerson === null) { %>
            <span>&hellip;</span>
          <% } %>
        </span>
      </a>

      <% if (currentPerson) { %>
        <a href="/<%= currentPerson.profileName %>" class="sidebar-link">
          <svg class="sidebar-link-svg"><use xlink:href="#svg-activity"></use></svg>
          <span class="sidebar-link-label">My Feed</span>
        </a>
      <% } else { %>
        <a href="/" class="sidebar-link -is-active">
          <svg class="sidebar-link-svg"><use xlink:href="#svg-home"></use></svg>
          <span class="sidebar-link-label">Home</span>
        </a>
      <% } %>

      <a href="/page/about" class="sidebar-link">
        <svg class="sidebar-link-svg"><use xlink:href="#svg-info"></use></svg>
        <span class="sidebar-link-label">About</span>
      </a>

      <% if (currentPerson) { %>
        <h4 class="sidebar-heading -upper">My Stuff</h4>

        <a href="/<%= currentPerson.profileName %>/voices" class="sidebar-link">
          <svg class="sidebar-link-svg"><use xlink:href="#svg-my-voices"></use></svg>
          <span class="sidebar-link-label">My Voices</span>
        </a>

        <a href="/<%= currentPerson.profileName %>/saved_posts" class="sidebar-link">
          <svg class="sidebar-link-svg"><use xlink:href="#svg-saved"></use></svg>
          <span class="sidebar-link-label">Saved Posts</span>
        </a>

        <a href="/<%= currentPerson.profileName %>/messages" class="sidebar-link">
          <svg class="sidebar-link-svg"><use xlink:href="#svg-messages-read"></use></svg>
          <span class="sidebar-link-label">Messages</span>
        </a>

        <a href="/<%= currentPerson.profileName %>/messages" class="sidebar-link">
          <svg class="sidebar-link-svg"><use xlink:href="#svg-messages-unread"></use></svg>
          <span class="sidebar-link-badge">7</span>
          <span class="sidebar-link-label">Messages</span>
        </a>
      <% } %>

      <h4 class="sidebar-heading -upper">Discover</h4>

      <a href="#" class="sidebar-link">
        <svg class="sidebar-link-svg"><use xlink:href="#svg-trending"></use></svg>
        <span class="sidebar-link-label">Trending</span>
      </a>

      <a href="#" class="sidebar-link">
        <svg class="sidebar-link-svg"><use xlink:href="#svg-star"></use></svg>
        <span class="sidebar-link-label">New</span>
      </a>

      <a href="#" class="sidebar-link">
        <svg class="sidebar-link-svg"><use xlink:href="#svg-thumbs-up"></use></svg>
        <span class="sidebar-link-label">Recommended</span>
      </a>

      <a href="#" class="sidebar-link">
        <svg class="sidebar-link-svg"><use xlink:href="#svg-browse"></use></svg>
        <span class="sidebar-link-label">Browse</span>
      </a>

      <a href="#" class="sidebar-link sidebar-link-help-support">
        <svg class="sidebar-link-svg"><use xlink:href="#svg-browse"></use></svg>
        <span class="sidebar-link-label">Help/Support</span>
      </a>

    </nav>
  </aside>

  <div class="yield">
    <%= yield %>
  </div>
</body>
</html>
