<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CrowdVoice.by – A new way to organize information and strengthen movements that matter to you</title>
  <meta name="description" content="A new way to organize information and strengthen movements that matter to you">
  <%= renderPartial('shared/favicon.html') %>
  <script src="/dist/bundle.js"></script>
</head>

<body class="login">
  <%= renderPartial('shared/svg/sprite-logo.svg') %>
  <div class="yield">
    <%= yield %>
  </div>
</body>
</html>
