<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CrowdVoice.by – A new way to organize information and strengthen movements that matter to you</title>
  <%= renderPartial('shared/favicon.html') %>
  <script src="/dist/systemStatus.js"></script>
</head>
<body>
  <%= renderPartial('shared/svg/sprite-logo.svg') %>

  <div class="view">

    <a class="cv-main-logo -inline-block" href="/">
      <svg class="cv-main-logo__svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-logo"></use>
      </svg>
      <span class="cv-main-logo-type -inline-block">
        <b>Crowdvoice.by</b>
      </span>
    </a>

    <%= yield %>

    <p><small>Version <%= CONFIG.gitRevision %><small></p>

  </div>
</body>
</html>
