<pre>
<% var entityDate = new Date();  %>
<% var monthNames = ["January", "February", "March","April", "May", "June", "July","August", "September", "October","November", "December"];%>
<% var day = entityDate.getDate(); %> 
<% var monthIndex = entityDate.getMonth(); %>
<% var year = entityDate.getFullYear(); %>
</pre>
<!-- Change image url -->
<div style="background-color:#F7F9FA !important;background: url('http://img42.com/kveXP+')right top;background-repeat: no-repeat; text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; height: 100%;">

  <!-- Layout Header title and links -->
  <div style="padding: 30px 0 25px 0; text-align: center;">
    <p style="font-size:36px;color:#454B4D">CrowdVoice.by</p>
    <p style="font-size:12px;color:#A1B0B3;"><%= monthNames[monthIndex] + ' ' + day +', ' + year %></p>
  </div>

  <!-- Layout Main content -->
  <center style="padding: 0 0 40px 0;">
    <div style="display: inline-block; width: 550px; padding: 30px 0 30px 0; background-color: #FFFFFF; color: #4c4b49; border-radius: 0px;border-top:10px solid;border-top-color:#FF9400;box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);">

      <!-- Message notification greeting -->
      <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0 0 0 -3px;">
        <tbody>
          <tr>
            <td style="padding: 40px; text-align: left;">
              <div style="line-height: 23px;">
                <p style="font-size:18px;color:black;font-weight:300;">Reset Password</p>
                <p style="font-size:15px;color:black;">
                  We’ve got a request from you to reset your password. Click on the button below for instuctions on how to reset your password. If this request was a mistake, ignore this email.</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Layout Button Separator -->
      <hr style="border-top:1px solid #DFE4E6;">

      <!-- Layout Buttons area -->
      <div style="font-size: 15px; line-height: 23px; color: #a6a39d;; padding: 30px;margin-top:20px">
      <!-- Message notitification reply button-->
        <a href="<%= CONFIG.siteUrl[application.env] %>/session?username=<%= user.username %>&token=<%= user.token %>&reset=true" target="_blank" style="text-decoration:none;color:white;background-color:#FF9400;padding:22px 80px;border-radius:5px;border-bottom:5px solid #E68600;" >Reset Password</a>
      </div>
    </div>

    <!-- Layout footer -->
      <div style="font-size: 13px; padding: 30px 0 0 0; color: #66635c;text-align:center;">
        <a target="_blank" href="https://twitter.com/CrowdVoice" style="padding: 0px 10px;text-decoration:none;vertical-align:super;"><img src="<%= CONFIG.siteUrl[application.env] %>/img/icons/icon-circle-twitter.png"/></a>
        <a target="_blank" href="<%= CONFIG.siteUrl[application.env] %>" style="padding: 0px 10px;text-decoration:none;vertical-align: middle;"><img src="<%= CONFIG.siteUrl[application.env] %>/img/icons/icon-logo-cv.png"/></a>
        <a target="_blank" href="https://www.facebook.com/crowdvoice" style="padding: 0px 10px;text-decoration:none;vertical-align:super;"><img src="<%= CONFIG.siteUrl[application.env] %>/img/icons/icon-circle-facebook.png"/></a>
        <p style="font-size:12px;color:A1B0B3;">© Majal, 2015. All Rights Reserved</p>
      </div>
  </center>
</div>