<pre>
<% var entityDate = new Date();  %>
<% var monthNames = ["January", "February", "March","April", "May", "June", "July","August", "September", "October","November", "December"];%>
<% var day = entityDate.getDate(); %> 
<% var monthIndex = entityDate.getMonth(); %>
<% var year = entityDate.getFullYear(); %>
</pre>
<!-- Change Background Image -->
<div style="background-color:#F7F9FA !important;background: url('http://img42.com/kveXP+')right top;background-repeat: no-repeat; text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; height: 100%;">

  <!-- Layout Header title and links -->
  <div style="padding: 30px 0 25px 0; text-align: center;">
    <p style="font-size:36px;color:#454B4D">CrowdVoice.by</p>
    <p style="font-size:12px;color:#A1B0B3;"><%= monthNames[monthIndex] + ' ' + day +', ' + year %>  •  <a style="color:#A1B0B3"href="#" target="blank_">View in Browser</a></p>
  </div>

  <!-- Layout Main content -->
  <center style="padding: 0 0 40px 0;">
    <div style="display: inline-block; width: 550px; padding: 30px 0 30px 0; background-color: #FFFFFF; color: #4c4b49; border-radius: 0px;border-top:10px solid;border-top-color:#FF9400;box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);">

      <!-- Signup notification greeting -->
      <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0 0 0 -3px;">
        <tbody>
          <tr>
            <td style="padding: 50px; text-align: left;">
              <div style="line-height: 23px;">
                <p style="font-size:18px;color:black;font-weight:300;">Welcome to CrowdVoice.by! Thanks for signing up.</p>
                <p style="font-size:15px;color:black;">
                  Before you can start using CrowdVoice.by we need you to activate your account. To do so, please click on the link below or copy and paste it in your browser.<br><br>

                  <b>Activation link:</b><br>
                  <a href="<%= CONFIG.siteUrl[application.env] %>/session?username=<%= user.username %>&token=<%= user.token %>" style="font-size:13px;color:#FF9400;word-break: break-all;">
                    <%= CONFIG.siteUrl[application.env] %>/session?username=<%= user.username %>&token=<%= user.token %>
                  </a>
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <!-- Layout footer -->
      <div style="font-size: 13px; padding: 30px 0 0 0; color: #66635c;text-align:center;">
        <a target="blank_" href="https://twitter.com/CrowdVoice" style="padding: 0px 10px;text-decoration:none;vertical-align:super;"><img src="<%= CONFIG.siteUrl[application.env] %>/img/icons/icon-circle-twitter.png"/></a>
        <a target="blank_" href="<%= CONFIG.siteUrl[application.env] %>" style="padding: 0px 10px;text-decoration:none;vertical-align: -webkit-baseline-middle;"><img src="<%= CONFIG.siteUrl[application.env] %>/img/icons/icon-logo-cv.png"/></a>
        <a target="blank_" href="https://www.facebook.com/crowdvoice" style="padding: 0px 10px;text-decoration:none;vertical-align:super;"><img src="<%= CONFIG.siteUrl[application.env] %>/img/icons/icon-circle-facebook.png"/></a>
        <p style="font-size:12px;color:A1B0B3;">© Majal, 2015. All Rights Reserved</p>
      </div>
  </center>
</div>