/* =========================================================================== *
 *  vendor :: sanitize.css - render elements consistently across browsers
 * =========================================================================== */
@import (inline) "../../node_modules/sanitize.css/dist/sanitize.css";

/* =========================================================================== *
 *  vendor :: loaders.css - Delightful, performance-focused pure css loading animations.
 * =========================================================================== */
@import (inline) "../../node_modules/loaders.css/loaders.css";

/* =========================================================================== *
 *  vendor :: gemini-scrollbar :: Custom overlay-scrollbars with native scrolling mechanism.
 * =========================================================================== */
@import (inline) "../../node_modules/gemini-scrollbar/gemini-scrollbar.css";

/* =========================================================================== *
 *  lib :: kabinett
 * =========================================================================== */
@import "kabinett-config";


/* =========================================================================== *
 * cv globals / general styles
 * =========================================================================== */

 /*******************************************
                @color palette
*******************************************/

@import 'variables';

// Color Utilities : .mixin-color (color, name) : creates the following class selectors.
// + .-color-{name} [color, fill]
// + .-color-bg-{name} [background-color]
// + .-color-border-{name} [border-color]
.mixin-color(@color-neutral-mid, neutral-mid);
.mixin-color(@color-negative, negative);

body {
  overflow-x: hidden;
}

a {
  cursor: pointer;
  color: @color-primary;
  text-decoration: underline;
}

body > .yield {
  padding-top: @cv-header-height;

  &::after {
    content: '';
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: fade(@color-black, 20%);
    transition-property: opacity, visibility;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    z-index: 1;
  }
}

body > .yield.-is-paused {
  &::after {
    visibility: visible;
    opacity: 1;
  }
}

.dark-background,
.dark-background--inverted {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.dark-background::before {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.dark-background--inverted::before {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.controller-errors{
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: #ffe760;
  border-bottom: 1px solid #d3bc44;
  padding: 10px;
  box-shadow: 0px 2px 8px rgba(0,0,0, .2);
  font-size: 18px;
  color: #333;
}
/* =========================================================================== *
 * cv components
 * =========================================================================== */
@import './components/search';
@import './components/notifications';
@import './components/alert';
@import './components/header';
@import './components/sidebar';
@import './components/footer';
@import './components/logo';
@import './components/tags';
@import './components/voice-cover';
@import './components/card';
@import './components/responsive-slider';
@import './components/post';
@import './components/date-picker';
@import './components/dropdown';
@import './components/captions';
@import './components/badge';
@import './components/colored-backgrounds';
@import './components/custom-text-underline';
@import './components/widgets';

@import './components/voice-posts-layer';
@import './components/voice-add-content';
@import './components/input-clearable';
@import './components/post-creators/post-creator';
@import './components/post-creators/from-url/post-creator-from-url';
@import './components/post-creators/from-sources/post-creator-from-sources';
@import './components/post-creators/from-sources/source-youtube';
@import './components/post-creators/from-sources/source-google-news';
@import './components/post-creators/upload-file/post-creator-upload-file';
@import './components/post-creators/write-article/post-creator-write-article';
@import './components/post-details/post-detail';
@import './components/post-edit';

/* =========================================================================== *
 * cv views
 * =========================================================================== */
@import './views/home';
@import './views/inner';
@import './views/voice';
@import './views/profile';
@import './views/about';
@import './views/login';
@import './views/messages';
@import './views/search';



