.widget-card {
  margin-bottom: 1px;
  padding-top: 44px;

  &.has-actions {
    .card_info-wrapper {
      padding-bottom: 80px;
    }
    .card_actions {
      display: block;
    }
  }
}

.card-inner {
  position: relative;
  min-height: 450px;
  border: 1px solid fade(@color-black, 20%);
  border-radius: 8px;
  background-color: @color-white;
  box-shadow: 0 1px 2px fade(@color-black, 10%);
}

.card_background-image-wrapper {
  margin: -1px -1px 0 -1px;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &:extend(.dark-background all);
}

.card_info-wrapper {
  padding: 25px 30px 20px;
  text-align: center;
}

.card_avatar {
  width: 88px;
  margin-top: -44px;
  border: 2px solid @color-white;
  background-color: @color-white;
}

.card_username {
  margin-top: 11px;
}

.card_username-link {
  font-size: 11px;
  color: @color-white;
  opacity: 0.8;
}

.card_fullname {
  font-size: 18px;
  line-height: 27px;
  margin: 5px 0 0;
  padding: 0 1em;
  white-space: normal;
  color: @color-white;
}

.card_stats {
  padding: 10px 0 20px;
  color: @color-white;
}

.card-stat-item {
  float: none;
  display: inline-block;
  padding: .5em 0 1em;
}

.card_description {
  margin-bottom: 1.7rem;
  white-space: normal;
}

.card_meta-location {margin-right: 1rem}
.card_meta-joined-at {margin-left: 1rem}
.card_meta-svg {
  width: 14px;
  height: 14px;
  margin-right: .5rem;
  fill: @color-neutral-light;
}
.card_meta-joined-at-text,
.card_meta-location-text {
  font-size: 11px;
  line-height: 14px;
  color: @color-neutral-mid;
}

.card_meta-location {}
.card_meta-location-text {}

.card_meta-joined-at {}
.card_meta-joined-at-text {}

/* actions */
.card_actions {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 58px;
  background-color: #fff;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  text-align: center;
}

.card-actions-item {
  height: 100%;
  padding-top: 1rem;
  border-right: 1px solid @color-grey-lighter;
  cursor: pointer;
  color: @color-grey-light;
  fill: @color-grey-light;
  transition: background-color 140ms ease, box-shadow 140ms ease;

  &:last-child {border-right: 0}

  .card-activity-svg {
    transition: fill 240ms ease;
  }

  &:hover {
    color: @color-primary;
    fill: @color-primary;
  }

  &:active {
    background-color: tint(@color-grey-lighter, 50);
    box-shadow: inset 0 3px 0 @color-grey-lighter;
  }
}

.card-actions-label {
  font-size: 11px;
  transition: color 240ms ease;
}

.card-actions-follow-button {
  .following-button {
    color: @color-positive-dark;
    fill: @color-positive-dark;
  }

  .unfollow-button {
    display: none;
    color: @color-negative;
    fill: @color-negative;
  }

  &:hover {
    .following-button {display: none}
    .unfollow-button {display: block}
  }
}

/* =========================================================================== *
 * card-mini
 * =========================================================================== */
.card-mini-info {
  margin-left: 46px;
}

.card-mini-username {
  font-size: 11px;
  color: @color-neutral-mid;
}
