.widget-card {
  margin-bottom: 1px;
  padding-top: 44px;

  &.has-actions {
    .card_info-wrapper {
      padding-bottom: 80px;
    }
    .card_actions {
      display: block;
    }
  }
}

.card_background-image-wrapper {
  border-radius: 6px 6px 0 0;
}

.card_info-wrapper {
  position: relative;
  padding: 25px 30px 20px;
  border-width: 0 1px 1px;
  border-style: none solid solid;
  border-color: #ccc;
  text-align: center;
  border-radius: 0 0 6px 6px;
  background-color: #fff;
}

.card_avatar {
  width: 88px;
  margin-top: -44px;
  border: 2px solid @color-white;
  background-color: @color-white;
}

.card_username {
  margin-top: 11px;
}

.card_username-link {
  font-size: 12px;
  color: @color-white;
  opacity: 0.8;
}

.card_fullname {
  font-size: 18px;
  line-height: 27px;
  margin: 5px 0 0;
  padding: 0 1em;
  white-space: normal;
  color: @color-white;
}

.card_stats {
  padding: 10px 0 20px;
  color: @color-white;

  .-col-3 {
    padding: .5em 0 1em;
  }
}

.card_description {
  margin-bottom: 1.7rem;
  white-space: normal;
}

.card_meta-location {margin-right: 1rem}
.card_meta-joined-at {margin-left: 1rem}
.card_meta-svg {
  width: 14px;
  height: 14px;
  margin-right: .5rem;
  fill: @color-neutral-light;
}
.card_meta-joined-at-text,
.card_meta-location-text {
  font-size: 11px;
  line-height: 14px;
  color: @color-neutral-mid;
}

.card_meta-location {}
.card_meta-location-text {}

.card_meta-joined-at {}
.card_meta-joined-at-text {}

.card_actions {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 58px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
}
