.cv-feed-item__info-main {
  .main-avatar,
  .main-text {
    display: inline-block;
  }

  .main-avatar {
    width: 28px;
    height: 28px;
  }

  .main-text {
    margin: 3px 0 0 10px;
  }
}

.cv-feed-item__info-extra {
  margin: 10px 0 0 38px;
  &:empty {margin: 0;}
}

.cv-feed-item__time {
  font-size: 11px;
  line-height: 1;
  text-align: right;
  color: @color-neutral-mid;
}

/* message */
.cv-feed-item.message .cv-feed-item__info-extra {
  font-size: 11px;
  color: @color-neutral-mid;

  &:before {content: '“'}
  &:after {content: '...”'}
}
