/* =========================================================================== *
 *  globally shared
 * =========================================================================== */
.cv-main-footer {
  padding: 33px 0 25px;
  background: @color-neutral-xx-light;
  color: @color-neutral-mid;

  .footer-menu {
    text-align: center;
    -webkit-font-smoothing: antialiased;

    a {
      padding: 0px 10px;

      &.side{
        margin-top: 8px;
        display: inline-block;
        svg{
          width: 24px;
          height: 24px;
          fill: @color-neutral-xx-mid;
        }
        svg:hover{
          fill: black;
          transition: all 0.5s ease;

        }
      }

      &.logo{
        svg{
          width: 32px;
          height: 36px;
          font-size: 17px;
          font-weight: bold;
        }
      }
    }
  }
}

.footer-copy {
  font-size: 12px;
  margin-top: 18px;
}

/* =========================================================================== *
 *  home page
 * =========================================================================== */
.page-home .cv-main-footer {
  padding-left: @cv-sidebar-width;
  padding-right: 2rem;
}

