/* =========================================================================== *
 *  home page
 * =========================================================================== */
body.page-home > .cv-main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* =========================================================================== *
 *  inner pages
 * =========================================================================== */
body.page-inner .cv-main-header {
  position: absolute;
  left: 0;
  right: 0;

  .cv-main-logo-type {
    padding-left: 1.5rem;
  }
}

/*.page-inner {*/
  .header-login-actions {
    /*padding-top: 1.45rem;*/
  }

  .account-info-avatar {
    margin: .45rem .5rem 0;
  }

  .account-info-name {
    font-size: 20px;
    text-decoration: underline;
  }

  .actions-wrapper {
    padding: .35rem .22rem;
    margin: .6rem 0 0 .25rem;
    border: 1px solid @color-grey-light;
    border-radius: 2px;
  }

  .actions-dropdown-svg {
    width: 9px;
    height: 6px;
  }
/*}*/

/* =========================================================================== *
 *  globally shared
 * =========================================================================== */
body > .cv-main-header {
  z-index: 1;
  height: @cv-header-height;
  border-bottom: 2px solid rgba(0,0,0,.15);
}

.header-login-actions {
  padding: 1.5rem 2rem 0 .5rem;
  .login-action-list{
    padding-top: .5rem;
  }
}

.header-actions  {
  display: inline-block;
  padding-top: 1.6rem;
  padding-right: 1rem;
}

.header-actions-svg {
  width: 14px;
  height: 14px;
  margin: .5rem .5rem 0;
  fill: @color-grey-light;
}

.header-search {
  padding-right: 1.5rem;
}
