.post-edit-add-cover-button {
  display: none;
  margin: 0 auto 26px;

  &.active {
    display: block;
  }
}

.edit-mode {
  .post-card-title,
  .post-card-description {
    padding: 2px 5px;
    border: 1px solid #b8b8c1;
    border-radius: 4px;

    &:focus {
      outline-style: solid;
      outline-width: 2px;
    }
  }

  .post-card-description {
    margin-bottom: .5em;
  }

  .post-card-info {
    padding-bottom: 15px;
  }

  .post-card-svg-magnifier,
  .post-card-image-wrapper::before,
  .post-card-activity {
    display: none;
  }

  .cv-input-counter {
    font-size: 12px;
    line-height: 1;
    padding: 2px 3px 10px 0;
    text-align: right;
    color: @color-grey-light;

    &.max-reached {
      color: @color-danger;
    }
  }

  &.has-bottom-actions {
    padding-bottom: 20px;
  }
}

.post-edit-image-controls {
  position: absolute;
  top: 10px;
  left: 10px;
}

.post-edit-images-nav {
  display: none;
  margin-right: 10px;

  .ui-btn {
    padding: 2px;
  }

  &.active {
    display: inline-block;
  }
}

.post-edit-images-nav-svg {
  width: 16px;
  height: 16px;
}

.post-edit-date-picker {
  margin-top: -3px;

  .ui-input-auto .ui-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.post-date-picker-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.post-edit-date-picker-calendar {
  width: 12px;
  height: 12px;
}

/* moderate */
.post-moderate-remove-btn.cv-button {
  top: -10px;
  right: -10px;
  padding: 0 5px;

  .-m0;
}

.post-moderate-publish-btn {
  bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .-m0;
}

.post-moderate-vote-buttons {
  left: -1px;
  right: -1px;
  bottom: -2px;
}

.post-moderate-allow-btn,
.post-moderate-deny-btn {
  width: 50%;

  .-m0;
}

.post-moderate-allow-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
}

.post-moderate-deny-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}
