
/* =========================================================================== *
 *  home page
 * =========================================================================== */
body.page-home > .cv-main-sidebar {
  top: 74 + 50px;
  left: 0;

  .cv-main-logo {display: none}

  .sidebar-link {
    color: @color-grey;
  }

  .sidebar-link:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 7px;
    height: 100%;
    border-radius: 0 2px 2px;
  }

  .sidebar-link.-is-active:before {
    background-color: @color-primary;
  }
}

/* =========================================================================== *
 *  inner pages
 * =========================================================================== */
body.page-inner > .cv-main-sidebar {
  top: 0;
  bottom: 0;
  left: -(@cv-sidebar-width - @cv-sidebar-collapsed-width);
  overflow: hidden;
  background-color: darken(@color-grey-dark, 10%);
  transition: transform 400ms ease-in-out;

  .sidebar-nav {
    transform: translateX(@cv-sidebar-width - @cv-sidebar-collapsed-width);
    transition: transform 400ms ease-in-out;
  }

  .cv-main-logo-type,
  .sidebar-heading,
  .sidebar-link-label {
    opacity: 0;
    transition: opacity 240ms ease;
  }

  .sidebar-link {color: @color-grey-light}
  .sidebar-link-svg {fill: @color-grey-light}
}

body.page-inner > .cv-main-sidebar .cv-main-logo {
  margin-bottom: 55px;
  background-color: #000;

  .logo-type-cv {color: @color-white}
  .logo-type-by {color: @color-grey}
}

body.page-inner > .cv-main-sidebar.-is-expanded {
  .sidebar-nav {
    transform: translateX(0);
  }

  .cv-main-logo-type,
  .sidebar-heading,
  .sidebar-link-label {
    opacity: 1;
  }
}

/* =========================================================================== *
 *  globally shared
 * =========================================================================== */
body > .cv-main-sidebar {
  position: fixed;
  width: @cv-sidebar-width;
  transform: translateZ(0);
  z-index: 2;

  .cv-main-logo {
    height: @cv-header-height;
  }
}

body > .cv-main-sidebar.-is-expanded {
  transform: translateX(@cv-sidebar-width - @cv-sidebar-collapsed-width) translateZ(0);
}

.sidebar-link,
.sidebar-heading {
  padding-left: 1.5em;
}

.sidebar-link {
  font-size: 14px;
  display: block;
  height: 28px;
  margin-bottom: .5em;
  padding-top: .4em;
  white-space: nowrap;
  transition: color 240ms ease, transform 100ms ease-out;

  &:hover,
  &.-is-active {
    color: @color-primary;

    .sidebar-link-svg {fill: @color-primary}
  }

  &:hover {transform: translateX(4px)}

  &.-is-active {
    transform: translateX(0);
  }

  &-svg {
    width: 16px;
    height: 16px;
    fill: @color-grey;
    transition: fill 240ms ease;
  }

  &-label {
    padding-left: .5em;
    line-height: 1.25em;
  }
}

.sidebar-heading {
  font-size: 1rem;
  margin-top: 2em;
  font-weight: 200;
  color: @color-grey-light;
}
