.voice-add-content {
  position: fixed;
  right: 2rem;
  bottom: 6rem;
  transform: translateZ(0);
}

.voice-add-post-button {
  font-size: 3rem;
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  span {
    line-height: 0.4;
    position: absolute;
    top: 19px;
    left: 19px;
    width: 22px;
    height: 22px;
    transition: transform 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  &.active {
    span {
      transform: rotate(-45deg);
    }
  }
}

.voice-add-content-bubble {
  .popover-content {
    padding: 0;
  }

  .voice-add-content__option {
    white-space: nowrap;
    border-bottom: 1px solid;
    padding: .5em 2em .5em 1.25em;
  }

  .voice-add-content__option-svg {
    width: 16px;
    height: 16px;
    margin: 2px 5px 0 0;
  }

  .voice-add-content__option-label {
  }

  .voice-add-content__option-tooltip {
    margin-left: 5px;

    .ui-tooltip {
      width: 200px;
      white-space: initial;
    }
  }
}
