.cv-voice-timeline-feedback {
  position: absolute;
  top: -10px;
  left: 0;
  opacity: 0;
  transition: opacity 400ms ease 400ms;

  &.active {
    opacity: 1;
  }
}

.cv-voice-timeline-clock {
  position: relative;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 50%;
  background: white;
}

.timeline-clock-h,
.timeline-clock-m {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  transform-origin: 50% 1px;
  margin: -1px 0 0 -1px;
  background-color: @root-text-color;
}

.timeline-clock-h {
  height: 4px;
  transform: rotateZ(180deg);
}

.timeline-clock-m {
  height: 5px;
  transform: rotateZ(-90deg);
}

.voice-timeline-popover {
  width: 330px;

  .ui-popover-body {
    height: 330px;
    overflow: auto;
  }

  &_label {
    font-size: 10px;
    padding: .5em 1em .5em 2em;
  }

  &_option {
    position: relative;
    padding-left: 3.5em;

    &.active {
      font-weight: bold;
      color: @color-primary;

      .option-svg {
        display: block;
      }
    }
  }

  .option-svg {
    display: none;
    width: 11px;
    height: 11px;
    left: 27px;
    top: 13px;
  }
}

.ui-popover-backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
