.cv-voice-timeline-feedback {
  position: absolute;
  top: -10px;
  left: 0;
  opacity: 0;
  transition: opacity 400ms ease 400ms;

  &.active {
    opacity: 1;
  }
}

.cv-voice-timeline-clock {
  position: relative;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 50%;
  background: white;
}

.timeline-clock-h,
.timeline-clock-m {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  transform-origin: 50% 1px;
  margin: -1px 0 0 -1px;
  background-color: @root-text-color;
}

.timeline-clock-h {
  height: 4px;
  transform: rotateZ(180deg);
}

.timeline-clock-m {
  height: 5px;
  transform: rotateZ(-90deg);
}

.voice-timeline-popover {
  width: 330px;

  .popover-title {
    font-size: 1.25rem;
    padding: 1em;
    border-bottom: 1px solid @color-grey-light;
    font-weight: bold;
  }

  .popover-content {
    padding: 0;
    height: 330px;
    overflow: auto;
    border-radius: 0 0 6px 6px;
  }

  &_label {
    font-size: .9rem;
    line-height: 1;
    padding: .5em 1em;
    font-weight: bold;
    background-color: @color-grey-lighter;
  }

  &_option {
    position: relative;
    line-height: 1;
    padding: .75em .75em .75em 2.5em;
    border-bottom: 1px solid @color-grey-light;

    &.active {
      font-weight: bold;

      &:before {
        content: '✔';
        position: absolute;
        left: 12px;
        color: green;
      }
    }
  }
}

.ui-popover-backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
