.voice-add-content {
  position: fixed;
  right: 2rem;
  bottom: 6rem;
  transform: translateZ(0);
}

.voice-add-post-button {
  font-size: 3rem;
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  &.active .voice-add-post-button-svg {
    transform: rotate(-45deg);
  }
}

.voice-add-post-button-svg {
  width: 28px;
  height: 28px;
  top: 15px;
  left: 16px;
  transition: transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.voice-add-content-bubble {
  .voice-add-content__option {
    white-space: nowrap;
    padding-right: 3em;
  }

  .voice-add-content__option-svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  .voice-add-content__option-label {
  }

  .voice-add-content__option-tooltip {
    font-size: 12px;
    margin-left: 6px;

    .ui-tooltip {
      pointer-events: none;
      width: 200px;
      white-space: initial;
      line-height: initial;
    }
  }
}
