.cv-voice-posts-layer {
  position: relative;
  padding-top: 6em;

  &.first {
    padding-top: 4em;
  }

  &.last .cv-voice-posts-layer__detector {
    bottom: 0;
  }
}

.cv-voice-posts-layer__detector {
  position: absolute;
  top: -1000px;
  left: 0;
  bottom: -1000px;
  width: 2px;
}

.cv-voice-posts-layer__posts {
  margin: 0 100px 0 1px;
}

.cv-voice-posts-layer__ticks {
  position: absolute;
  top: 6em;
  right: 0;
  bottom: 0;
  width: 90px;
  z-index: 0;

  .cv-voice-posts-layer.first & {
    top: 4em;
  }
}

.cv-voice-tick-indicator {
  position: inherit;
  font-size: .8rem;
  width: 100%;
  opacity: 0;

  &.active {
    border-top-width: 1px;
    border-color: @color-grey-light;
    color: @color-grey-light;
    opacity: 1;
  }
}

.cv-voice-tick-indicator-label {
  pointer-events: none;
  display: inline-block;
  padding: 5px;
  line-height: 1;
}

.voice-moderate-wrapper .cv-voice-tick-indicator.active {
  border-color: @color-neutral-dark;
  color: @color-neutral-xx-mid;
}
