.cv-voice-posts-layer {
  position: relative;
  // background-color: rgba(0, 244, 0, .25);
  padding: 6em 0 6em 1px;
  margin-top: -6em;

  &.first {
    padding-top: 0;
    margin-top: 0;
  }

  &.last {
    margin-bottom: -4em;
  }
}

.cv-voice-posts-layer__posts {
  width: e('calc(100% - 100px)');
  // background-color: rgba(135, 206, 235, .5);
}

.cv-voice-posts-layer__ticks {
  position: absolute;
  top: 6em;
  right: 0;
  bottom: 0;
  width: 90px;
  z-index: 0;

  .cv-voice-posts-layer.first & {
    top: 0;
  }
}

.cv-voice-tick-indicator {
  position: inherit;
  font-size: .8rem;
  width: 100%;
  opacity: 0;

  &.active {
    border-top: 1px solid;
    opacity: 1;
  }
}

.cv-voice-tick-indicator-label {
  pointer-events: none;
  display: inline-block;
  padding: 5px;
  line-height: 1;
}
