.cv-voice-timeline-feedback {
  position: absolute;
  top: -10px;
  left: 0;
  padding: 1px;
  opacity: 1;
  background-color: @color-white;
  border-radius: 50%;
  transition: opacity 400ms ease 400ms;

  &.disable {
    opacity: 0;
  }

  &:hover {
    .cv-voice-timeline-clock {border-color: @color-primary}

    .timeline-clock-h,
    .timeline-clock-m {background-color: @color-primary}
  }

  &.active {
    background-color: @color-primary;

    .cv-voice-timeline-clock {border-color: @color-white}

    .timeline-clock-h,
    .timeline-clock-m {background-color: @color-white}
  }
}

.cv-voice-timeline-clock {
  position: relative;
  width: 13px;
  height: 13px;
  border: 1px solid @color-neutral-x-dark;
  border-radius: 50%;
}

.timeline-clock-h,
.timeline-clock-m {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 4px;
  transform-origin: 50% 0;
  background-color: @color-neutral-x-dark;
}

.timeline-clock-h {
  transform: rotateZ(180deg);
}

.timeline-clock-m {
  transform: rotateZ(-90deg);
}

.voice-timeline-popover {
  width: 330px;

  .ui-popover-body {
    height: 330px;
    overflow: auto;
  }
}

.voice-timeline-popover_label {
  font-size: 10px;
  padding: .5em 1em .5em 2em;
}

.voice-timeline-popover_option {
  position: relative;
  padding-left: 3.5em;

  &.active .option-svg {
    display: block;
  }

  .option-svg {
    display: none;
    width: 11px;
    height: 11px;
    left: 27px;
    top: 13px;
  }

  .cv-caption {
    margin-left: 6px;
  }
}
