
.cv-button{
  border: 1px solid #cccccc;
  background: #ffffff;
  color: #808080;
  box-shadow: inset 0px -2px 0px #f2f2f2;
  border-radius: 4px;
  height: 25px;
  /*text-transform: uppercase;*/
  line-height: 20px;
  font-size: 12px;
  padding: 0px 13px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  outline: none;
  margin: 0px 3px;
}
.cv-button span{
  display: inline-block;

}
.cv-button.following{
  background: url('/img/dropdown-i-arrow.png') 10px 50% no-repeat;
  padding-left: 27px;
}
.cv-button.primary{
  background-color: #ef631f;
  border: none;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  line-height: 19px;
}
.cv-button.clean{
  background-color: #fff;
  border: none;
  box-shadow: none;
  color: #333;
  font-weight: bold;
  line-height: 19px;
}

.cv-button.full{
  width: 100%;
  margin: 0;
}
.cv-button.twice.full span{
  width: 50%;
}
.cv-button.blink{
  color: #ef631f;
}

.cv-button.disabled{
  opacity: .3;
}

.cv-button.multiple,
.cv-button.twice{
  padding: 0px;
}
.cv-button.twice span,
.cv-button.multiple span{
  border-right: 1px solid #ccc;
  padding: 0px 10px;
  height: 100%;
  line-height: 23px;
  min-width: 50px;
}
.cv-button.twice span:last-child,
.cv-button.multiple span:last-child{
  border-right: none;
}

.cv-button.multiple span.active{
  background: #f2f2f2;
  box-shadow: inset 0px 2px 0px #e6e6e6;
  padding-top: 1px;
}

.cv-image{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #b2b2b2;
  overflow: hidden;
  .placeholder{
    background: #fff url('/img/img-placeholder.png') 50% no-repeat;
    height: 100px;
  }
  .button{
    background-color: #ef631f;
    border: none;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
    color: #ffffff;
    line-height: 19px;
    text-align: center;
    height: 36px;
    padding-top: 8px;
    cursor: pointer;
  }
}

.cv-check{
  color: #6f6f6f;
  font-size: 11px;
  margin: 5px 0px;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 20px;
  input{
    margin-right: 6px;
  }
}

.cv-input{
  border: 1px solid #b2b2b2;
  background: #fff;
  border-radius: 3px;
  box-shadow: inset 0px -2px 5px rgba(0,0,0, .1);
  min-width: 150px;
  outline: none;
  padding-left: 5px;
}
.cv-input.full{
  min-width: 100%;
}
.cv-input.full input{
  width: 100%;
  padding-left: 5px;

}
.cv-input textarea{
  width: 100%;
  height: 48px;
  outline: none;
  padding: 5px 8px;
  line-height: 18px;
  padding-left: 0px;
}
.cv-input.is-area{
  /*margin-bottom: 10px;*/
}

.cv-input input{
  outline: none;
  width: 100%;
}
.cv-input .search-svg{
  display: none;
  width: 14px;
  height: 14px;
  margin: 0.2rem .5rem 0;
  fill: #b8b8c1;
}

.cv-select{
  height: 26px;
  max-width: 169px;
  font-size: 12px;
  /*font-weight: bold;*/
  color: #6f6f6f;
  display: inline-block;
  position:relative;
  min-width: 100px;
  vertical-align: top;
  text-align: left;
  height: 100%;
  margin-bottom: 10px;
  margin-right: 5px;
}
.cv-select.full{
  max-width: 100%;
  width: 100%;
  .cv-select-body{
    width: 100%;
  }
  .cv-select-body li {
    width: 50%;
    display: inline-block;
  }
}
.cv-select > span.label{
  display: block;
  color: #999999;
  font-size: 12px;
  height: 21px;
}
.cv-select span.label span{
  color: #b3b3b3;
  padding-left: 5px;
  font-size: 11px;
}
.cv-select .cv-select-head{
  cursor: pointer;
  height: 100%;
  box-shadow: inset 0px -2px 0px #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
}
.cv-select .cv-select-head:after{
  content: "";
  background: url('/img/dropdown-i-arrow.svg') center no-repeat;
  width: 12px;
  height: 22px;
  display: inline-block;
  float: right;
  margin-right: 8px;
}
.cv-select.no-arrow .cv-select-head:after{
  display: none;
}
.cv-select.check .cv-select-head:after{
  /*display: none;*/
}
.cv-select.following .cv-select-head{
  background: url('/img/dropdown-i-arrow.png') 10px 50% no-repeat;
  padding-left: 17px;
}
.cv-select.check .count{
  display: none;
}
.cv-select.active .cv-select-head{
  background-color: #f2f2f2;
  box-shadow: inset 0px 2px 0px #e6e6e6;
}
.cv-select.active .cv-select-head span.label:hover{
  cursor: pointer;
}
.cv-select.active .cv-select-head:after{
  transform: rotate(180deg);
}
.cv-select .cv-select-head span.label{
  display: inline-block;
  padding: 2px 10px 2px 10px;
  white-space: nowrap;
  max-width: 115px;
}
.cv-select .count{
  width: 16px;
  height: 22px;
  display: inline-block;
  float: right;
  margin-right: 8px;
  display: none;
  padding-top: 2px;
  font-size: 11px;
}
.cv-select .count:before{
  content: "(";
}
.cv-select .count:after{
  content: ")";
}
.cv-select .cv-select-body{
  display: none;
  background: #ffffff;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 3px;
  margin-top: 1px;
  box-shadow: 0px 3px 6px rgba(0,0,0, .18);
  border-bottom: 1px solid transparent;
  padding: 9px;
  padding-top: 10px;
  position: absolute;/* fix */
  z-index: 1;
  min-width: 140px;
}
.cv-select .cv-select-body ul,
.cv-select .cv-select-body li{
  list-style: none;
}
.cv-select .cv-select-body li{
  margin: 5px auto;
  position: relative;
}
.cv-select .cv-select-body li:hover ul{
  display: block;
}
.cv-select .cv-select-body li ul{
  position: absolute;
  top: -5px;
  left: 100%;
  width: 150px;
  background: #fff;
  /*margin-left: 9px;*/
  box-shadow: 9px 8px 9px -7px rgba(0, 0, 0, 0.18);
  display: none;
}
.cv-select .cv-select-body li:hover{
  cursor: pointer;
  background: #eee;
}
.cv-select.check .cv-select-body li:hover{
  background: none;
}
.cv-select .cv-select-body li.selected .option{
  /*background: url('/img/dropdown-i-arrow.png') left 50% no-repeat;*/
  font-weight: bold;
}
.cv-select .cv-select-body li .option{
  padding-left: 7px;
  /*padding-left: 17px;*/
}
.cv-select .cv-select-body li .check{
  margin: 7px auto;
  padding-left: 6px;
}

.cv-select.over{
  font-weight: bold;
  font-size: 14px;
  width: 160px;
}
.cv-select.over .head{
  border: none;
  box-shadow: none;
  background: none;
}
.cv-select.over .cv-select-body{
  width: 110%;
  top: -15px;
  left: -17px;
}

.cv-select.mini{
  height: 25px;
  font-size: 11px;
  font-weight: normal;
}
.cv-select.mini .cv-select-body{
  margin-top: 2px;
}
.cv-select.mini .cv-select-head{
  height: 25px;
}

.cv-select.icon{
  max-width: 49px;
  min-width: 49px;
}
.cv-select.icon .cv-select-head label{
  height: 100%;
  background: url('/img/ico-gear.svg');
  width: 24px;
  background-repeat: no-repeat;
  background-position: 10px 50%;
}

.cv-select.icon .cv-select-body{
  min-width: 106px;
}
.cv-select.icon .cv-select-body li .option{
  padding-left: 5px;
}

form{
  .send{
    text-align: center;
  }
}
.form-field{
  margin-bottom: 10px;
  label{
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
    span{
      padding-left: 10px;
      text-transform: none;
      color: #aaa;
      font-weight: normal;
    }
  }
}

.cv-bubble.full{
  width: 600px;
}

.cv-bubble,.cv-modal{
  width: 300px;
  max-height: 440px;
  position: relative;
  /*top: 20px;
  left: 30px;*/
  background: #fff;
  box-shadow: 0px 1px 5px rgba(0,0,0, .25);
  border-radius: 10px;
  .header{
    height: 63px;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-top: 10px;
    .line{
      position: absolute;
      width: 100%;
      background: #ccc;
      height: 1px;
      left: 0px;
      top: 36px;
    }
    h3{
      display: inline-block;
      width: auto;
      margin: 13px 0px 0px 18px;
      color: #666;
      position: relative;
      z-index: 1;
      background: #fff;
      padding: 0px 5px;
    }
    button{
      float: right;
      margin: 14px 15px 0px 0px;
      position: relative;
      z-index: 1;
    }
  }
  .body-wrapper{
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .body{
    max-height: 377px;
    overflow-y: scroll;

  }

  .arrow {
    width: 24px;
    height: 24px;
    padding: 5px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
  }
  .arrow div{
    transform: rotate(45deg);
    width: 14px;
    height: 14px;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.25);
    margin-top: -12px;
  }

}

.cv-jumptodate{
  .year{
      .month-title{
          height: 25px;
          border-bottom: 1px solid #ccc;
          background: #eee;
          padding: 2px 0px 0px 15px;
          color: #aaa;
      }
      ul{
        list-style: none;
        li{
          cursor: pointer;
          height: 36px;
          border-bottom: 1px solid #ccc;
          padding: 7px 0px 0px 40px;
          span{
              color: #999;
              font-size: 11px;
              padding-top: 2px;
              display: inline-block;
              padding-left: 5px;
          }
        }
        li.selected{
          background: url('/img/dropdown-i-arrow.png') 15px 50% no-repeat;
          font-weight: bold;
        }
        li:hover{
          background-color: #f6f6f6;
        }
      }
      ul:last-child li:last-child{
        border-bottom: none;
      }
    }
}

.cv-share{
  ul{
    list-style: none;
    li{
      cursor: pointer;
      height: 42px;
      border-bottom: 1px solid #ccc;
      padding: 12px 0px 0px 60px;
      input{
        width: 75%;
      }
      ::-webkit-input-placeholder{
         font-style: italic;
      }
      ::-moz-placeholder{
         font-style: italic;
      }
      :-ms-input-placeholder {
         font-style: italic;
      }
      button{
        height: 22px;
      }
    }
    li.selected{
      font-weight: bold;
    }
    li:hover{
      background-color: #f6f6f6;
    }
    li.twitter{
      background: url('/img/icons/icon-share-twitter.png') 30px 50% no-repeat;
    }
    li.facebook{
      background: url('/img/icons/icon-share-facebook.png') 30px 50% no-repeat;
    }
    li.google{
      background: url('/img/icons/icon-share-googleplus.png') 30px 50% no-repeat;
    }
    li.email{
      background: url('/img/icons/icon-share-email.png') 30px 50% no-repeat;
    }
  }
  ul:last-child li:last-child{
    border-bottom: none;
  }
}


.cv-help{
  padding: 35px;
  height: 240px;
  textarea{
    height: 85px;
  }
  .sent{
    text-align: center;
    h1{
      margin: 0;
    }
    p{
      max-width: 420px;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
}

.cv-notification{
  width: 480px;
  max-height: 440px;
  position: relative;
  padding: 20px;
  /*top: 20px;
  left: 30px;*/
  background: #fff;
  box-shadow: 0px 1px 5px rgba(0,0,0, .25);
  border-radius: 10px;
  overflow: hidden;
  .close{
    position: absolute;
    top: 0;
    right: 0;
    background: url('/img/icons/icon-notification-close.png') 50% no-repeat;
    width: 30px;
    height: 100%;
    background-color: #eee;
    cursor: pointer;
  }
  a{
    text-decoration: underline;
  }
  .notification-text{
    padding: 15px 0px 0px 35px;
    font-size: 11px;
    span{
      color: #999;
      display: block;
    }
  }
  img{
    width: 25px;
    height: 25px;
  }
  .image{
    padding-right: 10px;
  }
  .info{
    height: 25px;
    line-height: 25px;
  }
}

.cv-modal-container{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .5);
  top: 0;
  left: 0;
  z-index: 10;
  .cv-modal{
    left: 50%;
    top: 50%;
    max-height: 680px;
    .body{
      padding: 40px;
      max-height: 620px;
    }
  }
}

.cv-modal{
  .cv-voiceslist{
    padding: 0;
  }
  .cv-voice-cover{
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 16px;
    margin-bottom: 10px;
    .cv-tags{
      margin-bottom: 0;
    }
  }
  .center{
    text-align: center;
  }
}


.cv-voiceslist{
  padding: 30px 35px;
}
.cv-userslist, .cv-voiceslist{
  .voice-title{
    font-size: 11px;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
  }
}
.cv-user{
  border: 1px solid #ddd;
  border-radius: 1px;
  padding: 16px;
  margin-bottom: 10px;

  .img{
    display: inline-block;
    margin-right: 10px;
    img{
      width: 40px;
      height: 40px;
    }
  }
  .info{
    color: #999;
    display: inline-block;
    line-height: 18px;
    padding-top: 5px;
    .name{
      font-size: 14px;
      color: #333;
      font-weight: bold;
    }
    .username{
      font-size: 12px;
      color: #999;
    }
    .location,
    .date{
      font-size: 11px;
      color: #aaa;
    }
  }
  .action{
    float: right;
    padding-top: 10px;
  }
}










