/* ============================================================================
 * From Sources
 * ========================================================================= */
.post-creator-from-sources {
  .input-error-message {
    top: 70px;
    left: 70px;
  }
}

/* HEADER » DROPDOWN */
.from-sources-dropdown {
  border-right-width: 1px;

  .ui-dropdown__head {
    padding: 1.6rem 1.5rem 0;
  }

  .ui-dropdown__body {min-width: 170px}
  .ui-dropdown-arrow {
    position: absolute;
    top: 21px;
    right: 1.5em;
    margin: 6px 0 0 10px;
  }
}

.from-sources-dropdown-option {
  white-space: nowrap;
  line-height: 16px;
}

.from-sources-dropdown-option-svg {
  margin-right: 10px;

  &.youtube-option {
    fill: @color-youtube;
  }
}


/* HEADER » POST BUTTON */
.from-sources-post-button {
  padding: 12px 1.5rem 0;
  border-left-width: 1px;
}

/* BODY » CONTENT */
.post-creator-from-sources .cv-post-creator__content {
  transform: translate(0, 100%);
  transition: transform 420ms ease-out;
  &.active {
    transform: translate(0, 0%);
  }
}

.from-sources-result {
  display: none;
  &.active {display: block;}
}

.from-sources-no-results,
.from-sources-queue-onboarding {
  display: none;
  padding-top: 12em;
  font-style: italic;

  &.active {display: block;}
}

/* BODY » LEFT PANEL */
.from-sources-content-left {
  border-top-left-radius: 3px;
}

.from-sources-results {
  display: none;

  header {
    font-size: 11px;
    padding: 10px 1em;
    border-bottom: 1px solid @color-neutral-light;
    color: @color-neutral-mid;
  }

  &.active {display: block;}
}

.from-sources-result-list {
  overflow: auto;
  height: e('calc(100vh - 138px)');
}

.source-preview-wrapper {
  padding-right: 100px;
}

.source-add-button {
  top: 1.5rem;
  right: 2rem;
}

/* BODY » RIGHT PANEL */
.from-sources-content-right {
  width: 400px;
  border-top-right-radius: 3px;
  border-left-width: 1px;
}

.from-sources-queue-list {
  overflow: auto;
  height: e('calc(100vh - 100px)');

  .post-editable {
    max-width: 300px;
    margin: 2em auto;
  }
}
