<main role="main" class="cv-main-profile-edit -rel">

  <section class="profile-voices-intro">
      <h1 class="profile-heading -font-bold -m0">Manage My Account</h1>

      <article role="article" class="profile-menu -row -rel">
        <div class="profile-tabs">
          <div class="menu-item active -menu-tab -inline-block">
            <p class="-font-bold">My Profile</p>
          </div>
          <div class="menu-item -menu-tab -inline-block">
            <p class="-font-bold">Account</p>
          </div>
          <div class="menu-item -menu-tab -inline-block">
            <p class="-font-bold">Organizations</p>
          </div>
        </div>
      </article>

  </section>

  <section class="profile-body profile-menu-content -rel">

    <!-- ||||||||||||||||||||||||||||||||
                Profile
     |||||||||||||||||||||||||||||||| -->

    <div class="active -menu-tab-content">
  <% if (currentPerson) { %>
      <form class="form-profile" action="/<%= currentPerson.profileName %>?_method=PUT" method="POST" enctype="multipart/form-data">
  <% } else { %>
      <form class="form-profile">
  <% } %>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <div class="placeholder-images">

          <div class="form-field -inline-block">
              <label>Picture</label>
              <div class="form-profile-image">
                <div class="image-align">
                  <% if (currentPerson.image.exists('card')){ %>
                    <img src="<%= currentPerson.image.url('card') %>">
                  <% }else{ %>
                    <img src="/img/placeholder-image.png">
                  <% } %>
                </div>
              </div>
          </div>

          <div class="form-field -inline-block -rel form-field-image">
              <p class="image-input-label">Replace</p>
              <input type="file" name="image" class="image-input image-upload image-upload-profile cv-button tiny"\>
              <label><span>JPG, GIF or PNG</span></label>
          </div>

          <div class="form-field -inline-block">
              <label>Background</label>
              <div class="form-profile-background">
                <div class="image-align">
                  <% if (currentPerson.background.exists('card')){ %>
                    <img src="<%= currentPerson.background.url('card') %>">
                  <% }else{ %>
                    <img src="/img/placeholder-background.png">
                  <% } %>
                </div>
              </div>
          </div>

          <div class="form-field -inline-block -rel form-field-image">
              <p class="image-input-label">Replace</p>
              <input type="file" name="background" class="image-input image-upload image-upload-background cv-button tiny"\>
              <label><span>JPG, GIF or PNG</span></label>
          </div>

        </div>

        <br><br>

        <div class="-width-50">

          <div class="-col-12 placeholder-main">
          </div>
          <div class="-row">
            <div class="-col-8 -pr1 placeholder-location">
            </div>
            <div class="-col-4 placeholder-pin">
              <div class="form-field">
                <label><span></span></label>
                <div class="icon-text detect-location">Detect</div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="-col-12 placeholder-send"></div>
      </form>
    </div>

    <!-- ||||||||||||||||||||||||||||||||
                Account
     |||||||||||||||||||||||||||||||| -->

    <div class="-menu-tab-content">
      <form class="form-account">
        <div class="-width-50">
          <div class="-col-7 -pr1 placeholder-email">
          </div>
          <div class="-col-5 placeholder-buttons">
            <div class="form-field">
              <label><span></span></label>
            </div>
          </div>

          <div class="-row">
            <div class="-col-7 -pr1 placeholder-password">
            </div>
            <div class="-col-5 placeholder-pin">
              <div class="form-field">
                <label><span></span></label>
                <div class="icon-text edit">Change</div>
              </div>
            </div>
          </div>

        </div>

        <br>
        <hr>
        <br>

        <div class="-width-50">

          <div class="form-field">
            <label>Deactivate Account<span></span></label>
            <div class="text">
              <p class="fade">Deactivating your account will remove it from CrowdVoice.by within a few minutes. You can sign back in whenever to reactivate your account and restore its content.</p>
              <br>
              <a href="#" class="no-style">Deactivate Account</a>
              <br><br>
              <span class="dim">If you want to permanently delete your account and remove your content, please send us a request. It will take a few days to process a full deletion.</span>

            </div>
          </div>

        </div>

      </form>
    </div>

    <!-- ||||||||||||||||||||||||||||||||
                organizations
     |||||||||||||||||||||||||||||||| -->

    <div class="-menu-tab-content">
      <div class="placeholder-organizations">

      </div>
    </div>

  </section>

</main>

<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places">
  </script>

<script>
  // App
  var ns = [];
  <% if (typeof notifications !== "undefined") { %>
    ns = <%= JSON.stringify(notifications) %>;
  <% } %>
  var App = new CV.App({
    notifications : ns,
    currentPerson : currentPerson
  });
  App.addInteractiveSidebar();

  var geocoder;
  geocoder = new google.maps.Geocoder();
  var formProfile;

  function getLocation(notSet) {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      } else {
          console.log("Geolocation is not supported by this browser.");
      }
  }
  function showPosition(position) {
      formProfile.find('.detect-location').removeClass('looking');

      var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

      geocoder.geocode(
          {'latLng': latlng},
          function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                      if (results[0]) {
                          var add = results[0].formatted_address ;
                          var value = add.split(",");

                          var count = value.length;
                          var country = value[count-1];
                          var state = value[count-2];
                          var citypc = value[count-3];
                          var city = citypc.trim().split(' ')[1];

                          formProfile.find('input[name="location"]').val(city + ", " + country);
                      } else {
                          console.log("address not found");
                      }
              }
               else {
                  console.log("Geocoder failed due to: " + status);
              }
          }
      );

  }

  var users = [];
  var organizations = [];

  //******* profile ************

  new CV.Input({
      type      : '',
      name      : 'name',
      style     : 'small -w-50',
      hasTitle  : true,
      title     : "Your Name",
      value     : "<%= currentPerson.name %>"
  }).render($('.form-profile .placeholder-main'));

  new CV.Input({
      type      : '',
      name      : 'lastname',
      style     : 'small -w-50',
      hasTitle  : true,
      title     : "Your Lastname",
      value     : "<%= currentPerson.lastname %>"
  }).render($('.form-profile .placeholder-main'));

  var profileName = new CV.Input({
      style       : 'small -w-50',
      name        : 'profileName',
      placeholder : 'http://www.crowdvoice.by/@',
      hasTitle    : true,
      title       : "Profile Name",
      value     : "<%= currentPerson.profileName %>"
  }).render($('.form-profile .placeholder-main'));

  profileName.inputEl.find('input').bind('keyup', function() {
      $.ajax({
          method : 'POST',
          url : '/<%= currentPerson.profileName %>/isProfileNameAvailable',
          headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
          data : {
              value : profileName.inputEl.find('input').val()
          },
          success : function(data) {
            // Data could be {status : 'taken'} || {status : available}
              console.log(data);
          }
      })
  })

  new CV.Input({
      style     : '',
      isArea    : true,
      hasTitle  : true,
      name      : 'description',
      title     : "Short Bio",
      subTitle  : "140 characters max",
      value     : "<%= currentPerson.description %>"
  }).render($('.form-profile .placeholder-main'));

  new CV.Input({
      style     : 'small',
      name      : 'location',
      hasTitle  : true,
      title     : "Location",
      value     : "<%= currentPerson.location %>"
  }).render($('.form-profile .placeholder-location'));

  new CV.Button({
      style   : 'primary small',
      type    : 'single',
      label   : 'Save Changes',
      name    : 'buttonSend'
  }).render($('.form-profile .placeholder-send'));


  //******* account ************


  new CV.Input({
      type      : '',
      name      : 'email',
      style     : 'small',
      hasTitle  : true,
      title     : "Email",
  }).render($('.form-account .placeholder-email'));

  new CV.Button({
      style   : 'primary tiny',
      type    : 'single',
      label   : 'Save',
      name    : 'buttonSend'
  }).render($('.form-account .placeholder-buttons .form-field'));

  new CV.Button({
      style   : 'tiny',
      type    : 'single',
      label   : 'Cancel',
      name    : 'buttonSend'
  }).render($('.form-account .placeholder-buttons .form-field'));

  new CV.Input({
      name : 'password',
      style   : 'small',
      hasTitle  : true,
      title     : "Your Password",
  }).render($('.form-account .placeholder-password'));

  new CV.Button({
      style   : 'tiny',
      type    : 'single',
      label   : 'Set Account to be protected',
      name    : 'buttonSend'
  }).render($('.form-account .placeholder-main'));


  //******* notifications ************


  //******* blocked ************

  //new CV.UsersList({
  //    type          : '',
  //    name          : '',
  //    style         : '',
  //    hasButton     : true,
  //    users         : users,
  //    listTitle     : "{count} Blocked users",
  //    dateTitle     : "Blocked on"
  //}).render($('.placeholder-users'));

  //******* organizations ************

  $.ajax({
    type: "GET",
    url:'/'+currentPerson.profileName+'/edit/getOrganizations',
    headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
    data : {},
    success: function(data) {
      console.log(data);
      new CV.UsersList({
          hasButton     : true,
          users         : data,
          listTitle     : "You own and / or belong to {count} organizations",
          dateTitle     : "Member since"
      }).render($('.placeholder-organizations'));
    }
  });

  $( document ).ready(function() {

    // Image upload
    $('.image-upload').bind("change", function(event) {

      var files = event.target.files; //FileList object
      var output;

      if($(this).hasClass('image-upload-profile')){
        output = $('.form-profile-image .image-align')[0];
      } else if ($(this).hasClass('image-upload-background')){
        output = $('.form-profile-background .image-align')[0];
      }

      for(var i = 0; i< files.length; i++) {
        var file = files[i];
        //Only pics
        if(file.type.match('image.*')){
            // continue;
            var picReader = new FileReader();
            picReader.addEventListener("load",function(event){
              var picFile = event.target;
              var div = document.createElement("div");
              output.innerHTML = "<img class='thumbnail' src='" + picFile.result + "' title='preview image'/>";
              //output.insertBefore(div,null);
            });

            //Read the image
            //$('.clear-images').show();
            picReader.readAsDataURL(file);
        }else{
          alert("Only images are allowed.");
          //$(this).val("");
        }
      }
    });


    formProfile = $('.form-profile');
    formProfile.find('.detect-location').on('click', function(el){
      formProfile.find('.detect-location').addClass('looking');
      getLocation();
    });

    createMenuActions('.profile-menu', '.profile-menu-content');

    function createMenuActions(menuContainer, contentContainer){
      $( menuContainer ).find('.-menu-tab').each(function( index ) {
        var elContent = $( contentContainer + ' .-menu-tab-content:nth-child(' + (index + 1) + ')');
        $(this).on('click', createCallback(this, index, elContent, menuContainer, contentContainer));
      });
    }

    function createCallback( tab, index, elContent, menuContainer, contentContainer ){
      return function(){
        $(menuContainer + ' .-menu-tab').removeClass('active');
        $(this).addClass('active');
        $(contentContainer + ' .-menu-tab-content').removeClass('active');
        $(elContent).addClass('active');
      }
    }

  });

</script>
