<main role="main" class="cv-main-profile-edit -rel">

  <section class="profile-voices-intro">
      <h1 class="profile-heading -font-bold -m0">Manage My Account</h1>

      <article role="article" class="profile-menu -row -rel">
        <div class="profile-tabs">
          <div class="menu-item active -menu-tab -inline-block">
            <p class="-font-bold">My Profile</p>
          </div>
          <div class="menu-item -menu-tab -inline-block">
            <p class="-font-bold">Account</p>
          </div>
          <div class="menu-item -menu-tab -inline-block">
            <p class="-font-bold">Organizations</p>
          </div>
        </div>
      </article>

  </section>

  <section class="profile-body profile-menu-content -rel">

    <!-- ||||||||||||||||||||||||||||||||
                Profile
     |||||||||||||||||||||||||||||||| -->

    <div class="active -menu-tab-content">
      <div class="form-notifications-profile"></div>

  <% if (currentPerson) { %>
      <form class="form-profile" action="/<%= currentPerson.profileName %>?_method=PUT" method="POST" enctype="multipart/form-data">
  <% } else { %>
      <form class="form-profile">
  <% } %>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <div class="placeholder-images">

          <div class="form-field -inline-block">
              <label>Picture</label>
              <div class="form-profile-image">
                <div class="image-align">
                  <% if (currentPerson.image.exists('card')){ %>
                    <img src="<%= currentPerson.image.url('card') %>">
                  <% }else{ %>
                    <img src="/img/placeholder-image.png">
                  <% } %>
                </div>
              </div>
          </div>

          <div class="form-field -inline-block -rel form-field-image">
              <p class="image-input-label">Replace</p>
              <input type="file" name="image" class="image-input image-upload image-upload-profile cv-button tiny"\>
              <label><span>JPG, GIF or PNG</span></label>
          </div>

          <div class="form-field -inline-block">
              <label>Background</label>
              <div class="form-profile-background">
                <div class="image-align">
                  <% if (currentPerson.background.exists('card')){ %>
                    <img src="<%= currentPerson.background.url('card') %>">
                  <% }else{ %>
                    <img src="/img/placeholder-background.png">
                  <% } %>
                </div>
              </div>
          </div>

          <div class="form-field -inline-block -rel form-field-image">
              <p class="image-input-label">Replace</p>
              <input type="file" name="background" class="image-input image-upload image-upload-background cv-button tiny"\>
              <label><span>JPG, GIF or PNG</span></label>
          </div>

        </div>

        <br><br>

        <div class="-width-50">

          <div class="-col-12 placeholder-main">
          </div>
          <div class="-row">
            <div class="-col-8 -pr1 placeholder-location">
            </div>
            <div class="-col-4 placeholder-pin">
              <div class="form-field">
                <label><span></span></label>
                <div class="icon-text detect-location">Detect</div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="-col-12 placeholder-send"></div>
      </form>
    </div>

    <!-- ||||||||||||||||||||||||||||||||
                Account
     |||||||||||||||||||||||||||||||| -->

    <div class="-menu-tab-content">

        <div class="form-notifications-account"></div>

        <div class="-width-50 -form-space">
          <form class="form-account-email" action="/<%= currentPerson.profileName %>/updateUser?_method=PUT" method="POST">

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <div class="-row email-options">

              <div class="-col-7 -pr1 placeholder-email"></div>

              <div class="-col-5 placeholder-buttons" style="display: none;">
                <div class="form-field">
                  <label><span></span></label>
                </div>
              </div>

              <div class="-col-5 placeholder-pin">
                <div class="form-field">
                  <label><span></span></label>
                  <div class="icon-text edit">Change</div>
                </div>
              </div>

            </div>

          </form>

          <form class="form-account-password" action="/<%= currentPerson.profileName %>/updateUser?_method=PUT" method="POST">

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <div class="-row password-options">

              <div class="-col-7 -pr1 placeholder-password"></div>

              <div class="-col-5 placeholder-buttons" style="display: none;">
                <div class="form-field">
                  <label><span></span></label>
                </div>
              </div>

              <div class="-col-5 placeholder-pin">
                <div class="form-field">
                  <label><span></span></label>
                  <div class="icon-text edit">Change</div>
                </div>
              </div>

              <div class="-col-12">
                <div class="cv-check">
                  <input type="checkbox" class="password-checkbox" name="showpassword" value="false">
                  <span class="label">Show Password</span>
                </div>
              </div>

            </div>

          </form>

        </div>


    </div>

    <!-- ||||||||||||||||||||||||||||||||
                organizations
     |||||||||||||||||||||||||||||||| -->

    <div class="-menu-tab-content">
      <div class="placeholder-organizations -col-11">

      </div>
    </div>

  </section>

</main>

<script type="text/javascript" id="cv-google-maps-script"
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places">
  </script>

<script>
  // App
  var ns = [];
  <% if (typeof notifications !== "undefined") { %>
    ns = <%= JSON.stringify(notifications) %>;
  <% } %>
  var App = new CV.App({
    notifications : ns,
    currentPerson : currentPerson
  });
  App.addInteractiveSidebar();

  var geocoder;
  geocoder = new google.maps.Geocoder();
  var formProfile;

  function getLocation(notSet) {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      } else {
          console.log("Geolocation is not supported by this browser.");
      }
  }

  function showPosition(position) {
      formProfile.find('.detect-location').removeClass('looking');

      var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

      geocoder.geocode(
          {'latLng': latlng},
          function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                      if (results[0]) {
                          var add = results[0].formatted_address ;
                          var value = add.split(",");

                          var count = value.length;
                          var country = value[count-1];
                          var state = value[count-2];
                          var citypc = value[count-3];
                          var city = citypc.trim().split(' ')[1];

                          formProfile.find('input[name="location"]').val(city + ", " + country);
                      } else {
                          console.log("address not found");
                      }
              }
               else {
                  console.log("Geocoder failed due to: " + status);
              }
          }
      );

  }

  var users = [];
  var organizations = [];

  //******* profile ************

  new CV.Input({
      type      : '',
      name      : 'name',
      style     : 'small -w-50 form-name',
      hasTitle  : true,
      title     : "Your Name",
      value     : "<%= currentPerson.name %>"
  }).render($('.form-profile .placeholder-main'));

  new CV.Input({
      type      : '',
      name      : 'lastname',
      style     : 'small -w-50 form-lastname',
      hasTitle  : true,
      title     : "Your Last Name",
      value     : "<%= currentPerson.lastname || '' %>"
  }).render($('.form-profile .placeholder-main'));

  var profileInput = new CV.Input({
      style       : 'small -w-50 form-profile',
      name        : 'profileName',
      placeholder : 'http://www.crowdvoice.by/@',
      hasTitle    : true,
      title       : "Profile Name",
      value     : "<%= currentPerson.profileName %>"
  }).render($('.form-profile .placeholder-main'));

  var descriptionInput = new CV.Input({
      style     : 'form-description',
      isArea    : true,
      hasTitle  : true,
      name      : 'description',
      title     : "Short Bio",
      subTitle  : "140 characters max",
      value     : ""
  }).render($('.form-profile .placeholder-main'));

  <%
    var tmpText = currentPerson.description.replace(/(\r\n|\n|\r)/gm," ") || "";
    tmpText = tmpText.replace(/"/g,'&quot;');
    tmpText = tmpText.replace(/'/g,'&#39;');
  %>

  descriptionInput.element.find('textarea').html('<%= tmpText %>');

  new CV.Input({
      style     : 'small form-location',
      name      : 'location',
      hasTitle  : true,
      title     : "Location",
      value     : "<%= currentPerson.location || '' %>"
  }).render($('.form-profile .placeholder-location'));

  var submitButtonProfile = new CV.Button({
      style   : 'primary small',
      type    : 'single',
      label   : 'Save Changes',
      name    : 'buttonSend'
  }).render($('.form-profile .placeholder-send'));


  //******* account ************
  var emailOptions = $('.form-account-email .email-options');
  var passwordOptions = $('.form-account-password .password-options');
  //placeholder-pin
  //placeholder-buttons

  var inputEmail = new CV.Input({
      type      : '',
      name      : 'email',
      style     : 'small disabled',
      hasTitle  : true,
      title     : "Email",
      value     : '<%= currentUser.email %>'
  }).render(emailOptions.find('.placeholder-email'));

  var emailSaveButton = new CV.Button({
      style   : 'primary tiny',
      type    : 'single',
      label   : 'Save',
      name    : 'buttonSend'
  }).render(emailOptions.find('.placeholder-buttons .form-field'));

  var emailCancelButton = new CV.Button({
      style   : 'tiny',
      type    : 'single',
      label   : 'Cancel',
      name    : 'buttonSend'
  }).render(emailOptions.find('.placeholder-buttons .form-field'));


  var inputPassword = new CV.Input({
      name : 'password',
      style   : 'small disabled',
      hasTitle  : true,
      title     : "Your Password",
  }).render(passwordOptions.find('.placeholder-password'));
  inputPassword.element.find('input').attr('type', 'password');

  var passwordSaveButton = new CV.Button({
      style   : 'primary tiny',
      type    : 'single',
      label   : 'Save',
      name    : 'buttonSend'
  }).render(passwordOptions.find('.placeholder-buttons .form-field'));

  var passwordCancelButton = new CV.Button({
      style   : 'tiny',
      type    : 'single',
      label   : 'Cancel',
      name    : 'buttonSend'
  }).render(passwordOptions.find('.placeholder-buttons .form-field'));

  emailOptions.find('.placeholder-pin').on('click', function(){
    emailOptions.find('.placeholder-pin').hide();
    emailOptions.find('.placeholder-buttons').show();
    emailOptions.find('.cv-input').removeClass('disabled');
    emailOptions.find('.cv-input input')[0].focus();
  });

  emailCancelButton.element.on('click', function(e){
    e.preventDefault;
    emailOptions.find('.placeholder-pin').show();
    emailOptions.find('.placeholder-buttons').hide();
    emailOptions.find('.cv-input').addClass('disabled');
    return false;
  });

  emailSaveButton.element.on('click', function(e){
    e.preventDefault;

    var formAccountEmailEl = $('.form-account-email');

    var formEmailOptions = {
      'email' : ['required', 'email']
    };
    var formEmailBody = {
      'email' : formAccountEmailEl.find('.placeholder-email input').val()
    };

    validateAccount(formAccountEmailEl, formEmailOptions, formEmailBody);
    return false;
  });

  passwordOptions.find('.placeholder-pin').on('click', function(){
    passwordOptions.find('.placeholder-pin').hide();
    passwordOptions.find('.placeholder-buttons').show();
    passwordOptions.find('.cv-input').removeClass('disabled');
    passwordOptions.find('.cv-input input')[0].focus();
  });

  passwordCancelButton.element.on('click', function(e){
    e.preventDefault;
    passwordOptions.find('.placeholder-pin').show();
    passwordOptions.find('.placeholder-buttons').hide();
    passwordOptions.find('.cv-input').addClass('disabled');
    passwordOptions.find('.cv-input input').val('');
    return false;
  });

  passwordSaveButton.element.on('click', function(e){
    e.preventDefault;

    var formAccountPassEl = $('.form-account-password');

    var formPassOptions = {
      'password' : ['required', 'minLength:8']
    };

    var formPassBody = {
      'password' : formAccountPassEl.find('.placeholder-password input').val()
    };

    validateAccount(formAccountPassEl, formPassOptions, formPassBody);

    return false;
  });

  passwordOptions.find('.cv-check input').on('click', function(){

    if ( this.checked ) {
      passwordOptions.find('.cv-input input').attr('type', 'text');
    } else {
      passwordOptions.find('.cv-input input').attr('type', 'password');
    }
    passwordOptions.find('.cv-input input')[0].focus();


  });

  var accountErrors;

  <% if (typeof errors !== 'undefined') { %>
    accountErrors = <%= JSON.stringify(errors) %>;
  <% } %>

  var alertAccount = null;

  if (accountErrors){

    var errorType = Object.keys(accountErrors)[0];
    var errorsString;

    if (errorType == 'email'){
      errorsString = '<b>Email</b> is already taken.'
    }else{
      errorsString = 'Could not change <b>Password</b>, must be 8 characters long.'
    }

    if (!alertAccount){
      alertAccount = new CV.Alert({
        type: 'negative',
        html: errorsString
      }).render($('.form-notifications-account'));

      $('.form-account-email').parent().prepend('<br>');
    } else {
      alert.update(null, errorsString)
    }

  }

  function validateAccount(formEl, options, body) {

    var formAccountEl = formEl;

    var formValidation = formUtils.validate(options, body);

    if (formValidation.isValid) {
      formAccountEl.submit();
    } else {

      var errorsString = '';

      if (formValidation.errors){
        for (var error in formValidation.errors.errors) {
          var err = formValidation.errors.errors[error];
          var errorStr = err.message.replace(err.key, '<b>'+ err.key +'</b>');
          errorsString += '<p>' + errorStr + '</p>';
        }
      }

      if (!alertAccount){
        alertAccount = new CV.Alert({
          type: 'negative',
          html: errorsString
        }).render($('.form-notifications-account'));

        $('.-form-space').prepend('<br>');
      } else {
        alertAccount.update(null, errorsString)
      }

      return false;

    }

  }

  //******* organizations ************

  var removeAction = function(orgID){
    var userID = currentPerson.id;

    $.ajax({
      type: "POST",
      url:'/'+currentPerson.profileName+'/leaveOrganization',
      headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
      data : {
        entityId : userID,
        orgId : orgID
      },
      success: function(data) {
        console.log(data);
      }
    });

  }

  $.ajax({
    type: "GET",
    url:'/'+currentPerson.profileName+'/edit/getOrganizations',
    headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
    data : {},
    success: function(data) {
      new CV.UsersList({
          hasButton     : true,
          users         : data,
          listTitle     : "You own and / or belong to {count} organizations",
          actionLabel   : "Leave",
          action        : removeAction,
          dateTitle     : "Member since",
          isOwner       : true
      }).render($('.placeholder-organizations'));
    }
  });

  var formEl;
  var alert = null;

  submitButtonProfile.element.on("click",function(e){
    e.preventDefault;

    var formValidation = validate();

    if (formValidation.isValid && isprofileValid) {
      console.log('Valid');

      formEl.submit();

    } else {

      var errorsString = '';

      if (formValidation.errors){
        for (var error in formValidation.errors.errors) {
          var err = formValidation.errors.errors[error];
          var errorStr = err.message.replace(err.key, '<b>'+ err.key +'</b>');
          errorsString += '<p>' + errorStr + '</p>';
        }
      }

      if (!isprofileValid){
         errorsString += '<p>The <b>profilename</b> is in use.</p>';
      }

      if (!alert){
        alert = new CV.Alert({
          type: 'negative',
          html: errorsString
        }).render($('.form-notifications-profile'));

        $('form.form-profile').prepend('<br>');
      } else {
        alert.update(null, errorsString)
      }

      return false;

    }


  });

  var formUtils = new CV.FormUtils();
  var isprofileValid = true;

  function validate(){

    var options = {
      'name'        : 'required',
      'lastname'    : 'required',
      'profile'     : 'required',
      'description' : 'required',
      'location'    : 'required'
    };

    var body = {
      'name'          : formEl.find('.form-name input').val(),
      'lastname'      : formEl.find('.form-lastname input').val(),
      'profile'       : formEl.find('.form-profile input').val(),
      'description'   : formEl.find('.form-description textarea').val(),
      'location'      : formEl.find('.form-location input').val(),
    };

    var formValidation = formUtils.validate(options, body);
    return formValidation;
  }

  descriptionInput.element.bind('keyup keydown paste', function() {
    var descValue = $(this).find('textarea').val();
    if (descValue.length > 140){
      descValue = descValue.substring(0, 140);
      $(this).find('textarea').val(descValue);
    }
  });

  profileInput.inputEl.find('input').bind('keyup', function() {
      $.ajax({
          method : 'POST',
          url : '/<%= currentPerson.profileName %>/isProfileNameAvailable',
          headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
          data : {
              value : profileInput.inputEl.find('input').val()
          },
          success : function(data) {
            // Data could be {status : 'taken'} || {status : available}
            if(data.status == 'available'){
              profileInput.element.find('.cv-input').removeClass('error');
              profileInput.element.find('.cv-input').addClass('success');
              isprofileValid = true;
            } else {
              profileInput.element.find('.cv-input').addClass('error');
              profileInput.element.find('.cv-input').removeClass('success');
              isprofileValid = false;
            }
          }
      });
  });

  $( document ).ready(function() {

    formEl = $('form.form-profile');

    // Image upload
    $('.image-upload').bind("change", function(event) {

      var files = event.target.files; //FileList object
      var output;

      if($(this).hasClass('image-upload-profile')){
        output = $('.form-profile-image .image-align')[0];
      } else if ($(this).hasClass('image-upload-background')){
        output = $('.form-profile-background .image-align')[0];
      }

      for(var i = 0; i< files.length; i++) {
        var file = files[i];
        //Only pics
        if(file.type.match('image.*')){
            // continue;
            var picReader = new FileReader();
            picReader.addEventListener("load",function(event){
              var picFile = event.target;
              var div = document.createElement("div");
              output.innerHTML = "<img class='thumbnail' src='" + picFile.result + "' title='preview image'/>";
              //output.insertBefore(div,null);
            });

            //Read the image
            //$('.clear-images').show();
            picReader.readAsDataURL(file);
        }else{
          alert("Only images are allowed.");
          //$(this).val("");
        }
      }
    });


    formProfile = $('.form-profile');
    formProfile.find('.detect-location').on('click', function(el){
      formProfile.find('.detect-location').addClass('looking');
      getLocation();
    });

    createMenuActions('.profile-menu', '.profile-menu-content');

    function createMenuActions(menuContainer, contentContainer){
      $( menuContainer ).find('.-menu-tab').each(function( index ) {
        var elContent = $( contentContainer + ' .-menu-tab-content:nth-child(' + (index + 1) + ')');
        $(this).on('click', createCallback(this, index, elContent, menuContainer, contentContainer));
      });
    }

    function createCallback( tab, index, elContent, menuContainer, contentContainer ){
      return function(){
        $(menuContainer + ' .-menu-tab').removeClass('active');
        $(this).addClass('active');
        $(contentContainer + ' .-menu-tab-content').removeClass('active');
        $(elContent).addClass('active');
      }
    }

  });

</script>
