<main role="main" class="cv-main-content -rel">

  <section class="profile-voices-intro">
      <h1 class="profile-heading -font-bold -m0">Manage My Account</h1>

      <article role="article" class="profile-menu -row -rel">
        <div class="profile-tabs">
          <div class="menu-item active -menu-tab -inline-block">
            <p class="-font-bold">My Profile</p>
          </div>
          <div class="menu-item -menu-tab -inline-block">
            <p class="-font-bold">Account</p>
          </div>
          <div class="menu-item -menu-tab -inline-block">
            <p class="-font-bold">Notifications</p>
          </div>
          <div class="menu-item -menu-tab -inline-block">
            <p class="-font-bold">Blocked Users</p>
          </div>
          <div class="menu-item -menu-tab -inline-block">
            <p class="-font-bold">Organizations</p>
          </div>
        </div>
      </article>

  </section>

  <section class="profile-body profile-menu-content -rel">
    <div class="active -menu-tab-content">
        <% if (currentPerson) { %>
            <form class="form-profile" action="/<%= currentPerson.profileName %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <% } else { %>
            <form class="form-profile">
        <% } %>
        <div class="-width-50">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">

          <input type="file" name="image" \>
          <input type="file" name="background" \>
          <input type="text" name="name" \>

          <input type="submit" value="Send" \>

          <div class="-col-3 -pr1 placeholder-logo">
          </div>
          <div class="-col-9 -pl1 placeholder-background">
          </div>
          <div class="-col-12 placeholder-main">
          </div>
          <div class="-row">
            <div class="-col-10 -pr1 placeholder-location">
            </div>
            <div class="-col-2 -pl1 placeholder-pin">
              <div class="form-field">
                <label><span></span></label>
                <div class="cv-detect-location">Detect</div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="-col-12 placeholder-send"></div>
      </form>
    </div>
    <div class="-menu-tab-content">
      <form class="form-account">
        <div class="-width-50">
          <div class="-col-7 -pr1 placeholder-email">
          </div>
          <div class="-col-5 -pl1 placeholder-buttons">
            <div class="form-field">
              <label><span></span></label>
            </div>
          </div>

          <div class="-row">
            <div class="-col-10 -pr1 placeholder-password">
            </div>
            <div class="-col-2 -pl1 placeholder-pin">
              <div class="form-field">
                <label><span></span></label>
                <div class="cv-detect-location">Change</div>
              </div>
            </div>


            <div class="-col-12 placeholder-main">
              <div class="form-field">
                <label>Privacy<span></span></label>
                <div class="text">
                  <p>Your profile is public.</p>
                  <span class="dim">Protect your account if you'd like to approve new followers before they can see your activity.</span>
                </div>
              </div>
            </div>

          </div>

        </div>
        <hr>

        <div class="-width-50">

          <div class="form-field">
            <label>Deactivate Account<span></span></label>
            <div class="text">
              <p>Deactivating your account will remove it from CrowdVoice.by within a few minutes. You can sign back in whenever to reactivate your account and restore its content.</p>
              <br>
              <a href="#">Deactivate Account</a>
              <br><br>
              <span class="dim">If you want to permanently delete your account and remove your content, please <a href="#">send us a request</a>. It will take a few days to process a full deletion.</span>

            </div>
          </div>

        </div>

      </form>
    </div>
    <div class="-menu-tab-content">
      <div class="placeholder-notifications">
        <label><b>NOTIFY ME</b></label>
        <br><br>
        <div class="settings-list">
          <div class="setting-row">
            <div class="-align-left">
              <span class="setitle">When I am followed</span>
            </div>
            <div class="-align-right">
              <div class="cv-check">
                <input type="checkbox">
                <span class="label">Email</span>
              </div>
              <div class="cv-check">
                <input type="checkbox">
                <span class="label">Web</span>
              </div>
            </div>
          </div><!-- row -->
          <div class="setting-row">
            <div class="-align-left">
              <span class="setitle">When my voices and organizations are followed</span>
            </div>
            <div class="-align-right">
              <div class="cv-check">
                <input type="checkbox">
                <span class="label">Email</span>
              </div>
              <div class="cv-check">
                <input type="checkbox">
                <span class="label">Web</span>
              </div>
            </div>
          </div><!-- row -->
          <div class="setting-row">
            <div class="-align-left">
              <span class="setitle">When my content is reposted</span>
            </div>
            <div class="-align-right">
              <div class="cv-check">
                <input type="checkbox">
                <span class="label">Email</span>
              </div>
              <div class="cv-check">
                <input type="checkbox">
                <span class="label">Web</span>
              </div>
            </div>
          </div><!-- row -->
          <div class="setting-row">
            <div class="-align-left">
              <span class="setitle">When I get new messages</span>
            </div>
            <div class="-align-right">
              <div class="cv-check">
                <input type="checkbox">
                <span class="label">Email</span>
              </div>
              <div class="cv-check">
                <input type="checkbox">
                <span class="label">Web</span>
              </div>
            </div>
          </div><!-- row -->
          <div class="setting-row">
            <div class="-align-left">
              <span class="setitle">When new Voices from users and organizations I follow are created</span>
            </div>
            <div class="-align-right">
              <div class="cv-check">
                <input type="checkbox">
                <span class="label">Email</span>
              </div>
              <div class="cv-check">
                <input type="checkbox">
                <span class="label">Web</span>
              </div>
            </div>
          </div><!-- row -->
        </div>

        <br><br>
        <label><b>EMAIL DIGESTS</b></label>
        <br><br>

        <div class="settings-list">

          <div class="setting-row">
            <div class="-align-left">
              <div class="cv-check">
                <input type="checkbox">
                <span class="label">Voices, Users and Organizations suggested by CrowdVoice.by</span>
              </div>
            </div>
            <div class="-align-right">
              <div class="radio-group">
                <input type="radio" name="option1" value="true" checked><span>Daily</span>
                <input type="radio" name="option1" value="false"><span>Weekly</span>
                <input type="radio" name="option1" value="false"><span>Monthly</span>
                <input type="radio" name="option1" value="false"><span>Never</span>
              </div>
            </div>
          </div><!-- row -->
          <div class="setting-row">
            <div class="-align-left">
              <div class="cv-check">
                <input type="checkbox">
                <span class="label">Announcements and updates</span>
              </div>
            </div>
            <div class="-align-right">
              <div class="radio-group">
                <input type="radio" name="option2" value="true" checked><span>Daily</span>
                <input type="radio" name="option2" value="false"><span>Weekly</span>
                <input type="radio" name="option2" value="false"><span>Monthly</span>
                <input type="radio" name="option2" value="false"><span>Never</span>
              </div>
            </div>
          </div><!-- row -->
          <div class="setting-row">
            <div class="-align-left">
              <div class="cv-check">
                <input type="checkbox">
                <span class="label">New Voices, Users and Organizations Digest</span>
              </div>
            </div>
            <div class="-align-right">
              <div class="radio-group">
                <input type="radio" name="option3" value="true" checked><span>Daily</span>
                <input type="radio" name="option3" value="false"><span>Weekly</span>
                <input type="radio" name="option3" value="false"><span>Monthly</span>
                <input type="radio" name="option3" value="false"><span>Never</span>
              </div>
            </div>
          </div><!-- row -->

        </div>

      </div>
    </div>
    <div class="-menu-tab-content">
      <div class="placeholder-users">

      </div>
    </div>
    <div class="-menu-tab-content">
      <div class="placeholder-organizations">

      </div>
    </div>

  </section>

</main>

<script>
  var users = [];
  var organizations = [];


  //******* profile ************


  new CV.Image({
      hasTitle  : true,
      title     : "Logo / badge"
  }).render($('.form-profile .placeholder-logo'));

  new CV.Image({
      hasTitle  : true,
      title     : "Background"
  }).render($('.form-profile .placeholder-background'));

  new CV.Input({
      type      : '', name: '', style : '',
      hasTitle  : true,
      title     : "Your Name",
  }).render($('.form-profile .placeholder-main'));

  new CV.Input({
      placeholder : 'http://www.crowdvoice.by/@',
      hasTitle  : true,
      title     : "Username / Handler",
  }).render($('.form-profile .placeholder-main'));

  new CV.Input({
      isArea    : true,
      hasTitle  : true,
      title     : "Short Bio",
      subTitle  : "140 characters max"
  }).render($('.form-profile .placeholder-main'));

  new CV.Input({
      hasTitle  : true,
      title     : "Location",
  }).render($('.form-profile .placeholder-location'));

  new CV.Button({
      style   : 'primary',
      type    : 'single',
      label   : 'Save Changes',
      name    : 'buttonSend'
  }).render($('.form-profile .placeholder-send'));


  //******* account ************


  new CV.Input({
      type      : '', name: '', style : '',
      hasTitle  : true,
      title     : "Email",
  }).render($('.form-account .placeholder-email'));

  new CV.Button({
      style   : '',
      type    : 'single',
      label   : 'Save',
      name    : 'buttonSend'
  }).render($('.form-account .placeholder-buttons .form-field'));

  new CV.Button({
      style   : '',
      type    : 'single',
      label   : 'Cancel',
      name    : 'buttonSend'
  }).render($('.form-account .placeholder-buttons .form-field'));

  new CV.Input({
      hasTitle  : true,
      title     : "Your Password",
  }).render($('.form-account .placeholder-password'));

  new CV.Button({
      style   : 'primary',
      type    : 'single',
      label   : 'Set Account to be protected',
      name    : 'buttonSend'
  }).render($('.form-account .placeholder-main'));


  //******* notifications ************


  //******* blocked ************

  new CV.UsersList({
      type          : '',
      name          : '',
      style         : '',
      hasButton     : true,
      users         : users,
      listTitle     : "{count} Blocked users",
      dateTitle     : "Blocked on"
  }).render($('.placeholder-users'));

  //******* organizations ************

  new CV.UsersList({
      type          : '',
      name          : '',
      style         : '',
      hasButton     : true,
      users         : users,
      listTitle     : "You own and / or belong to {count} organizations",
      dateTitle     : "Member since"
  }).render($('.placeholder-organizations'));


  $( document ).ready(function() {

    createMenuActions('.profile-menu', '.profile-menu-content');

    function createMenuActions(menuContainer, contentContainer){
      $( menuContainer ).find('.-menu-tab').each(function( index ) {
        var elContent = $( contentContainer + ' .-menu-tab-content:nth-child(' + (index + 1) + ')');
        $(this).on('click', createCallback(this, index, elContent, menuContainer, contentContainer));
      });
    }

    function createCallback( tab, index, elContent, menuContainer, contentContainer ){
      return function(){
        $(menuContainer + ' .-menu-tab').removeClass('active');
        $(this).addClass('active');
        $(contentContainer + ' .-menu-tab-content').removeClass('active');
        $(elContent).addClass('active');
      }
    }

  });

</script>

