<main role="main" class="cv-main-content -rel -row">
  <div class="feed-top-voice"></div>

  <div class="-col-9 -pr2">
    <div class="page-heading cv-items-list">
      <h1 class="page-heading__title -mt0 -inline-block">My Feed</h1>
      <div class="feed__account-dropdown -ml1 profile-select-options -inline-block"></div>
    </div>
    <div class="profile-body -rel"></div>
  </div>

  <div class="-col-3 -pl2" data-feed-sidebar>
    <div class="feed__top-voices-title page-heading cv-items-list">
      <h3 class="profile-heading -inline-block -font-bold -m0">Top Voices</h3>
    </div>
    <div class="profile-sidebar -rel -pt2">
      <div class="feed__top-voices-list -rel -pb2"></div>
      <a class="ui-btn -primary -md -block -mb2 -text-center" href="/discover/trending/">Discover More</a>
    </div>
  </div>
</main>

<script>
  var App = new CV.App().setup();
  App.addInteractiveSidebar();

  var feedConfig = {
    el: document.querySelector('.cv-main-content'),
    feedItems: <%= JSON.stringify(feed) %>,
    topVoice: <%= JSON.stringify(topVoice) %>,
    organization: null
  };

  <% if (typeof organization !== "undefined") { %>
    feedConfig.organization = <%= JSON.stringify(organization) %>
  <% } %>

  var Feed = new CV.Views.Feed(feedConfig);
</script>
