<main role="main" class="cv-main-content myvoices-page -rel">

	<div class="-col-9 -pr1">
	  <section class="profile-voices-intro">
	      <h1 class="profile-heading -inline-block -font-bold -m0">My Feed</h1>
	      <div class="profile-select-options -inline-block">

	      </div>
	      <br>
	      <article role="article" class="profile-menu -row -rel"></article>
	  </section>

	  <section class="profile-body -rel">

	    <div class="feed-item">
	    	<div class="feed-item-time">3 hours</div>
	    	<div class="feed-item-image">
	    		<img class="voice-cover" width="48" height="48" src="/uploads/development/voice_6/image_small.jpeg">
	    	</div>
	    	<div class="feed-item-content">
	    		<div class="feed-item-title">
		    		<a href="#"><b>Esra'a Al Shafei</b></a> followed organizations.
		  		</div>
	    		<div class="feed-item-list1"></div>
	    	</div>
	    </div>

	  </section>
	</div>
	<div class="-col-3 -pl1">
		<section class="profile-voices-intro">
	      <h3 class="profile-heading -inline-block -font-bold -m0">Top Voices</h3>
	      <br>
	      <article role="article" class="profile-menu -row -rel"></article>
	  </section>

	  <section class="profile-sidebar -rel">
	  	<div class="voices-list">
	  	</div>
	  	<br>
	  	<div class="voices-button">
	  		<a href="/discover/trending"></a>
	  	</div>
	  	<br>
	  	<div class="voices-stats">

			<div class="-col-6">
				<div class="profile-stat stat-voices">
					<div class="stat-num"></div>
					<p>Voices</p>
					<span>you created or are contributing on</span>
				</div>
			</div>
			<div class="-col-6">
				<div class="profile-stat stat-organizations">
					<div class="stat-num"></div>
					<p>Organizations</p>
					<span>that you own or are a member of</span>
				</div>
			</div>

	  	</div>


	  </section>
	</div>
</main>

<script>
  	var ns = [];
  	<% if (typeof notifications !== "undefined") { %>
    	ns = <%= JSON.stringify(notifications) %>;
  	<% } %>
  	var App = new CV.App({
    	notifications : ns,
    	currentPerson : currentPerson
  	});
  	App.addInteractiveSidebar();

  	var feedItems = <%= JSON.stringify(feed) %>;

  	var feedItemEl = '\
  		<div class="feed-item">\
	    	<div class="feed-item-time"></div>\
	    	<div class="feed-item-image">\
	    		<img class="voice-cover" width="48" height="48" src="">\
	    	</div>\
	    	<div class="feed-item-content">\
	    		<div class="feed-item-title">\
		    		<a href="#"><b></b></a> <span></span>.\
		  		</div>\
	    		<div class="feed-item-list"></div>\
	    	</div>\
	    </div>\
  	';

  	var numVoices = document.querySelector(".stat-voices .stat-num");
		numVoices.textContent = currentPerson.voicesCount;

		var numOrgs = document.querySelector(".stat-organizations .stat-num");
		numOrgs.textContent = currentPerson.organizations.length;

  	//console.log(feedItems);
  	feedItems.forEach(function(feed){
  		//console.log(feed.action);
  		//console.log(feed.createdAt);
  		var timeElapsed = moment(feed.createdAt).from(moment());
  		var feedEl = $(feedItemEl);
  		feedEl.find('.feed-item-image img').attr('src', feed.actionDoer.images.small.url);
  		feedEl.find('.feed-item-time').text( moment(feed.createdAt).from(moment()) );
  		feedEl.find('.feed-item-title > a > b').text(feed.actionDoer.name + ' ' + feed.actionDoer.lastname);
  		feedEl.find('.feed-item-title > span').text(feed.action);
  		feedEl.find('.feed-item-title > a').attr('href', '/' + feed.actionDoer.profileName);


  		$('.profile-body').append(feedEl);
  		//baseElement.querySelector(selectors);
     	//console.log( moment(new Date(feed.createdAt).toISOString()).format('• MMMM Do, YYYY • h:mm a') );

  	});

  var allTimes = {
		"1": {label: 'Jesus', name: 'thisweek', active : true},
		"2": {label: 'Maria', name: 'lastweek'},
		"3": {label: 'Y', name: 'twoweeks'},
		"4": {label: 'Jose', name: 'threeweeks'}
	};

	var selectTime = new CV.Select({
		style : 'tiny',
		label : 'Showing All',
		name  : 'selectTime',
		options: allTimes
	}).render($('.profile-select-options'));

	var isFeed = true;
	var onboarding = '\
		<section class="profile-onboarding -mid-height -rel">\
	    <h1>Nothing to show yet</h1>\
	    <p>Follow voices, users and organzations to view all their recent activity. This will also help you discover more of them to contact, contribute, join and follow.</p>\
	    <br>\
	  </section>';

	if (!isFeed){
		var contentWrapper = document.querySelector('.profile-body');

		contentWrapper.innerHTML = onboarding;
		var buttonExplore = new CV.Button({
		    style   : 'primary',
		    type    : 'single',
		    label   : 'Explore and Discover!',
		    name    : 'buttonexplore'
		}).render(document.querySelector('.profile-onboarding'));

		buttonExplore.element.on('click', function(){
			console.log('explore');
		});
	}
	function renderData(data, instance, className, showMeta){

        var itemsWrapper = document.querySelector('.'+className);
        var itemsElements = [];

        data.forEach(function(item, index) {

          var itemWidget = new instance({data:item}).render(itemsWrapper);
          if(showMeta){
            itemWidget.showMeta();
          }
					itemWidget.element.addClass('id-' + item.id);
          itemsElements.push(itemWidget.el);

        });

	}

	$.ajax({
		type: "GET",
		url:'/discover/trending/voices',
		headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
		data : {},
		dataType : 'json',
		success: function(data) {
			console.log(data);
		  renderData(data.slice(0,2), CV.VoiceCoverMini, 'voices-list', false);
		  renderData(data.slice(0,2), CV.VoiceCoverMini, 'feed-item-list1', true);

		}
	});

	//function getData(url, instance, className){
	//	$.ajax({
	//		type: "GET",
	//		url: url,
	//		headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
	//		data : {},
	//		dataType : 'json',
	//		success: function(data) {
	//			console.log('New '+ className);
	//		  	console.log(data);
	//		  	renderData(data, instance, className)
	//		}
	//	});
	//}
	//
  //getData('/discover/trending/voices', CV.VoiceCover, 'voices');

	var buttonDiscover = new CV.Button({
		style   : 'primary small full',
		type    : 'single',
		label   : 'Discover More',
		name    : 'buttonDiscover'
	}).render(document.querySelector('.voices-button a'));

	buttonDiscover.element.on('click', function(){
		console.log('click');
	});

</script>









