<main role="main" class="feed-main-content -rel -row">
  <div class="feed-top-voice"></div>

  <div class="feed-notifications-sidebar -float-right" data-feed-sidebar>
    <div class="feed__top-voices-title page-heading cv-items-list">
      <h3 class="profile-heading -inline-block -font-bold -m0">My Feed</h3>
      <div class="feed__account-dropdown -ml1 profile-select-options -inline-block"></div>
    </div>
    <div class="profile-sidebar -rel -pt2">
      <!-- <a class="ui-btn -primary -md -block -mb2 -text-center" href="/discover/trending/">Discover More</a> -->
    </div>
  </div>

  <div class="feed-contents -overflow-hidden">
    <div class="feed__featured-voices">
      <div class="feed__top-voices-title cv-items-list">
        <h3 class="profile-heading -inline-block -font-bold -m0">Featured Voices</h3>
      </div>
      <div class="feed__featured-voices-list -rel -pt3"></div>
    </div>

    <div class="feed__recommended">
      <div class="feed__recommended-voices">
        <div class="feed__top-voices-title cv-items-list">
          <h3 class="profile-heading -inline-block -font-bold -m0">Recommended Voices</h3>
        </div>
        <div class="feed__recommended-voices-list -rel -pt3"></div>
      </div>

      <div class="feed__recommended-users">
        <div class="feed__top-voices-title cv-items-list">
          <h3 class="profile-heading -inline-block -font-bold -m0">Recommended Users</h3>
        </div>
        <div class="feed__recommended-users-list -rel -pt3"></div>
      </div>
    </div>

    <div class="profile-body -rel"></div>
  </div>
</main>

<script>
  var App = new CV.App().setup();
  App.addInteractiveSidebar();

  var feedConfig = {
    el: document.querySelector('.feed-main-content'),
    feedItems: <%= JSON.stringify(feed) %>,
    topVoice: <%= JSON.stringify(topVoice) %>,
    organization: null
  };

  <% if (typeof organization !== "undefined") { %>
    feedConfig.organization = <%= JSON.stringify(organization) %>
  <% } %>

  var Feed = new CV.Views.Feed(feedConfig);
</script>
