<main role="main" class="cv-main-content cv-main-profile profile-user -rel">

  <section class="profile-intro -rel">
    <% %>
    <% if (person.background.exists('big')){ %>
      <div class="profile-background-cover -img-cover" style="background-image: url(<%= person.background.url('big') %>);"></div>
    <% } else { %>
      <div class="profile-background-cover -colored-background"></div>
    <% } %>

    <% if (person.image.exists('medium')){ %>
      <img class="profile-image" src="<%= person.image.url('medium') %>">
    <% } else { %>
      <img class="profile-image" src="/img/placeholder-image.png">
    <% } %>

    <div class="pan-separator -rel">

      <div class="profile-tw">@<%= person.profileName %></div>
      <h1 class="profile-heading -font-bold -m0"><%= person.name %> <%= person.lastname %></h1>
      <p class="profile-description"><%= person.description %></p>

      <div class="profile-card-activity">

        <% if (person.location){ %>

          <div class="profile-card-activity-repost -inline-block -mr1">
            <svg class="profile-card-activity-svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-repost"></use></svg>
            <span class="profile-card-activity-label"><%= person.location %></span>
          </div>

        <% } %>

        <div class="profile-card-activity-saved -inline-block  -mr1 -ml1">
          <svg class="profile-card-activity-svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-save"></use></svg>
          <span class="profile-card-activity-label user-date"></span>
          <script>
            var userDate = moment(new Date('<%= person.createdAt %>').toISOString()).format('MMMM, YYYY');
            $('.user-date').text('Joined ' + userDate );
          </script>
        </div>

      </div>

    </div>
  </section>

  <article role="article" class="stats profile-stats profile-menu bg-fix -row -rel">
      <div class="profile-tabs">
        <div class="stats-col active -menu-tab -inline-block">
          <p class="stats-number counter-voices -font-bold">0</p>
          <p class="stats-label">Voices</p>
        </div>
        <div class="stats-col -menu-tab -inline-block">
          <p class="stats-number counter-followers -font-bold">0</p>
          <p class="stats-label">Followers</p>
        </div>
        <div class="stats-col -menu-tab -inline-block">
          <p class="stats-number counter-following -font-bold">0</p>
          <p class="stats-label">Following</p>
        </div>
      </div>
      <div class="profile-actions">
        <span class="-pr1 p-buttons"></span>
        <span class="p-select"></span>
      </div>
  </article>

  <div class="profile-list-type-container -rel" style="display: none;">
    <div class="profile-list-type">
      <div class="style-grid active"><img src="/img/sample/icons/grid.png" alt=""></div>
      <div class="style-list"><img src="/img/sample/icons/list.png" alt=""></div>
    </div>
  </div>

  <section class="profile-content-body profile-menu-content -rel">

    <div class="active -menu-tab-content">
      <h2 class="profile-subheading -font-bold -m0">Voices</h2>
      <hr>
      <div class="-row profile-voices-container profile-container">
        <!-- voices -->
      </div>
    </div>

    <div class=" -menu-tab-content">
      <h2 class="profile-subheading -font-bold -m0">Followers</h2>
      <hr>
      <div class="-row profile-followers-container profile-container">
        <!-- followers -->
      </div>
    </div>

    <div class=" -menu-tab-content">
      <h2 class="profile-subheading -font-bold -m0">Following</h2>
      <span class="entities-voices-select -pl1"></span>
      <hr>
      <div class="-row profile-following-container  profile-container">
        <div class="entities-followed"></div>
        <div class="voices-followed" style="display: none;"></div>
      </div>
    </div>

  </section>

</main>

<script>
  // App
  var ns = [];
  <% if (typeof notifications !== "undefined") { %>
    ns = <%= JSON.stringify(notifications) %>;
  <% } %>
  var App = new CV.App({
    notifications : ns,
    currentPerson : currentPerson
  });
  App.addInteractiveSidebar();

  var totalFollowing = 0;

  $.ajax({
    type: "GET",
    url:'/<%= person.profileName %>/voices',
    headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
    data : {},
    success: function(data) {
      renderVoices(data);
    }
  });
  // **************************
  // ****** render voices *****
  // **************************
  function renderVoices(data){
    $('.profile-menu .counter-voices').text(data.length);

    data.forEach(function (voice, index) {
      var voiceEl = $('<div class="-col-4 -pr1"></div>');
      new VoiceCover(voice).render( voiceEl);
      $('.profile-voices-container').append(voiceEl);
    });
  }


  $.ajax({
    type: "GET",
    url:'/<%= person.profileName %>/followers',
    headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
    data : {},
    success: function(data) {
      renderFollowers(data);
    }
  });
  // *****************************
  // ****** render followers *****
  // *****************************
  function renderFollowers(data){
    //console.log('followers: ' + data);
    $('.profile-menu .counter-followers').text(data.length);

    data.forEach(function (follower, index) {
      var followerEl = $('<div class="-col-4 -pr1"></div>');
      new CV.Card(follower).render( followerEl);
      $('.profile-followers-container').append(followerEl);
    });
  }

  $.ajax({
    type: "GET",
    url:'/<%= person.profileName %>/voicesFollowed',
    headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
    data : {},
    success: function(data) {
      renderFollowing(data, 'voices');
    }
  });
  $.ajax({
    type: "GET",
    url:'/<%= person.profileName %>/entitiesFollowed',
    headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
    data : {},
    success: function(data) {
      renderFollowing(data, 'entities');
    }
  });
  // *****************************
  // ****** render following *****
  // *****************************
  function renderFollowing(data, type){
    //console.log('followers: ' + data);
    totalFollowing += data.length;
    $('.profile-menu .counter-following').text(totalFollowing);

    data.forEach(function (followers, index) {
      if(type == 'voices'){
        var followerEl = $('<div class="-col-4 -pr1"></div>');
        new VoiceCover( data[index] ).render( followerEl);
      } else if (type == 'entities'){
        var followerEl = $('<div class="-col-4 -pr1"></div>');
        new CV.Card( data[index] ).render( followerEl);
      }
      $('.profile-following-container .' + type + '-followed').append(followerEl);
    });
  }

  //after

  var buttonActionsOptions = {
    "1": {label: 'Message', name: 'message'},
    "2": {label: 'Follow', name: 'follow'}
  };

  var buttonActions = new CV.Button({
      style   : 'small',
      type    : 'multiple',
      name    : 'buttonActions',
      options : buttonActionsOptions
  }).render(document.querySelector('.profile-actions .p-buttons'));


  //Normal
  var profileOptions = {
    "1": {label: 'Invite to Organization...', name: 'organization', icon: 'invite-to'},
    "2": {label: 'Invite to Contribute...', name: 'contribute', icon: 'user'}
  };

  var profileSettings = new CV.Select({
    label     : '',
    style     : 'small is-settings',
    className : '-inline-block',
    name      : 'select',
    options   : profileOptions,
    type      : 'icon',
    icon      : 'settings'
  }).render(document.querySelector('.profile-actions .p-select'));

  //*********************************************************
  //********************* IsAnonymous ***********************
  //*********************************************************

  if (currentPerson && currentPerson.isAnonymous) {
    buttonActions.disable();
    profileSettings.disable();

    var tooltipEl = $('<span class="ui-tooltip -top">To message or follow others and to see your messages please turn Anonymous mode off.</span>')
    $('.profile-actions').addClass('ui-has-tooltip').append(tooltipEl);

  } else {
    //button actions
    buttonActions.message.on('click', function(){
      console.log('message click');
    });
    buttonActions.follow.on('click', function(){
      console.log('follow click');
    });
    // select actions
    profileSettings.organization.on('click', function(){
      inviteToOrganizationModal.show();
    });
    profileSettings.contribute.on('click', function(){
      inviteToContributeModal.show();
    });
  }

  // Following options
  var followOptions = {
    "1": {label: 'Users', name: 'entities'},
    "2": {label: 'Voices', name: 'voices'}
  };

  var followSelect = new CV.Select({
    label     : 'Users',
    style     : 'tiny',
    className : '-inline-block',
    name      : 'select',
    options   : followOptions
  }).render(document.querySelector('.entities-voices-select'));

  followSelect.entities.on('click', function(){
    $('.entities-followed').show();
    $('.voices-followed').hide();
  });

  followSelect.voices.on('click', function(){
    $('.entities-followed').hide();
    $('.voices-followed').show();
  });

  //*********************************************************
  //*********************** Modals **************************
  //*********************************************************

  var inviteToContributeModal = new CV.Modal({
    style       : '',
    type        : '',
    title       : 'Invite to Contribute',
    name        : 'inviteToContributeModal',
    action      : CV.InviteToContribute,
    width       : 650,
  });

  var inviteToOrganizationModal = new CV.Modal({
    style       : '',
    type        : '',
    title       : 'Invite to Organization',
    name        : 'inviteToOrganizationModal',
    action      : CV.InviteToOrganization,
    width       : 650,
  });


  //*********************************************************
  //*********************** Menu ****************************
  //*********************************************************

  $( document ).ready(function() {

    createMenuActions('.profile-menu', '.profile-menu-content');

    function createMenuActions(menuContainer, contentContainer){
      $( menuContainer ).find('.-menu-tab').each(function( index ) {
        var elContent = $( contentContainer + ' .-menu-tab-content:nth-child(' + (index + 1) + ')');
        $(this).on('click', createCallback(this, index, elContent, menuContainer, contentContainer));
      });
    }

    function createCallback( tab, index, elContent, menuContainer, contentContainer ){
      return function(){
        $(menuContainer + ' .-menu-tab').removeClass('active');
        $(this).addClass('active');
        $(contentContainer + ' .-menu-tab-content').removeClass('active');
        $(elContent).addClass('active');
      }
    }

    $('.style-grid').on('click', function(){
      $(this).addClass('active');
      $('.style-list').removeClass('active');
      $('.voice').addClass('-col-4 -pr1');
      $('.voice .cv-voice-cover, .voice .widget-card').removeClass('list-style');
    });

    $('.style-list').on('click', function(){
      $(this).addClass('active');
      $('.style-grid').removeClass('active');
      $('.voice').removeClass('-col-4 -pr1');
      $('.voice .cv-voice-cover, .voice .widget-card').addClass('list-style');
    });


  });

</script>
