<main role="main" class="cv-main-content cv-main-profile profile-user profile-page -rel">

  <section class="profile-intro -rel">
    <% %>
    <% if (person.background.exists('big')){ %>
      <div class="profile-background-cover -img-cover" style="background-image: url(<%= person.background.url('big') %>);"></div>
    <% } else { %>
      <div class="profile-background-cover -colored-background"></div>
    <% } %>

    <% if (person.image.exists('medium')){ %>
      <img class="profile-image" src="<%= person.image.url('medium') %>">
    <% } else { %>
      <img class="profile-image" src="/img/entity-placeholder/image_medium.png">
    <% } %>

    <div class="pan-separator -rel">

      <div class="profile-tw">@<%= person.profileName %></div>
      <h1 class="profile-heading -font-bold -m0"><%= person.name %> <%= person.lastname %></h1>
      <p class="profile-description"><%= person.description %></p>

      <div class="profile-card-activity">

        <% if (person.location){ %>

          <div class="profile-card-activity-repost -inline-block -mr1">
            <svg class="profile-card-activity-svg"><use xlink:href="#svg-location"></use></svg>
            <span class="profile-card-activity-label"><%= person.location %></span>
          </div>

        <% } %>

        <div class="profile-card-activity-saved -inline-block  -mr1 -ml1">
          <svg class="profile-card-activity-svg"><use xlink:href="#svg-clock"></use></svg>
          <span class="profile-card-activity-label user-date"></span>
          <script>
            var userDate = moment(new Date('<%= person.createdAt %>').toISOString()).format('MMMM, YYYY');
            $('.user-date').text('Joined ' + userDate );
          </script>
        </div>

      </div>

    </div>
  </section>

  <article role="article" class="stats profile-stats profile-menu bg-fix -row -rel">
      <div class="profile-tabs">
        <div class="stats-col active -menu-tab -inline-block">
          <p class="stats-number counter-voices -font-bold">0</p>
          <p class="stats-label">Voices</p>
        </div>
        <div class="stats-col -menu-tab -inline-block">
          <p class="stats-number counter-followers -font-bold">0</p>
          <p class="stats-label">Followers</p>
        </div>
        <div class="stats-col -menu-tab -inline-block">
          <p class="stats-number counter-following -font-bold">0</p>
          <p class="stats-label">Following</p>
        </div>
      </div>
      <div class="profile-actions">
        <span class="-pr1 p-buttons"></span>
        <span class="p-select"></span>
      </div>
  </article>

  <div class="profile-list-type-container -rel" style="display: none;">
    <div class="profile-list-type">
      <div class="style-grid active"><img src="/img/sample/icons/grid.png" alt=""></div>
      <div class="style-list"><img src="/img/sample/icons/list.png" alt=""></div>
    </div>
  </div>

  <section class="profile-content-body profile-menu-content -rel">

    <div class="active -menu-tab-content">
      <h2 class="profile-subheading -font-bold -m0">Voices</h2>
      <hr>
      <div class="-row profile-voices-container profile-container">
        <!-- voices -->
      </div>
    </div>

    <div class=" -menu-tab-content">
      <h2 class="profile-subheading -font-bold -m0">Followers</h2>
      <hr>
      <br>
      <div class="-row profile-followers-container profile-container">
        <!-- followers -->
      </div>
    </div>

    <div class=" -menu-tab-content">
      <h2 class="profile-subheading -font-bold -m0">Following</h2>
      <span class="entities-voices-select -pl1"></span>
      <hr>
      <div class="-row profile-following-container  profile-container">
        <div class="voices-followed" style="display: none;"></div>
        <br>
        <div class="entities-followed"></div>
      </div>
    </div>

  </section>

</main>

<script>
  // App
  var ns = [];
  <% if (typeof notifications !== "undefined") { %>
    ns = <%= JSON.stringify(notifications) %>;
  <% } %>
  var App = new CV.App({
    notifications : ns,
    currentPerson : currentPerson
  });
  App.addInteractiveSidebar();

  var totalFollowing = 0;

  $.ajax({
    type: "GET",
    url:'/<%= person.profileName %>/voices',
    headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
    data : {},
    success: function(data) {
      renderData(data, CV.VoiceCover, 'voices');
    }
  });

  $.ajax({
    type: "GET",
    url:'/<%= person.profileName %>/followers',
    headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
    data : {},
    success: function(data) {
      //console.log(data);
      renderData(data, CV.Card, 'followers');
    }
  });

  $.ajax({
    type: "GET",
    url:'/<%= person.profileName %>/voicesFollowed',
    headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
    data : {},
    success: function(data) {
      renderFollowing(data, CV.VoiceCover, 'voices-followed');
    }
  });

  $.ajax({
    type: "GET",
    url:'/<%= person.profileName %>/entitiesFollowed',
    headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
    data : {},
    success: function(data) {
      renderFollowing(data, CV.Card, 'entities-followed');
    }
  });

  var responsives = {
    'voices'    : null,
    'followers'    : null,
    'voices-followed' : null,
    'entities-followed' : null
  }

  function renderData(data, instance, className){
    $('.profile-menu .counter-' + className).text(data.length);

    var itemsWrapper = document.querySelector('.profile-' + className + '-container');
    var itemsElements = [];

    data.forEach(function(item, index) {
      var itemWidget = new instance({data: item}).render(itemsWrapper);
      itemWidget.element.addClass('id-' + item.id);
      itemsElements.push(itemWidget.el);
    });

    responsives[className] = new CV.ResponsiveWidth({
        container : itemsWrapper,
        items : [].slice.call(itemsElements, 0),
        minWidth : 300
    }).setup();

  }

  function renderFollowing(data, instance, className){
    //console.log('followers: ' + data);
    totalFollowing += data.length;
    $('.profile-menu .counter-following').text(totalFollowing);

    var itemsWrapper = document.querySelector('.profile-following-container .' + className );
    var itemsElements = [];

    data.forEach(function(item, index) {
      var itemWidget = new instance({data: item}).render(itemsWrapper);
      itemWidget.element.addClass('id-' + item.id);
      itemsElements.push(itemWidget.el);
    });

    responsives[className] = new CV.ResponsiveWidth({
        container : itemsWrapper,
        items : [].slice.call(itemsElements, 0),
        minWidth : 300
    }).setup();

  }


  if (currentPerson && currentPerson.id != '<%= person.id %>'){
    createControls();
  }

  //*********************************************************
  //********************* createControls ********************
  //*********************************************************

  function createControls(){
    var followLabel;
    if ('<%= JSON.stringify(person.followed) %>' == 'true' ){
      followLabel = 'Following';
    } else {
      followLabel = 'Follow';
    }
    var buttonActionsOptions = {
      "1": {label: 'Message', name: 'message'},
      "2": {label: followLabel, name: 'follow'}
    };

    var buttonActions = new CV.Button({
        style   : 'small',
        type    : 'multiple',
        name    : 'buttonActions',
        options : buttonActionsOptions
    }).render(document.querySelector('.profile-actions .p-buttons'));


    //Normal
    var profileOptions = {
      "1": {label: 'Invite to Organization...', name: 'organization', icon: 'invite-to'},
      "2": {label: 'Invite to Contribute...', name: 'contribute', icon: 'user'}
    };

    var profileSettings = new CV.Select({
      label     : '',
      style     : 'small is-settings',
      className : '-inline-block',
      name      : 'select',
      options   : profileOptions,
      type      : 'icon',
      icon      : 'settings'
    }).render(document.querySelector('.profile-actions .p-select'));

    //********************* IsAnonymous ***********************

    if (currentPerson && currentPerson.isAnonymous) {
      buttonActions.disable();
      profileSettings.disable();

      var tooltipEl = $('<span class="ui-tooltip -top">To message or follow others and to see your messages please turn Anonymous mode off.</span>')
      $('.profile-actions').addClass('ui-has-tooltip').append(tooltipEl);

    } else {
      //button actions
      buttonActions.message.on('click', function(){
        sendMessageModal.bubbleAction.setInitState();
        sendMessageModal.show();
      });
      buttonActions.follow.on('click', function(){
        followEntity();
      });
      // select actions
      profileSettings.organization.on('click', function(){
        var inviteToOrganizationModal = new CV.UI.Modal({
          title : 'Invite to Organization',
          name : 'inviteToOrganizationModal',
          action : CV.InviteToOrganization,
          width : 650,
          data : <%= JSON.stringify(person) %>
        }).render(document.body);

        requestAnimationFrame(function() {
          inviteToOrganizationModal.activate();
        });
      });
      profileSettings.contribute.on('click', function(){
        var inviteToContributeModal = new CV.UI.Modal({
          title : 'Invite to Contribute',
          name : 'inviteToContributeModal',
          action : CV.InviteToContribute,
          width : 650,
          data : <%= JSON.stringify(person) %>
        }).render(document.body);

        requestAnimationFrame(function() {
          inviteToContributeModal.activate();
        });
      });
    }


    //*********************** Functions **************************
    function followEntity(){
      $.ajax({
        type: "GET",
        url:'/<%= person.profileName %>/follow',
        headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
        data : {},
        dataType : "json",
        success: function(data) {
          if (data.status == 'followed'){
            buttonActions.follow.text('Following');
          } else if (data.status == 'unfollowed'){
            buttonActions.follow.text('Follow');
          }
        }
      });
    }


    //*********************** Modals **************************
    var sendMessageModal = new CV.Modal({
      title       : 'Send Message',
      name        : 'sendMessageModal',
      action      : CV.SendMessage,
      data        : {
                      type : 'message',
                      profileName : currentPerson.profileName,
                      senderEntityId : currentPerson.id,
                      receiverEntityId : '<%= person.id %>'
                    },
      width       : 650
    });

  } //createControls

// Following options
var followOptions = {
  "1": {label: 'Users', name: 'entities'},
  "2": {label: 'Voices', name: 'voices'}
};

var followSelect = new CV.Select({
  label     : 'Users',
  style     : 'tiny',
  className : '-inline-block',
  name      : 'select',
  options   : followOptions
}).render(document.querySelector('.entities-voices-select'));

followSelect.entities.on('click', function(){
  $('.entities-followed').show();
  $('.voices-followed').hide();
  refreshItems();
});

followSelect.voices.on('click', function(){
  $('.entities-followed').hide();
  $('.voices-followed').show();
  refreshItems();
});


  function refreshItems(){
    responsives['voices'].setup();
    responsives['followers'].setup();
    responsives['voices-followed'].setup();
    responsives['entities-followed'].setup();
  }
  //*********************************************************
  //*********************** Menu ****************************
  //*********************************************************

  $( document ).ready(function() {

    createMenuActions('.profile-menu', '.profile-menu-content');

    function createMenuActions(menuContainer, contentContainer){
      $( menuContainer ).find('.-menu-tab').each(function( index ) {
        var elContent = $( contentContainer + ' .-menu-tab-content:nth-child(' + (index + 1) + ')');
        $(this).on('click', createCallback(this, index, elContent, menuContainer, contentContainer));
      });
    }

    function createCallback( tab, index, elContent, menuContainer, contentContainer ){
      return function(){
        $(menuContainer + ' .-menu-tab').removeClass('active');
        $(this).addClass('active');
        $(contentContainer + ' .-menu-tab-content').removeClass('active');
        $(elContent).addClass('active');
        refreshItems();
      }
    }


  });
  console.log(<%= JSON.stringify(person) %>);
</script>
