<main role="main" class="cv-main-content browse-page -rel">

  <section class="profile-voices-intro">
      <h1 class="profile-heading -inline-block -font-bold -m0">Browse Featured</h1>
      <div class="profile-select-options -inline-block">

      </div>

      <article role="article" class="profile-menu -row -rel">
        <div class="profile-tabs">
          <div class="menu-item active -menu-tab -inline-block">
            <p class="-font-bold">Voices</p>
          </div>
          <div class="menu-item -menu-tab -inline-block">
            <p class="-font-bold">People</p>
          </div>
          <div class="menu-item -menu-tab -inline-block">
            <p class="-font-bold">Organizations</p>
          </div>

        </div>

      </article>

  </section>

  <section class="profile-body profile-menu-content -rel">


    <div class="active -menu-tab-content">
      <div class="-row discover-voices-container">

        <!-- voices -->
        <div class="-row voices-cards-holder widget-responsive-slider">
	      <div class="slider-list-wrapper">
	        <div class="slider-list"></div>
	      </div>
	      <button class="slider-arrow slider-prev">
	        <svg class="slider-arrow-svg"><use xlink:href="#svg-arrow-left"></use></svg>
	      </button>
	      <button class="slider-arrow slider-next">
	        <svg class="slider-arrow-svg"><use xlink:href="#svg-arrow-right"></use></svg>
	      </button>
	      <div class="slider-dots"></div>
	    </div>

      </div>
    </div>

    <div class="-menu-tab-content">
    	<div class="-row discover-people-container">

        	<!-- people -->
        	<div class="-row people-cards-holder widget-responsive-slider">
		      <div class="slider-list-wrapper">
		        <div class="slider-list"></div>
		      </div>
		      <button class="slider-arrow slider-prev">
		        <svg class="slider-arrow-svg"><use xlink:href="#svg-arrow-left"></use></svg>
		      </button>
		      <button class="slider-arrow slider-next">
		        <svg class="slider-arrow-svg"><use xlink:href="#svg-arrow-right"></use></svg>
		      </button>
		      <div class="slider-dots"></div>
		    </div>

      	</div>
    </div>

    <div class="-menu-tab-content">
    	<div class="-row discover-organizations-container">

        	<!-- organizations -->
        	<div class="-row organizations-cards-holder widget-responsive-slider">
		      <div class="slider-list-wrapper">
		        <div class="slider-list"></div>
		      </div>
		      <button class="slider-arrow slider-prev">
		        <svg class="slider-arrow-svg"><use xlink:href="#svg-arrow-left"></use></svg>
		      </button>
		      <button class="slider-arrow slider-next">
		        <svg class="slider-arrow-svg"><use xlink:href="#svg-arrow-right"></use></svg>
		      </button>
		      <div class="slider-dots"></div>
		    </div>

      	</div>
    </div>


  </section>

  <section class="">
    <h2 class="discover-category-list-heading -font-light -text-center">
       <span class="-font-bold">Topics</span>
    </h2>

    <br>
    <br>

    <div class="homepage-category-list-row -row">
    </div>

  </section><!-- @homepage-category-list -->

  <section class="">
  	<hr>

    <br>

    <div class="homepage-category-list-row -row">
	    <div class="browse-element widget">
	    	<div>
		    	<a class="element_link" href="/discover/trending" alt="Trending">
			        <svg class="svg-trending"><use xlink:href="#svg-trending"></use></svg>
		    	</a>
		    	<p class="">
		    		<a class=" -font-bold" href="/discover/trending" alt="Trending">Trending</a>
		    	</p>
	    	</div>
	    </div>
	    <div class="browse-element widget">
	    	<div>
		    	<a class="element_link" href="/discover/new" alt="Newest">
			        <svg class="svg-new"><use xlink:href="#svg-clock"></use></svg>
		    	</a>
		    	<p class="">
		    		<a class=" -font-bold" href="/discover/new" alt="Newest">Newest</a>
		    	</p>
		    </div>
	    </div>
	    <div class="browse-element widget">
	    	<div>
		    	<a class="element_link" href="/discover/recommended" alt="Recommended">
			        <svg class="svg-recommended"><use xlink:href="#svg-thumbs-up"></use></svg>
		    	</a>
		    	<p class="">
		    		<a class=" -font-bold" href="/discover/recommended" alt="Recommended">Recommended</a>
		    	</p>
		    </div>
	    </div>
	</div>

  </section>


</main>

<script>
	// App
	var ns = [];
	<% if (typeof notifications !== "undefined") { %>
		ns = <%= JSON.stringify(notifications) %>;
	<% } %>
		var App = new CV.App({
		notifications : ns,
		currentPerson : currentPerson
	});
	App.addInteractiveSidebar();

	var categories = <%= JSON.stringify(topics) %>;

    var categoriesHolder = document.querySelector('.homepage-category-list-row');
    categories.forEach(function(category) {
        new CategoryCover(category).render(categoriesHolder);
    });

    var sliders = {
    	'voices' 		: null,
    	'people' 		: null,
    	'organizations' : null
    }

	function renderData(data, instance, className){

		var cardsHolder = document.querySelector('.' + className + '-cards-holder');
        var cardsList = cardsHolder.querySelector('.slider-list');

        data.map(function(item) {
          var card = new instance({data: item});
            card.element[0].classList.add('slider-item');
            return card.render(cardsList);
        });

        sliders[className] = new CV.ResponsiveSlider({
            element : cardsHolder,
            dots : true,
            minSlideWidth : 300
        });

	}

	function getData(url, instance, className){
		$.ajax({
			type: "GET",
			url: url,
			headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
			data : {},
			dataType : 'json',
			success: function(data) {
			  	renderData(data, instance, className);
			}
		});
	}

	getData('/browse/featured/voices', CV.VoiceCover, 'voices');
	getData('/browse/featured/people', CV.Card, 'people');
	getData('/browse/featured/organizations', CV.Card, 'organizations');


	var itemsContainer;
  $( document ).ready(function() {
  	itemsContainer = $('.profile-body');
    createMenuActions('.profile-menu', '.profile-menu-content');

    function createMenuActions(menuContainer, contentContainer){
      $( menuContainer ).find('.-menu-tab').each(function( index ) {
        var elContent = $( contentContainer + ' .-menu-tab-content:nth-child(' + (index + 1) + ')');
        $(this).on('click', createCallback(this, index, elContent, menuContainer, contentContainer));
      });
    }

    function createCallback( tab, index, elContent, menuContainer, contentContainer ){
      return function(){
        $(menuContainer + ' .-menu-tab').removeClass('active');
        $(this).addClass('active');
        $(contentContainer + ' .-menu-tab-content').removeClass('active');
        $(elContent).addClass('active');
        sliders['voices']._setup();
        sliders['people']._setup();
        sliders['organizations']._setup();


      }
    }


  });



</script>





