<main role="main" class="cv-main-content browse-page -rel">
  <section class="page-heading">
    <h1 class="page-heading__title -m0 -inline-block">Browse Featured</h1>
    <div class="profile-menu -row -rel"></div>
  </section>
  <section class="profile-body profile-menu-content -rel"></section>

  <section class="">
    <h2 class="discover-category-list-heading -font-light -text-center -mb2">
       <span class="-font-bold">Topics</span>
    </h2>
    <div class="homepage-category-list-row -row"></div>
  </section>

  <section>
    <hr>
    <div class="homepage-category-list-row -row -pt2">
      <div class="browse-element widget">
        <div>
          <a class="element_link" href="/discover/trending" alt="Trending">
            <svg class="svg-trending"><use xlink:href="#svg-trending"></use></svg>
          </a>
          <p class="">
          <a class=" -font-bold" href="/discover/trending" alt="Trending">Trending</a>
          </p>
        </div>
      </div>
      <div class="browse-element widget">
        <div>
          <a class="element_link" href="/discover/new" alt="Newest">
            <svg class="svg-new"><use xlink:href="#svg-clock"></use></svg>
          </a>
          <p class="">
          <a class=" -font-bold" href="/discover/new" alt="Newest">Newest</a>
          </p>
        </div>
      </div>
      <div class="browse-element widget">
        <div>
          <a class="element_link" href="/discover/recommended" alt="Recommended">
            <svg class="svg-recommended"><use xlink:href="#svg-thumbs-up"></use></svg>
          </a>
          <p class="">
          <a class=" -font-bold" href="/discover/recommended" alt="Recommended">Recommended</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
  var App = new CV.App();
  App.addInteractiveSidebar();
  var DiscoverBrowse = new CV.Views.DiscoverBrowse({
    el : document.querySelector('.browse-page'),
    topicsData : <%= JSON.stringify(topics) %>
  });
</script>
