<main role="main" class="cv-main-content discover-page -rel">

  <section class="profile-voices-intro">
      <h1 class="profile-heading -inline-block -font-bold -m0">Recommended</h1>
  </section>

  <section class="profile-body has-subtitle profile-menu-content -rel">


  </section>

</main>

<script>

	// App
	var ns = [];
	<% if (typeof notifications !== "undefined") { %>
		ns = <%= JSON.stringify(notifications) %>;
	<% } %>
		var App = new CV.App({
		notifications : ns,
		currentPerson : currentPerson
	});
	App.addInteractiveSidebar();

  var recommended = <%= JSON.stringify(recommended) %>;

  console.log(recommended);

  var recommendedEl = $('\
    <div class="">\
      <div class="profile-title-note">\
        <h3><span><b>Because you followed</b></span> <a href="#"><b></b></a></h3>\
      </div>\
      <div class="voices-container">\
        <article role="article" class="profile-menu -row -rel">\
          <div class="profile-tabs">\
            <div class="menu-item active -menu-tab -inline-block"><p class="-font-bold">Voices</p></div>\
          </div>\
        </article>\
        <br>\
        <div class="-row recommended-container">\
          <div class="-row voices-cards-holder widget-responsive-slider">\
            <div class="slider-list-wrapper">\
              <div class="slider-list"></div>\
            </div>\
            <button class="slider-arrow slider-prev">\
              <svg class="slider-arrow-svg"><use xlink:href="#svg-arrow-left"></use></svg>\
            </button>\
            <button class="slider-arrow slider-next">\
              <svg class="slider-arrow-svg"><use xlink:href="#svg-arrow-right"></use></svg>\
            </button>\
            <div class="slider-dots"></div>\
          </div>\
        </div>\
      </div>\
      <div class="people-container">\
        <article role="article" class="profile-menu -row -rel">\
          <div class="profile-tabs">\
            <div class="menu-item active -menu-tab -inline-block"><p class="-font-bold">People</p></div>\
          </div>\
        </article>\
        <br>\
        <div class="-row recommended-container">\
          <div class="-row people-cards-holder widget-responsive-slider">\
            <div class="slider-list-wrapper">\
              <div class="slider-list"></div>\
            </div>\
            <button class="slider-arrow slider-prev">\
              <svg class="slider-arrow-svg"><use xlink:href="#svg-arrow-left"></use></svg>\
            </button>\
            <button class="slider-arrow slider-next">\
              <svg class="slider-arrow-svg"><use xlink:href="#svg-arrow-right"></use></svg>\
            </button>\
            <div class="slider-dots"></div>\
          </div>\
        </div>\
      </div>\
      <div class="organizations-container">\
        <article role="article" class="profile-menu -row -rel">\
          <div class="profile-tabs">\
            <div class="menu-item active -menu-tab -inline-block"><p class="-font-bold">Organizations</p></div>\
          </div>\
        </article>\
        <br>\
        <div class="-row recommended-container">\
          <div class="-row organizations-cards-holder widget-responsive-slider">\
            <div class="slider-list-wrapper">\
              <div class="slider-list"></div>\
            </div>\
            <button class="slider-arrow slider-prev">\
              <svg class="slider-arrow-svg"><use xlink:href="#svg-arrow-left"></use></svg>\
            </button>\
            <button class="slider-arrow slider-next">\
              <svg class="slider-arrow-svg"><use xlink:href="#svg-arrow-right"></use></svg>\
            </button>\
            <div class="slider-dots"></div>\
          </div>\
        </div>\
      </div>\
    </div>\
    <br>\
  ');

  var recommendedTitleEl = $('');

  var recommendedContainer = $('.profile-body');

  recommended.forEach(function(item){
    var rEl = recommendedEl.clone();
    recommendedContainer.append(rEl);

    rEl.find('.profile-title-note a').attr('href', '/' + item.owner.profileName);
    rEl.find('.profile-title-note a b').text(item.owner.name + ' ' + item.owner.lastname);

    if (item.voices.length > 0){
      var cardsHolder = rEl[0].querySelector('.voices-cards-holder');
      var cardsList = cardsHolder.querySelector('.slider-list');

      item.voices.forEach(function(voice){
        var newVoice = new CV.VoiceCover({data: voice}).render( cardsList );
        newVoice.element[0].classList.add('slider-item');
      });

      new CV.ResponsiveSlider({
          element : cardsHolder,
          dots : true,
          minSlideWidth : 300
      });

    } else {
      rEl.find('.voices-container').remove();
    }

    if (item.people.length > 0){

      var cardsHolder = rEl[0].querySelector('.people-cards-holder');
      var cardsList = cardsHolder.querySelector('.slider-list');

      item.people.forEach(function(person){
        var newPerson = new CV.Card({data: person}).render( cardsList );
        newPerson.element[0].classList.add('slider-item');
      });

      new CV.ResponsiveSlider({
          element : cardsHolder,
          dots : true,
          minSlideWidth : 300
      });

    } else {
      rEl.find('.people-container').remove();
    }

    if (item.organizations.length > 1){

      var cardsHolder = rEl[0].querySelector('.organizations-cards-holder');
      var cardsList = cardsHolder.querySelector('.slider-list');

      item.organizations.forEach(function(organization){
        var newOrganization = new CV.Card({data: organization}).render( cardsList );
        newOrganization.element[0].classList.add('slider-item');
      });

      new CV.ResponsiveSlider({
          element : cardsHolder,
          dots : true,
          minSlideWidth : 300
      });

    } else {
      rEl.find('.organizations-container').remove();
    }


  });

  var responsives = {
    'voices'    : null,
    'people'    : null,
    'organizations' : null
  }

	function renderData(data, instance, className){

    var itemsWrapper = document.querySelector('.discover-' + className + '-container');
    var itemsElements = [];

    data.forEach(function(item, index) {
      var itemWidget = new instance({data: item}).render(itemsWrapper);
        itemWidget.element.addClass('id-' + item.id);
          itemsElements.push(itemWidget.el);
        });

    responsives[className] = new CV.ResponsiveWidth({
        container : itemsWrapper,
        items : [].slice.call(itemsElements, 0),
        minWidth : 300
    }).setup();

	}

	function getData(url, instance, className){
		$.ajax({
			type: "GET",
			url: url,
			headers: { 'csrf-token': $('meta[name="csrf-token"]').attr('content') },
			data : {},
			dataType : 'json',
			success: function(data) {
				//console.log('New '+ className);
			  //console.log(data);
			  //renderData(data, instance, className)
			}
		});
	}

	getData('/discover/new/voices', CV.VoiceCover, 'voices');
	getData('/discover/new/people', CV.Card, 'people');
	getData('/discover/new/organizations', CV.Card, 'organizations');


  $( document ).ready(function() {

    createMenuActions('.profile-menu', '.profile-menu-content');

    function createMenuActions(menuContainer, contentContainer){
      $( menuContainer ).find('.-menu-tab').each(function( index ) {
        var elContent = $( contentContainer + ' .-menu-tab-content:nth-child(' + (index + 1) + ')');
        $(this).on('click', createCallback(this, index, elContent, menuContainer, contentContainer));
      });
    }

    function createCallback( tab, index, elContent, menuContainer, contentContainer ){
      return function(){
        $(menuContainer + ' .-menu-tab').removeClass('active');
        $(this).addClass('active');
        $(contentContainer + ' .-menu-tab-content').removeClass('active');
        $(elContent).addClass('active');
        responsives['voices'].setup();
        responsives['people'].setup();
        responsives['organizations'].setup();
      }
    }


  });

</script>
