<main role="main" class="cv-main-content">
  <section class="homepage-intro">
    <header class="homepage-intro-banner" role="banner">
      <hgroup>
        <h1 class="intro-heading -font-light -m0">Create, curate, amplify and&hellip;</h1>
        <h2 class="intro-sub-heading -font-bold -mt0">CrowdVoice!</h2>
      </hgroup>
    </header>

    <div class="intro-description">
      <p class="intro-description-text">Organize information about the causes that matter to you. Strengthen movements by collecting and crowdsourcing links, images, videos or create your own content.
        <a href="" class="-font-bold">join the raising voices of the world!</a>
      </p>
    </div>

    <article role="article" class="stats -row">
      <div class="stats-col -inline-block">
        <p class="stats-number -font-bold"><%= globalStats.countries %></p>
        <p class="stats-label">Countries</p>
      </div>
      <div class="stats-col -inline-block">
        <p class="stats-number -font-bold"><%= globalStats.organizations %></p>
        <p class="stats-label">Organizations</p>
      </div>
      <div class="stats-col -inline-block">
        <p class="stats-number -font-bold"><%= globalStats.voices %></p>
        <p class="stats-label">Voices created</p>
      </div>
      <div class="stats-col -inline-block">
        <p class="stats-number -font-bold"><%= globalStats.posts %></p>
        <p class="stats-label">Posts published</p>
      </div>
    </article>

    <div class="-clearfix">
      <div class="-float-left -mr1">
        <a href="/signup" class="cv-button primary large">Sign Up Now!</a>
      </div>
      <div class="-float-left">
        <a href="#" class="cv-button large">Learn More</a>
      </div>
    </div>

  </section><!-- @homepageintro -->

  <section class="homepage-featured-voices">
    <div class="homepage-heading-wrapper">
      <div class="-clearfix">
        <div class="-float-left">
          <h2 class="homepage-heading -font-light">Featured Voices</h2>
        </div>
        <div class="heading-right -float-right">
          <button class="cv-button tiny">Explore All</button>
        </div>
      </div>
    </div>

    <div class="-row -mb5">
      <div class="-col-8 -pr1 voice-cover-test"></div>
      <div class="-col-4 -pl1 voice-cover-test-2"></div>
    </div>

    <div class="-row">
      <div class="-col-4 -pr1 voice-cover-test-3"></div>
      <div class="-col-4 -pr1 -pl1 voice-cover-test-4"></div>
      <div class="-col-4 -pl1 voice-cover-test-5"></div>
    </div>
  </section><!-- @homepage-featured-voices -->

  <section class="homepage-category-list">
    <h2 class="homepage-category-list-heading -font-light -text-center">Participate in hundreds of <em>Voices</em> created to spread and amplify issues on:</h2>

    <div class="homepage-category-list-row -row">
    </div>

    <div class="homepage-category-list-cta -text-center">
      <button class="ui-btn -xl -primary -free-size">
        <div class="-font-bold">Create a Voice!</div>
        <div>Sign Up Now!</div>
      </button>
    </div>
  </section><!-- @homepage-category-list -->

  <section class="homepage-organization-cards">
    <div class="homepage-heading-wrapper -clearfix">
      <h2 class="homepage-heading -font-light -float-left">Most Active Organizations</h2>
    </div>

    <div class="-row -mb5 homepage-organization-cards-holder widget-responsive-slider">
      <div class="slider-list-wrapper">
        <div class="slider-list"></div>
      </div>
      <button class="slider-arrow slider-prev">
        <svg class="slider-arrow-svg"><use xlink:href="#svg-arrow-left"></use></svg>
      </button>
      <button class="slider-arrow slider-next">
        <svg class="slider-arrow-svg"><use xlink:href="#svg-arrow-right"></use></svg>
      </button>
      <div class="slider-dots"></div>
    </div>
  </section><!-- @homepage-organization-cards -->
</main>

<footer role="contentinfo" class="cv-main-footer -hide">
  <div class="cv-main-footer-inner">
    <div class="-row">
      <div class="footer-links-container -col-6">
        <img class="footer-logo" src="/img/global/logo-footer.png" width="53" height="60" />
        <nav class="footer-nav -inline-block" role="navigation">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Browse</a>
          <a href="#">Support</a>
        </nav>
        <div class="footer-social -inline-block">
          [facebook] [twitter]
        </div>
      </div>
      <div class="footer-subscribe-container -col-6">
        <div class="ui-input-group">
          <input class="ui-input -md" type="text" placeholder="Enter your email here to subscribe to our newsletter">
          <span class="ui-input-group-btn">
            <button class="ui-btn -primary -md -font-bold">Subscribe Me</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  var App = new CV.App({
    notifications : <%= JSON.stringify(notifications) %>
  });

  App.appendChild(
    new CV.HomeView({
      name : 'homeView',
      featuredVoicesData : <%= JSON.stringify(featuredVoices) %>,
      orgsData : <%= JSON.stringify(mostActiveOrganizations) %>,
      categoriesData : <%= JSON.stringify(categories) %>
    })
  );
</script>
