<main role="main" class="cv-main-content home">
  <section class="homepage-intro">
    <header class="homepage-intro-banner" role="banner">
      <h1 class="intro-heading -font-light -m0">Create, curate, amplify and&hellip;</h1>
      <h2 class="intro-sub-heading -font-bold -mt0">CrowdVoice</h2>
    </header>

    <div class="intro-description">
      <p class="intro-description-text">Organize information about the causes that matter to you. Strengthen movements by collecting and crowdsourcing links, images, videos or create your own content.</p>
    </div>

    <a href="/signup" class="homepage-intro-main-cta-dl cv-button primary large -text-center">
      <b class="-font-bold -block">Start Curating!</b>
      <span class="-font-bold">Sign up now!</span>
    </a>
    <a href="/page/about" class="homepage-intro-main-cta cv-button large -font-semi-bold">Learn More</a>
  </section><!-- @homepageintro -->

  <section class="homepage-featured-voices">
    <div class="homepage-heading-wrapper">
      <div class="-clearfix">
        <div class="-float-left">
          <h2 class="homepage-heading -font-light">Featured Voices</h2>
        </div>
        <div class="heading-right -float-left">
          <a href="/discover/browse" class="cv-button tiny">Explore All</a>
        </div>
      </div>
    </div>
    <div class="homepage-featured-voices-container"></div>
  </section><!-- @homepage-featured-voices -->

  <section class="home-stats">
    <p class="statsTitle -font-light">Harness the Power of the Crowd!</p>
    <!-- Stats -->
    <div class="stats">
    </div>
  </section>

  <a href="/signup" class="cv-button primary betweenDivs">Sign Up Now!</a>

  <section class="homepage-category-list">
    <h2 class="homepage-category-list-heading -font-light -text-center">
      Contribute and participate in Voices created to spread and amplify issues on&hellip;
    </h2>
    <div class="homepage-category-list-row -row"></div>
  </section><!-- @homepage-category-list -->

  <section class="homepage-organization-cards">
    <div class="homepage-heading-wrapper">
      <div class="-clearfix">
        <div class="-float-left">
          <h2 class="homepage-heading -font-light -float-left">Most Active Users & Organizations</h2>
        </div>
        <div class="heading-right -float-left">
          <a href="/discover/browse" class="cv-button tiny">Explore All</a>
        </div>
      </div>
    </div>

    <div class="-row homepage-organization-cards-holder widget-responsive-slider">
      <div class="slider-list-wrapper">
        <div class="slider-list"></div>
      </div>
      <button class="slider-arrow slider-prev">
        <svg class="slider-arrow-svg"><use xlink:href="#svg-arrow-left"></use></svg>
      </button>
      <button class="slider-arrow slider-next">
        <svg class="slider-arrow-svg"><use xlink:href="#svg-arrow-right"></use></svg>
      </button>
      <div class="slider-dots"></div>
    </div>
  </section><!-- @homepage-organization-cards -->
</main>

<%= renderPartial('shared/footer.html') %>

<script>
  var App = new CV.App().setup();
  App.socketStart();

  App.appendChild(
    new CV.HomeView({
      name : 'homeView',
      featuredVoicesData : <%= JSON.stringify(featuredVoices) %>,
      orgsData : <%= JSON.stringify(mostActiveOrganizations) %>,
      categoriesData : <%= JSON.stringify(topics) %>
    })
  );

  window.stats = new HomepageStats({
      name : 'stats',
      data : {
          cities : 0,
          organizations : 0,
          voices : 0,
          posts : 0
      }
  });
</script>
