<main role="main" class="cv-main-content -rel">


  <section class="profile-voices-intro">
      <h1 class="profile-heading -font-bold -m0">The International Parenthood Federation</h1>

      <article role="article" class="profile-menu -row -rel">
        <div class="profile-tabs">
          <div class="menu-item p-drafts active menu-tab -inline-block">
            <p class="-font-bold">Drafts</p>
          </div>
          <div class="menu-item p-unlisted menu-tab -inline-block">
            <p class="-font-bold">Unlisted</p>
          </div>
          <div class="menu-item p-public menu-tab -inline-block">
            <p class="-font-bold">Public</p>
          </div>
          <div class="menu-item p-archive menu-tab -inline-block">
            <p class="-font-bold">Archive</p>
          </div>
        </div>
      </article>

  </section>

  <section class="profile-body profile-menu-content -rel">

    <div class="p-drafts active el-list">
      <div class="-row">
        <div class="draft-test-1"></div>
        <div class="draft-test-2"></div>
        <div class="draft-test-3"></div>
        <div class="draft-test-4"></div>
        <div class="draft-test-5"></div>
      </div>
    </div>

    <div class="p-unlisted el-list">
      <div class="unlisted-test-1"></div>
      <div class="unlisted-test-2"></div>
      <div class="unlisted-test-3"></div>
      <div class="unlisted-test-4"></div>
      <div class="unlisted-test-5"></div>
    </div>
    <div class="p-public el-list">
      <div class="public-test-1"></div>
      <div class="public-test-2"></div>
      <div class="public-test-3"></div>
      <div class="public-test-4"></div>
      <div class="public-test-5"></div>
    </div>
    <div class="p-archive el-list">
      <div class="archive-test-1"></div>
      <div class="archive-test-2"></div>
      <div class="archive-test-3"></div>
      <div class="archive-test-4"></div>
      <div class="archive-test-5"></div>
    </div>

  </section>

</main>

<script>
  var postsContainer = document.querySelector('.voice-posts');
  var posts = [];

  var featuredVoicesData = <%= JSON.stringify(voices) %>;
  featuredVoicesData[0].style = 'list';
  featuredVoicesData[1].style = 'list';
  featuredVoicesData[2].style = 'list';
  featuredVoicesData[3].style = 'list';
  featuredVoicesData[4].style = 'list';

  featuredVoicesData[0].hasActions = true;
  featuredVoicesData[1].hasActions = true;
  featuredVoicesData[2].hasActions = true;
  featuredVoicesData[3].hasActions = true;
  featuredVoicesData[4].hasActions = true;

  new VoiceCover( featuredVoicesData[0] ).render( document.querySelector('.draft-test-1') );
  new VoiceCover( featuredVoicesData[1] ).render( document.querySelector('.draft-test-2') );
  new VoiceCover( featuredVoicesData[2] ).render( document.querySelector('.draft-test-3') );
  new VoiceCover( featuredVoicesData[3] ).render( document.querySelector('.draft-test-4') );
  new VoiceCover( featuredVoicesData[4] ).render( document.querySelector('.draft-test-5') );

  new VoiceCover( featuredVoicesData[4] ).render( document.querySelector('.unlisted-test-1') );
  new VoiceCover( featuredVoicesData[3] ).render( document.querySelector('.unlisted-test-2') );
  new VoiceCover( featuredVoicesData[2] ).render( document.querySelector('.unlisted-test-3') );
  new VoiceCover( featuredVoicesData[1] ).render( document.querySelector('.unlisted-test-4') );
  new VoiceCover( featuredVoicesData[0] ).render( document.querySelector('.unlisted-test-5') );

  new VoiceCover( featuredVoicesData[3] ).render( document.querySelector('.public-test-1') );
  new VoiceCover( featuredVoicesData[2] ).render( document.querySelector('.public-test-2') );
  new VoiceCover( featuredVoicesData[1] ).render( document.querySelector('.public-test-3') );
  new VoiceCover( featuredVoicesData[0] ).render( document.querySelector('.public-test-4') );
  new VoiceCover( featuredVoicesData[4] ).render( document.querySelector('.public-test-5') );

  new VoiceCover( featuredVoicesData[1] ).render( document.querySelector('.archive-test-1') );
  new VoiceCover( featuredVoicesData[2] ).render( document.querySelector('.archive-test-2') );
  new VoiceCover( featuredVoicesData[3] ).render( document.querySelector('.archive-test-3') );
  new VoiceCover( featuredVoicesData[4] ).render( document.querySelector('.archive-test-4') );
  new VoiceCover( featuredVoicesData[0] ).render( document.querySelector('.archive-test-5') );

  $( document ).ready(function() {

    var btnActions = ['.p-drafts', '.p-unlisted', '.p-public', '.p-archive'];
    for (i = 0; i < btnActions.length; i++){
      $('.profile-menu ' + btnActions[i]).on('click', createCallback(btnActions[i]));
    }

    function createCallback( elClass ){
      return function(){
        $('.profile-menu .menu-tab').removeClass('active');
        $(this).addClass('active');
        $('.profile-menu-content .el-list').removeClass('active');
        $('.profile-menu-content ' + elClass).addClass('active');
      }
    }




  });

</script>





