<main role="main" class="cv-main-content -rel">
  <div class="voice-background-cover">
    <img class="voice-background-cover-image" src="/img/sample/voices/cover-00.jpg" alt="">
  </div>

  <section class="profile-intro -rel">
    <img class="profile-image" src="/img/sample/avatars/org-06.png" alt="">
    <div class="pan-separator">

      <div class="profile-tw">@IPPF</div>
      <h1 class="profile-heading -font-bold -m0">The International Parenthood Federation</h1>
      <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>

      <div class="post-card-activity">

        <div class="post-card-activity-repost -inline-block -mr1">
          <svg class="post-card-activity-svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-repost"></use></svg>
          <span class="post-card-activity-label">London, UK</span>
        </div>

        <div class="post-card-activity-saved -inline-block  -mr1">
          <svg class="post-card-activity-svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-save"></use></svg>
          <span class="post-card-activity-label">Joined Feb, 2015</span>
        </div>

        <div class="post-card-activity-saved -inline-block">
          <svg class="post-card-activity-svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-save"></use></svg>
          <span class="post-card-activity-label">www.ippf.org</span>
        </div>

      </div>

    </div>



  </section>
  <article role="article" class="stats profile-stats -row -rel">
      <div class="profile-tabs">
        <div class="stats-col p-voices active voices-tab -inline-block">
          <p class="stats-number -font-bold">36</p>
          <p class="stats-label">Voices</p>
        </div>
        <div class="stats-col p-followers voices-tab -inline-block">
          <p class="stats-number -font-bold">148</p>
          <p class="stats-label">Followers</p>
        </div>
        <div class="stats-col p-following voices-tab -inline-block">
          <p class="stats-number -font-bold">12</p>
          <p class="stats-label">Following</p>
        </div>
        <div class="stats-col p-members voices-tab -inline-block">
          <p class="stats-number -font-bold">14</p>
          <p class="stats-label">Members</p>
        </div>
      </div>
      <div class="profile-actions"></div>
    </article>
  <section class="profile-body -rel">

    <div class="profile-list-type">
      <div class="style-grid active"><img src="/img/sample/icons/grid.png" alt=""></div>
      <div class="style-list"><img src="/img/sample/icons/list.png" alt=""></div>
    </div>

    <div class="p-voices active profile-list voices">
      <h2 class="profile-subheading -font-bold -m0">Voices</h2>
      <div class="-row">
        <div class="-col-4 -pr1 voice-cover-test-1 voice"></div>
        <div class="-col-4 -pr1 voice-cover-test-2 voice"></div>
        <div class="-col-4 -pr1 voice-cover-test-3 voice"></div>
        <div class="-col-4 -pr1 voice-cover-test-4 voice"></div>
        <div class="-col-4 -pr1 voice-cover-test-5 voice"></div>
      </div>
    </div>

    <div class="p-followers profile-list">
      <h2 class="profile-subheading -font-bold -m0">Followers</h2>
      <div class="-row">
        <div class="-col-4 -pr1 follower-test-1 voice"></div>
        <div class="-col-4 -pr1 follower-test-2 voice"></div>
        <div class="-col-4 -pr1 follower-test-3 voice"></div>
        <div class="-col-4 -pr1 follower-test-4 voice"></div>
        <div class="-col-4 -pr1 follower-test-5 voice"></div>
        <div class="-col-4 -pr1 follower-test-6 voice"></div>
      </div>
    </div>

    <div class="p-following profile-list">
      <h2 class="profile-subheading -font-bold -m0">Following</h2>
      <div class="-row">
        <div class="-col-4 -pr1 following-test-1 voice"></div>
        <div class="-col-4 -pr1 following-test-2 voice"></div>
        <div class="-col-4 -pr1 following-test-3 voice"></div>
        <div class="-col-4 -pr1 following-test-4 voice"></div>
        <div class="-col-4 -pr1 following-test-5 voice"></div>
        <div class="-col-4 -pr1 following-test-6 voice"></div>
      </div>
    </div>

  </section>

</main>

<script>
  var postsContainer = document.querySelector('.voice-posts');
  var posts = [];

  var featuredVoicesData = <%= JSON.stringify(voices) %>;
  new VoiceCover( featuredVoicesData[0] ).render( document.querySelector('.voice-cover-test-1') );
  new VoiceCover( featuredVoicesData[1] ).render( document.querySelector('.voice-cover-test-2') );
  new VoiceCover( featuredVoicesData[2] ).render( document.querySelector('.voice-cover-test-3') );
  new VoiceCover( featuredVoicesData[3] ).render( document.querySelector('.voice-cover-test-4') );
  new VoiceCover( featuredVoicesData[4] ).render( document.querySelector('.voice-cover-test-5') );

  var orgsData = <%= JSON.stringify(organizations) %>;

  new CV.Card(orgsData[0]).render(document.querySelector('.follower-test-1'));
  new CV.Card(orgsData[1]).render(document.querySelector('.follower-test-2'));
  new CV.Card(orgsData[2]).render(document.querySelector('.follower-test-3'));
  new CV.Card(orgsData[3]).render(document.querySelector('.follower-test-4'));
  new CV.Card(orgsData[4]).render(document.querySelector('.follower-test-5'));
  new CV.Card(orgsData[5]).render(document.querySelector('.follower-test-6'));

  new CV.Card(orgsData[5]).render(document.querySelector('.following-test-1'));
  new CV.Card(orgsData[4]).render(document.querySelector('.following-test-2'));
  new CV.Card(orgsData[3]).render(document.querySelector('.following-test-3'));
  new CV.Card(orgsData[2]).render(document.querySelector('.following-test-4'));
  new CV.Card(orgsData[1]).render(document.querySelector('.following-test-5'));
  new CV.Card(orgsData[0]).render(document.querySelector('.following-test-6'));



  //new Button({
  //    style   : 'primary',
  //    type    : 'single',
  //    label   : 'Manage Organization',
  //    name    : 'buttonManage'
  //}).render(document.querySelector('.profile-actions'));

  var btnTwiceOptions = {
    "1": {name: 'Request Membership'},
    "2": {name: 'Message'}
  };

  new CV.Button({
      style   : '',
      type    : 'twice',
      name    : 'buttonTwice',
      options : btnTwiceOptions
  }).render(document.querySelector('.profile-actions'));

  new CV.Button({
      style   : 'primary',
      type    : 'single',
      label   : 'Follow',
      name    : 'buttonFollow'
  }).render(document.querySelector('.profile-actions'));

  //var btnMultiOptions = {
  //  "1": {name: 'One', active : true},
  //  "2": {name: 'Two'},
  //  "3": {name: 'Three'}
  //};
  //new Button({
  //    style   : '',
  //    type    : 'multiple',
  //    name    : 'buttonMultiple',
  //    options : btnMultiOptions
  //}).render(document.querySelector('.profile-actions'));

  $( document ).ready(function() {

    var btnActions = ['.p-voices','.p-followers','.p-following'];
    for (i = 0; i < btnActions.length; i++){
      $('.profile-stats ' + btnActions[i]).on('click', createCallback(btnActions[i]));
    }

    function createCallback( elClass ){
      return function(){
        $('.profile-stats .voices-tab').removeClass('active');
        $(this).addClass('active');
        $('.profile-body .profile-list').removeClass('active');
        $('.profile-body ' + elClass).addClass('active');
      }
    }

    $('.style-grid').on('click', function(){
      $(this).addClass('active');
      $('.style-list').removeClass('active');
      $('.voice').addClass('-col-4 -pr1');
      $('.voice .cv-voice-cover, .voice .widget-card').removeClass('list-style');
    });

    $('.style-list').on('click', function(){
      $(this).addClass('active');
      $('.style-grid').removeClass('active');
      $('.voice').removeClass('-col-4 -pr1');
      $('.voice .cv-voice-cover, .voice .widget-card').addClass('list-style');
    });


  });

</script>





