<main role="main" class="cv-main-content -rel -nopad">


  <section class="profile-messages-intro">
      <h1 class="profile-heading messages-heading -font-bold -m0">Messages</h1>
      <button class="cv-button primary">New Message</button>
  </section>

  <section class="profile-body -nopad">

    <div class="messages-sidebar">
    	<article role="article" class="profile-menu top-menu -row" style="display: none;">
	        <div class="profile-tabs">
	          <div class="menu-item p-drafts active menu-tab -inline-block">
	            <p class="-font-bold">Messages</p>
	          </div>
	          <div class="menu-item p-unlisted menu-tab -inline-block">
	            <p class="-font-bold">Invitations</p>
	          </div>
	        </div>
      	</article>
      	<div class="messages-search"></div>
      	<div class="messages-list">
      		<div class="message-side">
      			<div class="message-info">
				    <img class="" src="/img/sample/avatars/org-06.png" alt="">
	      			<h3>Juan Solo</h3>
	      			<span>May the taco be with you</span>
      			</div>
      			<div class='actions'>
      				<span>3</span>
      			</div>
      		</div>
      		<div class="message-side">
      			<div class="message-info">
				    <img class="" src="/img/sample/avatars/org-06.png" alt="">
	      			<h3>Chu Vaca</h3>
	      			<span>May the taco be with you</span>
      			</div>
      			<div class='actions'>
      				<span>3</span>
      			</div>
      		</div>
      		<div class="message-side">
      			<div class="message-info">
				    <img class="" src="/img/sample/avatars/org-06.png" alt="">
	      			<h3>Yo Daba</h3>
	      			<span>May the taco be with you</span>
      			</div>
      			<div class='actions'>
      				<span>3</span>
      			</div>
      		</div>
      		<div class="message-side">
      			<div class="message-info">
				    <img class="" src="/img/sample/avatars/org-06.png" alt="">
	      			<h3>Juan Solo</h3>
	      			<span>May the taco be with you</span>
      			</div>
      			<div class='actions'>
      				<span>3</span>
      			</div>
      		</div>
      		<div class="message-side">
      			<div class="message-info">
				    <img class="" src="/img/sample/avatars/org-06.png" alt="">
	      			<h3>Chu Vaca</h3>
	      			<span>May the taco be with you</span>
      			</div>
      			<div class='actions'>
      				<span>3</span>
      			</div>
      		</div>
      		<div class="message-side">
      			<div class="message-info">
				    <img class="" src="/img/sample/avatars/org-06.png" alt="">
	      			<h3>Yo Daba</h3>
	      			<span>May the taco be with you</span>
      			</div>
      			<div class='actions'>
      				<span>3</span>
      			</div>
      		</div>
      		<div class="message-side">
      			<div class="message-info">
				    <img class="" src="/img/sample/avatars/org-06.png" alt="">
	      			<h3>Yo Daba</h3>
	      			<span>May the taco be with you</span>
      			</div>
      			<div class='actions'>
      				<span>3</span>
      			</div>
      		</div>
      		<div class="message-side">
      			<div class="message-info">
				    <img class="" src="/img/sample/avatars/org-06.png" alt="">
	      			<h3>Juan Solo</h3>
	      			<span>May the taco be with you</span>
      			</div>
      			<div class='actions'>
      				<span>3</span>
      			</div>
      		</div>
      	</div>
    </div>
    <div class="messages-body">
    <div class="messages-body-container">

    	<div class="messages-body-header">
    		Conversation with Pepe Pecas <a href="#">one link</a> and after a while <a href="#"><b>another bold</b></a>
      		<div class="action-icon"><img src="/img/sample/icons/trashcan.png" alt=""></div>

    	</div>
    	<div class="messages-container">
    		<div class="messages-conversation">
    			<div class="msgs">
    				<div class="message-text">
		      			<div class="message-info">
						    <img class="" src="/img/sample/avatars/org-06.png" alt="">
			      			<div class="message-data">
			      				<h3>Chu Vaca </h3>
			      				<span>• May 5th, 2015 • 7:32 PM</span>
			      				<p>May the taco be with you lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret.</p>
			      				<div class="message-notification">Julia has requested to become a contributor for The Extended Effects of the Fukushima Disaster. If you grant access, Julia will be able to <a href="#">one link</a> and after a while another bold. <a href="#"><b>Go to this Voice's settings ›</b></a></div>
			      			</div>
		      			</div>
		      		</div>
		      		<div class="message-text">
		      			<div class="message-info">
						    <img class="" src="/img/sample/avatars/org-06.png" alt="">
			      			<div class="message-data">
			      				<h3>Chu Vaca </h3>
			      				<span>• May 5th, 2015 • 7:32 PM</span>
			      				<p>May the taco be with you lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret.</p>
			      				<div class="message-notification">
			      					Julia has requested to become a contributor for The Extended Effects of the Fukushima Disaster. If you grant access, Julia will be able to <a href="#">one link</a> and after a while another bold. <a href="#"><b>Go to this Voice's settings ›</b></a>
			      					<div class="message-notification-actions"></div>
			      				</div>
			      			</div>
		      			</div>
		      		</div>
		      		<div class="message-text">
		      			<div class="message-info">
						    <img class="" src="/img/sample/avatars/org-06.png" alt="">
			      			<div class="message-data">
			      				<h3>Chu Vaca </h3>
			      				<span>• May 5th, 2015 • 7:32 PM</span>
			      				<p>May the taco be with you lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret.</p>
			      			</div>
		      			</div>
		      		</div>
    			</div>
    		</div>

    		<div class="message-create">

    		</div>
    	</div>

    </div>
    </div>

  </section>

</main>

<script>
  	$( document ).ready(function() {

  		var chatHeight = $(window).height() - ($('.profile-messages-intro').outerHeight() + $('.cv-main-header').outerHeight());
		$('.messages-sidebar, .messages-body-container').height(chatHeight);

		var sideMessagesHeight = chatHeight - $('.messages-search').outerHeight();

		$('.messages-list').css({'overflow-y':'scroll', 'height': sideMessagesHeight+'px'});

		var bodyMessagesHeight = chatHeight - ($('.messages-body-header').outerHeight() + $('.message-create').outerHeight());
		$('.messages-conversation').height(bodyMessagesHeight);


	});

  var postsContainer = document.querySelector('.voice-posts');
  var searchElement = document.querySelector('.messages-search');
  var createElement = document.querySelector('.message-create');

  var posts = [];

  var messageText = $('<div class="message-text">\
		      			<div class="message-info">\
						    <img class="" src="/img/sample/avatars/org-06.png" alt="">\
						    <div class="message-data">\
			      				<h3>Chu Vaca </h3>\
			      				<span>• May 5th, 2015 • 7:32 PM</span>\
			      				<p>May the taco be with you lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret.</p>\
			      			</div>\
		      			</div>\
		      		</div>');

  //new Check({ label : 'Tweets', name : '' }).render(menuLeftContainer);

	new CV.Input({type : 'search', placeholder : 'Search...'}).render(searchElement);

	new CV.Input({style : '', type : '', isArea : true, placeholder : 'Write a reply'}).render(createElement);

	var btn = new CV.Button({
		style   : 'primary',
		type    : 'single',
		label   : 'Reply',
		name    : 'buttonReply'
	}).render(createElement);

	//var btnTwiceOptions = {
	//  "1": {name: 'Accept'},
	//  "2": {name: 'Refuse'}
	//};
	//
	//new Button({
	//    style   : 'full',
	//    type    : 'twice',
	//    name    : 'buttonTwice',
	//    options : btnTwiceOptions
	//}).render(createElement);

	var btnMultipleOptions = {
		"1": {name: 'Accept'},
		"2": {name: 'Accept as an Anonymous Member'},
		"3": {name: 'Refuse'}
	};
	new CV.Button({
		style   : '',
		type    : 'multiple',
		name    : 'buttonMultiple',
		options : btnMultipleOptions
	}).render($('.message-notification-actions'));

	var mi = 1;

	btn.element.on('click', function(){
		var mt = messageText.clone();
		mt.find('h3').text('Chu vaca ' + mi + ' ');
		$('.msgs').append(mt);
		$('.messages-conversation').scrollTop(10000)
		mi++;
	});

	<%= JSON.stringify(posts) %>.forEach(function(post) {
	posts.push(CV.Post.create(post).render(postsContainer));
	});

</script>





