<main role="main" class="cv-main-content -rel">

  <div class="ui">
    <br>
    <div class="-col-12"><b>Modals:</b>
      <br>
      <a href="#" class="create-voice">Create voice</a><br>
      <a href="#" class="create-organization">Create organization</a><br>
      <a href="#" class="invite-contribute">Invite to contribute</a><br>
      <a href="#" class="manage-contributors">Manage Contributors</a><br>
      <a href="#" class="request-membership">Request Membership</a><br>
      <a href="#" class="manage-related-voices">Manage Related Voices</a><br>
      <a href="#" class="report">Report</a><br>
      <a href="#" class="block">Block</a>
      <br>
      <br>
    </div>
    <div class="-col-7 -pr1 col1"><br></div>
    <div class="-col-5 -pr1 col2"><br></div>

    <div class="-col-12"><br></div>

  </div>

</main>

<script>

$( document ).ready(function() {

  $('.create-voice').on('click', function(){
    createVoice.show();
  });
  $('.create-organization').on('click', function(){
    createOrganization.show();
  });
  $('.invite-contribute').on('click', function(){
    inviteToContribute.show();
  });
  $('.manage-contributors').on('click', function(){
    manageContributors.show();
  });
  $('.request-membership').on('click', function(){
    requestMembership.show();
  });
  $('.manage-related-voices').on('click', function(){
    manageRelatedVoices.show();
  });
  $('.report').on('click', function(){
    report.show();
  });
  $('.block').on('click', function(){
    block.show();
  });

});

var voices = <%= JSON.stringify(voices) %>;

var years= {
    "2014" : [
        {name: 'November', count: '431'},
        {name: 'October', count: '32'},
        {name: 'April', count: '958', selected: true},
        {name: 'February',count: '283'}
    ],
    "2015" : [
        {name: 'December', count: '32'},
        {name: 'November', count: '423'},
        {name: 'October', count: '623'},
        {name: 'September', count: '263'},
        {name: 'August', count: '292'},
        {name: 'July', count: '391'},
        {name: 'June', count: '23'},
        {name: 'May', count: '94'},
        {name: 'April', count: '238'},
        {name: 'March', count: '193'},
        {name: 'February', count: '482'},
        {name: 'January', count: '39'},
    ]
}

var createVoice = new CV.Modal({
    style       : '',
    type        : '',
    title       : 'Create a Voice',
    name        : 'createAVoiceModal',
    action      : CV.CreateVoice,
    width       : 960,
});//.render(document.querySelector('body'));

var createOrganization = new CV.Modal({
    style       : '',
    type        : '',
    title       : 'Create an Organization',
    name        : 'createAnOrganizationModal',
    action      : CV.CreateOrganization,
    width       : 540,
});//.render(document.querySelector('body'));

var inviteToContribute = new CV.Modal({
    style       : '',
    type        : '',
    title       : 'Invite to Contribute',
    name        : 'inviteToContributeModal',
    action      : CV.InviteToContribute,
    width       : 650,
});

var manageContributors = new CV.Modal({
    style       : '',
    type        : '',
    title       : 'Manage Contributors',
    name        : 'manageContributorsModal',
    action      : CV.ManageContributors,
    width       : 900,
});

var requestMembership = new CV.Modal({
    style       : '',
    type        : '',
    title       : 'Request Membership',
    name        : 'requestmembershipModal',
    action      : CV.RequestMembership,
    width       : 650,
});

var manageRelatedVoices = new CV.Modal({
    style       : '',
    type        : '',
    title       : 'Manage Related Voices',
    name        : 'manageRelatedVoicesModal',
    action      : CV.ManageRelatedVoices,
    width       : 900,
});

var report = new CV.Modal({
    style       : '',
    type        : '',
    title       : 'Report / Claim',
    name        : 'reportModal',
    action      : CV.Report,
    width       : 650,
});


var block = new CV.Modal({
    style       : '',
    type        : '',
    title       : 'Block',
    name        : 'blockModal',
    action      : CV.Block,
    width       : 700,
});

new CV.Notification({
    style       : '',
    type        : '',
    title       : '',
    name        : 'notification',
    //action      : Share,
    //actionData  : years,
}).render(document.querySelector('.ui .col1'));
$('.ui .col1').append('<br>');

new CV.Bubble({
    style       : 'full',
    type        : '',
    title       : 'Want to help out?',
    name        : 'help',
    action      : CV.Help,
    //actionData  : years,
}).render(document.querySelector('.-col-12'));

$('.-col-12').append('<br>');

new CV.Bubble({
    style       : '',
    type        : '',
    title       : 'Share',
    name        : 'share',
    action      : CV.Share,
    //actionData  : years,
    width       : 420,
}).render(document.querySelector('.ui .col1'));

$('.ui .col1').append('<br>');

new CV.Bubble({
    style       : '',
    type        : '',
    title       : 'Jump to...',
    name        : 'JTD',
    action      : CV.JumpToDate,
    actionData  : years,
}).render(document.querySelector('.ui .col1'));

new CV.Bubble({
    style       : '',
    type        : '',
    title       : 'Related Voices',
    name        : 'relatedBubble',
    action      : CV.VoicesList,
    actionData  : voices,
    width       : 480,
}).render(document.querySelector('.-col-12'));

new CV.Button({
    style   : 'primary',
    type    : 'single',
    label   : 'Follow Voice',
    name    : 'buttonFoll'
}).render(document.querySelector('.ui .col2'));
new CV.Button({
    style   : 'primary following',
    type    : 'single',
    label   : 'Following',
    name    : 'buttonFoll'
}).render(document.querySelector('.ui .col2'));


//Normal
var allZones = {
  "1": {name: 'This Week', active: true},
  "2": {name: 'This Month'},
  "3": {name: 'All Time'}
};
new CV.Select({
  label : 'Choose Zone',
  name  : 'select',
  options: allZones
}).render(document.querySelector('.ui .col2'));

//Checkbox
var allGrades = {
  "1": {name: 'Myself'},
  "2": {name: 'Organization 01'},
  "3": {name: 'Organization 02'},
  "4": {name: 'Organization 03'}
};

new CV.Select({
    type      : 'check',
    label     : 'Follow voice as...',
    name      : 'selectFollow',
    style     : '',
    options   : allGrades,
    hasArrow  : false,
    hasTitle  : true,
    title     : "Title (?)",
    subTitle  : "65 Characters max"
}).render(document.querySelector('.ui .col2'));

//Multiple
var allMulti = {
  "1": {name: 'Myself'},
  "2": {
    name: 'Organization 01',
    sub: {
      "0": {name: 'Public'},
      "1": {name: 'Anonimously'}
    }
  },
  "3": {name: 'Organization 02'},
  "4": {name: 'Organization 03'}
};
new CV.Select({
  label : 'Multiple',
  name  : 'select',
  options: allMulti
}).render(document.querySelector('.ui .col2'));

$( document ).ready(function() {

});

</script>










