
<main role="main" class="cv-main-content -rel -nopad">


  <section class="profile-messages-intro">
      <h1 class="profile-heading messages-heading -font-bold -m0">Messages</h1>
      <!-- New Message Button -->
  </section>

  <section class="profile-body -nopad">

    <div class="messages-sidebar">
    	<article role="article" class="profile-menu top-menu -row" style="display: none;">
	        <div class="profile-tabs">
	          <div class="menu-item p-drafts active menu-tab -inline-block">
	            <p class="-font-bold">Messages</p>
	          </div>
	          <div class="menu-item p-unlisted menu-tab -inline-block">
	            <p class="-font-bold">Invitations</p>
	          </div>
	        </div>
      	</article>
      	<div class="messages-search"></div>
      	<div class="messages-list">

      	</div>
    </div>
    <div class="messages-body">
	<div class="no-messages">
		Please select a thread from the list on the left or <a href="#" class="new-message">compose a new message</a>.
	</div>
    <div class="messages-body-container">

    	<div class="messages-body-header">
    		<div class="m-action">
    			<span class="conversation-title">Conversation with Pepe Pecas <a href="#">one link</a> and after a while <a href="#"><b>another bold</b></a></span>
      			<div class="action-icon"><img src="/img/sample/icons/trashcan.png" alt=""></div>
      		</div>
      		<div class="m-new">
      			<div class="-col-3">
      				<span>new message to:</span>
      			</div>
      			<div class="-col-9">
	    			<div class="form-field">
	    				<div class="cv-input">
	    					<input class="search-users" type="text" placeholder="Type name">
	    				</div>
	    			</div>
	    			<ul class="search-users-result">
	    			</ul>
    			</div>
      		</div>
    	</div>
    	<div class="messages-container">
    		<div class="messages-conversation">
    			<div class="msgs">
    				<div class="message-text" style="display: none;">
		      			<div class="message-info">
						    <img class="" src="/img/sample/avatars/org-06.png" alt="">
			      			<div class="message-data">
			      				<h3>Chu Vaca </h3>
			      				<span>• May 5th, 2015 • 7:32 PM</span>
			      				<p>May the taco be with you lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret.</p>
			      				<div class="message-notification">Julia has requested to become a contributor for The Extended Effects of the Fukushima Disaster. If you grant access, Julia will be able to <a href="#">one link</a> and after a while another bold. <a href="#"><b>Go to this Voice's settings ›</b></a></div>
			      			</div>
		      			</div>
		      		</div>
		      		<div class="message-text" style="display: none;">
		      			<div class="message-info">
						    <img class="" src="/img/sample/avatars/org-06.png" alt="">
			      			<div class="message-data">
			      				<h3>Chu Vaca </h3>
			      				<span>• May 5th, 2015 • 7:32 PM</span>
			      				<p>May the taco be with you lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret.</p>
			      				<div class="message-notification">
			      					Julia has requested to become a contributor for The Extended Effects of the Fukushima Disaster. If you grant access, Julia will be able to <a href="#">one link</a> and after a while another bold. <a href="#"><b>Go to this Voice's settings ›</b></a>
			      					<div class="message-notification-actions"></div>
			      				</div>
			      			</div>
		      			</div>
		      		</div>
		      		<div class="message-text" style="display: none;">
		      			<div class="message-info">
						    <img class="" src="/img/sample/avatars/org-06.png" alt="">
			      			<div class="message-data">
			      				<h3>Chu Vaca </h3>
			      				<span>• May 5th, 2015 • 7:32 PM</span>
			      				<p>May the taco be with you lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret.</p>
			      			</div>
		      			</div>
		      		</div>
    			</div>
    		</div>

    		<div class="message-create">

    		</div>
    	</div>

    </div>
    </div>

  </section>

</main>

<script>
  	$( document ).ready(function() {
  		resizeMessages();
	});



  	var searchElement = document.querySelector('.messages-search');
  	var createElement = $(document.querySelector('.message-create'));

  	var messagesContainerEl = $(document.querySelector('.messages-container'));
  	var noMessagesEl = $(document.querySelector('.no-messages'));
  	var messagesBodyHeaderEl = $(document.querySelector('.messages-body-header'));
  	var messagesBodyContainerEl = $(document.querySelector('.messages-body-container'));
  	var threadListEl = $(document.querySelector('.messages-list'));
  	var messageListEl = $(document.querySelector('.msgs'));

  	var searchUsersResultEl = $(document.querySelector('.search-users-result'));

  	var threads = <%= JSON.stringify(threads) %>;
	var threadsObj = {};

	var currentThreadID;
	var currentPersonID = '<%= currentPerson.id %>';
	var otherPersonID;
	var currentPersonProfileName = '<%= currentPerson.profileName %>';
	var token = '<%= csrfToken %>';
	var relatedPersons;
	var isNewThread = false;

	var messageText = $('<div class="message-text">\
			      			<div class="message-info">\
							    <img class="" src="/img/sample/avatars/org-06.png" alt="">\
							    <div class="message-data">\
				      				<h3>Chu Vaca </h3>\
				      				<span>• May 5th, 2015 • 7:32 PM</span>\
				      				<p>May the taco be with you lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret lorem ipsum dolor sit ameret.</p>\
				      			</div>\
			      			</div>\
			      		</div>');

  	var messageSide = $('<div class="message-side">\
			      			<div class="message-info">\
							    <img class="" src="/img/sample/avatars/org-06.png" alt="">\
				      			<h3></h3>\
				      			<span></span>\
			      			</div>\
			      			<div class="actions">\
			      				<span></span>\
			      			</div>\
			      		</div>');

	var searchInput = new CV.Input({type : 'search', placeholder : 'Search...'}).render(searchElement);

	var areaText = new CV.Input({
		style : '',
		type : '',
		isArea : true,
		placeholder : 'Write a reply'
	}).render(createElement);


	var buttonNew = new CV.Button({
		style   : 'primary',
		type    : 'single',
		label   : 'New Message',
		name    : 'buttonNew'
	}).render($('.profile-messages-intro'));

	var buttonReply = new CV.Button({
		style   : 'primary',
		type    : 'single',
		label   : 'Reply',
		name    : 'buttonReply'
	}).render(createElement);

	var btnMultipleOptions = {
		"1": {name: 'Accept'},
		"2": {name: 'Accept as an Anonymous Member'},
		"3": {name: 'Refuse'}
	};
	new CV.Button({
		style   : '',
		type    : 'multiple',
		name    : 'buttonMultiple',
		options : btnMultipleOptions
	}).render($('.message-notification-actions'));

	var mi = 1;

	buttonReply.element.on('click', function(){
		if (isNewThread){
			createThread();
		} else {
			postMessage();
		}
	});

	buttonNew.element.on('click', function(){
		newMessage();
	});

	$('a.new-message').on('click', function(){
		newMessage();
	});

	threads.forEach(function(thread) {
		addThread(thread);
	});

	$(searchInput.element).find('input').on('keyup', function(){

		var searchStr = $(this).val();
		threadListEl.find('.message-side').each(function( index, value ) {

			var userStr = $(this).find('h3').text().toLowerCase();

			if (userStr.indexOf(searchStr) >= 0){
				$(this).show();
			}else{
				$(this).hide();
			}

		});
	});

	$('.search-users').on('keyup', function(){


		var searchStr = $(this).val().toLowerCase();

		if (searchStr == ""){
			searchUsersResultEl.hide();
			return false;
		}

		$.ajax({
			type: "POST",
			url:'/' + currentPersonProfileName + '/messages/searchPeople',
			headers: { 'csrf-token': token },
			data : {value : searchStr},
			success: function(data) {
				console.log('people: ', data);
				relatedPersons = data;
				showPersons(data);
			}
		});



	});

	function showPersons(persons){
		searchUsersResultEl.show();
		searchUsersResultEl.empty();

		for (person in persons){
			if (persons[person].isAnonymous == false){
				var userStr = persons[person].name + ' ' +
				persons[person].lastname;
				//if (userStr.toLowerCase().indexOf(searchStr) >= 0){
					var liStr = $('<li data-id="' + persons[person].id + '" data-name="' + userStr + '">' + userStr + '</li>');
					liStr.on('click', function(){

						otherPersonID = $(this).attr('data-id');
						if (isOnThreadList(otherPersonID)){
							threadListEl.find('#'+ otherPersonID).click();
						} else {
							isNewThread = true;

							showNewThreadScreen($(this).attr('data-id'), $(this).attr('data-name'));
						}
						$('.search-users').val("");
						searchUsersResultEl.hide();
					})
					searchUsersResultEl.append(liStr);
				//}
			}
		}
	}

	function isOnThreadList (selectedPersonID){
		var foundIt = false;
		threadListEl.find('.message-side').each(function( index, value ) {
			if ($(this).attr('id') == selectedPersonID){
				//console.log('bingo');
				foundIt = true;
			}

		});
		return foundIt;
	}

	function newMessage (){
		//console.log(threadId);
		//currentThreadID = threadId;
		noMessagesEl.hide();
		messagesContainerEl.hide();
		messagesBodyContainerEl.addClass('active');
		messagesBodyHeaderEl.find('.m-action').hide();
		messagesBodyHeaderEl.find('.m-new').show();
		messageListEl.empty();
		resizeMessages();


	}

	function postMessage(){
		var postMessageUrl = '/'+ currentPersonProfileName + '/messages/'+ currentThreadID;

		$.ajax({
          type: "POST",
          url: postMessageUrl,
          headers: { 'csrf-token': token },
          data: { message : document.querySelector('.message-create textarea').value},
          success: function(data) {
            document.querySelector('.message-create textarea').value = "";
            var messageEl = messageText.clone();
			messageEl.find('.message-data h3').text('<%= currentPerson.name %>' + " " +
				'<%= currentPerson.lastname %>');
			messageEl.find('.message-data span').text(moment(new Date().toISOString()).
				format('• MMMM Do, YYYY • h:mm a'));
			messageEl.find('.message-data p').text(data.message);
			messageListEl.append(messageEl);
			$('.messages-conversation').scrollTop(10000);
          }
        });
	}

	function showNewThreadScreen (otherPersonID, otherPersonName){
		//console.log(otherPersonID);
		messagesBodyHeaderEl.find('.m-action').show();
		messagesBodyHeaderEl.find('.m-new').hide();
		messagesBodyHeaderEl.find('span.conversation-title').text('Conversation with ' + otherPersonName);
		messagesContainerEl.show();
		resizeMessages();
	}

	function createThread () {
		var postMessageUrl = '/'+ currentPersonProfileName + '/messages';
		console.log(currentPersonID);
		console.log(otherPersonID);
		$.ajax({
          type: "POST",
          url: postMessageUrl,
          headers: { 'csrf-token': token },
          data: {
          	message : document.querySelector('.message-create textarea').value,
          	senderEntityId : currentPersonID,
          	receiverEntityId : otherPersonID
          },
          success: function(data) {
          	currentThreadID = data.id;
          	addThread(data);
          	postMessage();
            console.log(data);
          }
        });

	}

    function addThread (thread){
    	console.log(thread);

		var threadEl = messageSide.clone();
		var threadPartner;
		if (thread.receiverEntity.id != currentPersonID ){
			threadPartner = thread.receiverEntity;
		} else{
			threadPartner = thread.senderEntity;
		}
		threadEl.attr('id', threadPartner.id);
		var threadPartnerName = threadPartner.name + " " + threadPartner.lastname;
		threadEl.find('h3').text(threadPartnerName);

		if (thread.unreadCount > 0) {
			threadEl.find('.actions span').text(thread.unreadCount);
		} else {
			threadEl.addClass('updated');
		}

		if (isNewThread){
			threadListEl.prepend(threadEl);
		} else {
			threadListEl.append(threadEl);
		}

		threadsObj[thread.id] = thread;

		threadEl.on('click', function(){

			showThread(thread.id, threadPartnerName, this);
		});
    }

	function showThread (threadId, threadPartnerName, threadEl){
		isNewThread = false;
		//console.log(threadId);
		currentThreadID = threadId;
		noMessagesEl.hide();
		messagesBodyContainerEl.addClass('active');
		messagesContainerEl.show();
		messageListEl.empty();

		messagesBodyHeaderEl.find('.m-action').show();
		messagesBodyHeaderEl.find('.m-new').hide();
		messagesBodyHeaderEl.find('span.conversation-title').text('Conversation with ' + threadPartnerName);

		resizeMessages();

		if (!$(threadEl).hasClass('updated')){
			$(threadEl).addClass('updated');
			var updateThreadUrl = '/'+ currentPersonProfileName + '/messages/'+ threadId;
			console.log(updateThreadUrl); //  /jack-johnson/messages/K8adgKWgZPlo
			$.ajax({
	          type: "PUT",
	          url: updateThreadUrl,
	          headers: { 'csrf-token': token },
	          success: function(data) {
	            console.log('Thread updated');
	          }
	        });
		}

		//for (messageId in threadsObj[threadId].messages){
		//	var messageObj = threadsObj[threadId].messages[messageId];
		//	var messageEl = messageText.clone();
		//	messageEl.find('.message-data h3').text('Undefined User');
		//	var userDate = new Date(messageObj.createdAt);
    	//	var prettyDate = '• ' + months[userDate.getUTCMonth()] + ' ' +
    	//					 userDate.getUTCDay()+ 'th, ' +
    	//					 userDate.getUTCFullYear() + ' • ' +
    	//					 userDate.getUTCHours() +':'+ userDate.getUTCMinutes();
		//	messageEl.find('.message-data span').text(prettyDate);
		//	messageEl.find('.message-data p').text(messageObj.message);
		//	messageListEl.append(messageEl);
		//}

		Object.keys(threadsObj[threadId].messages).sort().reverse().forEach(function(messageId, i) {
          	var messageObj = threadsObj[threadId].messages[messageId];
			var messageEl = messageText.clone();
			messageEl.find('.message-data h3').text(messageObj.senderEntity.name + " " + messageObj.senderEntity.lastname);
			messageEl.find('.message-data span').text(moment(new Date(messageObj.createdAt).toISOString()).format('• MMMM Do, YYYY • h:mm a'));
			messageEl.find('.message-data p').text(messageObj.message);
			messageListEl.append(messageEl);
       	});

		$('.messages-conversation').scrollTop(10000);

	}

	function resizeMessages () {
  		var chatHeight = $(window).height() - ($('.profile-messages-intro').outerHeight() + $('.cv-main-header').outerHeight());
		$('.messages-sidebar, .messages-body, .messages-body-container').height(chatHeight);
		var sideMessagesHeight = chatHeight - $('.messages-search').outerHeight();
		$('.messages-list').css({'overflow-y':'scroll', 'height': sideMessagesHeight+'px'});
		var bodyMessagesHeight = chatHeight - ($('.messages-body-header').outerHeight() + $('.message-create').outerHeight());
		$('.messages-conversation').height(bodyMessagesHeight);
  	}

</script>





