<main role="main" class="-rel -overflow-hidden -full-height">
<section class="messages-main -full-height">
  <div class="messages-sidebar -float-left -full-height -rel">
    <div class="messages-sidebar-header -clear-after">
      <div class="messages-new -float-right -pl1"></div>
      <div class="messages-search -overflow-hidden"></div>
    </div>
    <div class="messages-list">
    </div>
  </div>
  <div class="messages-body -full-height">
    <div class="no-messages -table -full-width -full-height">
      <div class="-table-cell -vam -text-center">
        <div class="no-messages__inner">
          <p class="no-messages-text -color-neutral-mid">Select a conversation from the list to start messaging.</p>
        </div>
      </div>
    </div>
    <div class="messages-body-container -full-height">
      <div class="messages-body-header">
        <div class="m-action -ellipsis">
          <span class="conversation-title">Conversation with...</span>
          <div class="action-icon delete-thread">
            <svg class="delete-thread-svg -s16">
              <use xlink:href="#svg-trash"></use>
            </svg>
          </div>
        </div>
        <div class="m-new -clearfix">
          <div class="-float-left">
            <span class="m-new__label">New message from <span class="js-m-new__label-sender -font-bold">Myself</span> to:</span>
          </div>
          <div class="-overflow-hidden">
            <div class="form-field">
              <div class="cv-input small hollow">
                <input class="search-users" type="text" placeholder="Type name">
              </div>
            </div>
            <ul class="search-users-result">
            </ul>
          </div>
        </div>
      </div>
      <div class="messages-container -rel">
        <div class="messages-conversation">
          <div class="msgs">
            <!-- messages container -->
          </div>
        </div>

        <div class="message-create"></div>
      </div>

    </div>
  </div>
</section>
</main>

<script>
var App = new CV.App().setup();
App.addInteractiveSidebar();

var threadsContainer = new CV.ThreadsContainer({
  name : 'threadContainer',
  element : $(document.querySelector('.messages-main')),
  threads : <%= JSON.stringify(threads) %>
});

var threadHash = window.location.hash.substr(1);
if (threadHash){
  threadsContainer.element.find('.messages-list #'+threadHash).click();
}
</script>
