<main role="main" class="cv-main-content -rel">

  <section class="profile-onboarding -rel">

    <img src="../img/icon-sad-face.png">
    <h1>No recommendations yet</h1>
    <p>Follow, post and save content to get suggestions on Voices, People and Organizations that share similar content and topics you are interested in. Explore and discover!</p>
    <br>
  </section>

</main>

<script>

  new Button({
      style   : 'primary',
      type    : 'single',
      label   : 'Explore',
      name    : 'buttonExplore'
  }).render(document.querySelector('.profile-onboarding'));

  $( document ).ready(function() {

  });

</script>










