<main role="main" class="cv-main-content -rel">


  <section class="profile-voices-intro">
      <h1 class="profile-heading -font-bold -m0">Manage Organization</h1>

      <article role="article" class="profile-menu -row -rel">
        <div class="profile-tabs">
          <div class="menu-item active -menu-tab -inline-block">
            <p class="-font-bold">Profile</p>
          </div>
          <div class="menu-item -menu-tab -inline-block">
            <p class="-font-bold">Account</p>
          </div>
          <div class="menu-item -menu-tab -inline-block">
            <p class="-font-bold">Members</p>
          </div>
          <div class="menu-item -menu-tab -inline-block">
            <p class="-font-bold">Blocked Users</p>
          </div>
        </div>
      </article>

  </section>

  <section class="profile-body profile-menu-content -rel">
    <div class="active -menu-tab-content">
      <form class="form-profile">
        <div class="-width-50">
          <div class="-col-3 -pr1 placeholder-logo">
          </div>
          <div class="-col-9 -pl1 placeholder-background">
          </div>
          <div class="-col-12 placeholder-main">
          </div>
          <div class="-row">
            <div class="-col-10 -pr1 placeholder-location">
            </div>
            <div class="-col-2 -pl1 placeholder-pin">
              <div class="form-field">
                <label><span></span></label>
                <div class="cv-detect-location">Detect</div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="-col-12 placeholder-send"></div>
      </form>
    </div>
    <div class="-menu-tab-content">
      <form class="form-account">
        <div class="-width-50">

          <div class="-row">
            <div class="-col-12 placeholder-main">
              <div class="form-field">
                <label>Privacy<span></span></label>
                <div class="text">
                  <p>Your organization profile is public.</p>
                  <span class="dim">Protect your organization if you'd like to approve new followers before they can see your organization's activity.</span>
                </div>
              </div>
            </div>

          </div>

        </div>
        <hr>

        <div class="-width-50">

          <div class="form-field">
            <label>Deactivate Account<span></span></label>
            <div class="text">
              <p>Deactivating your account will remove it from CrowdVoice.by within a few minutes. You can sign back in whenever to reactivate your account and restore its content.</p>
              <br>
              <a href="#">Deactivate Account</a>
              <br><br>
              <span class="dim">If you want to permanently delete your account and remove your content, please <a href="#">send us a request</a>. It will take a few days to process a full deletion.</span>

            </div>
          </div>

        </div>

      </form>
    </div>


    <div class="-menu-tab-content">
      <div class="placeholder-members">

      </div>
    </div>

    <div class="-menu-tab-content">
      <div class="placeholder-users">

      </div>
    </div>

  </section>

</main>

<script>
  //var postsContainer = document.querySelector('.voice-posts');
  //var posts = [];
  //var featuredVoicesData = <%= JSON.stringify(voices) %>;
  var users = <%= JSON.stringify(users) %>;
  var organizations = <%= JSON.stringify(organizations) %>;


  //******* profile ************


  new CV.Image({
      hasTitle  : true,
      title     : "Logo / badge"
  }).render($('.form-profile .placeholder-logo'));

  new CV.Image({
      hasTitle  : true,
      title     : "Background"
  }).render($('.form-profile .placeholder-background'));

  new CV.Input({
      type      : '', name: '', style : '',
      hasTitle  : true,
      title     : "Organization Name",
  }).render($('.form-profile .placeholder-main'));

  new CV.Input({
      placeholder : 'http://www.crowdvoice.by/@',
      hasTitle  : true,
      title     : "Handler",
  }).render($('.form-profile .placeholder-main'));

  new CV.Input({
      isArea    : true,
      hasTitle  : true,
      title     : "Description",
      subTitle  : "140 characters max"
  }).render($('.form-profile .placeholder-main'));

  new CV.Input({
      hasTitle  : true,
      title     : "Location",
  }).render($('.form-profile .placeholder-location'));

  new CV.Button({
      style   : 'primary',
      type    : 'single',
      label   : 'Save Changes',
      name    : 'buttonSend'
  }).render($('.form-profile .placeholder-send'));


  //******* account ************

  new CV.Button({
      style   : 'primary',
      type    : 'single',
      label   : 'Set Account to be protected',
      name    : 'buttonSend'
  }).render($('.form-account .placeholder-main'));


  //******* notifications ************


  //******* members ************

  var searchInput = new CV.InputButton({
      type      : '',
      name      : '',
      style     : 'primary',
      hasTitle  : true,
      placeholder : 'Search users...',
      title     : "Invite users to join Mideast Youth (?)",
      buttonLabel : "Invite"
  }).render($('.placeholder-members'));

  new CV.Input({
      type      : '',
      name      : '',
      style     : '',
      isArea    : true,
      hasTitle  : true,
      title     : "Write a message"
  }).render($('.placeholder-members'));


  new CV.UsersList({
      type          : '',
      name          : '',
      style         : '',
      hasButton     : true,
      users         : users,
      listTitle     : "{count} members of Mideast Youth",
      dateTitle     : "Member since"
  }).render($('.placeholder-members'));

  //******* blocked ************

  new CV.UsersList({
      type          : '',
      name          : '',
      style         : '',
      hasButton     : true,
      users         : users,
      listTitle     : "{count} Blocked users",
      dateTitle     : "Blocked on"
  }).render($('.placeholder-users'));




  $( document ).ready(function() {

    createMenuActions('.profile-menu', '.profile-menu-content');

    function createMenuActions(menuContainer, contentContainer){
      $( menuContainer ).find('.-menu-tab').each(function( index ) {
        var elContent = $( contentContainer + ' .-menu-tab-content:nth-child(' + (index + 1) + ')');
        $(this).on('click', createCallback(this, index, elContent, menuContainer, contentContainer));
      });
    }

    function createCallback( tab, index, elContent, menuContainer, contentContainer ){
      return function(){
        $(menuContainer + ' .-menu-tab').removeClass('active');
        $(this).addClass('active');
        $(contentContainer + ' .-menu-tab-content').removeClass('active');
        $(elContent).addClass('active');
        searchInput.recalculate();
      }
    }

  });

</script>





