<main role="main" class="cv-main-content -rel -row" style="background: #fff;">

  <div class="ui">
    <br>
    <div class="-col-12">
      <b>Modals:</b>
      <br>
      <a href="#" class="create-voice">Create voice</a><br>
      <a href="#" class="create-organization">Create organization</a><br>
      <a href="#" class="invite-contribute">Invite to contribute</a><br>
      <a href="#" class="manage-contributors">Manage Contributors</a><br>
      <a href="#" class="request-membership">Request Membership</a><br>
      <a href="#" class="manage-related-voices">Manage Related Voices</a><br>
      <a href="#" class="modal-report">Report</a><br>
      <a href="#" class="modal-block">Block</a>
      <br>
      <br>
    </div>
    <div class="-col-12">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <b>Bubbles:</b>
      <br>
      <a href="#" class="bubble-help" style="margin: 0px 60px;">Help</a>
      <a href="#" class="bubble-share" style="margin: 0px 60px;">Share</a>
      <a href="#" class="bubble-jump" style="margin: 0px 60px;">Jump</a>
      <a href="#" class="bubble-related" style="margin: 0px 60px;">Related</a>
      <br>
      <br>
      <br>

    </div>

    <div class="-col-12 placeholder-ui">
      <div class="-col-2 c1">

      </div>
      <div class="-col-2 c2">

      </div>
      <div class="-col-2 c3">

      </div>
      <div class="-col-2 c4">

      </div>
      <div class="-col-4 c5">

      </div>

    </div>

    <div class="-col-12 placeholder-ui2">
      <div class="-col-5 c1">

      </div>
      <div class="-col-1">

      </div>
      <div class="-col-5 c2">

      </div>
      <div class="-col-1">

      </div>

      </div>
    </div>

    <div class="-col-12 placeholder-bubble">
    </div>



  </div>

</main>

<script>

$( document ).ready(function() {

  $('.create-voice').on('click', function(){
    createVoice.show();
  });
  $('.create-organization').on('click', function(){
    createOrganization.show();
  });
  $('.invite-contribute').on('click', function(){
    inviteToContribute.show();
  });
  $('.manage-contributors').on('click', function(){
    manageContributors.show();
  });
  $('.request-membership').on('click', function(){
    requestMembership.show();
  });
  $('.manage-related-voices').on('click', function(){
    manageRelatedVoices.show();
  });
  $('.modal-report').on('click', function(){
    report.show();
  });
  $('.modal-block').on('click', function(){
    block.show();
  });

});

var voices = <%= JSON.stringify(voices) %>;
var users = <%= JSON.stringify(users) %>;

var years= {
    "2014" : [
        {name: 'November', count: '431'},
        {name: 'October', count: '32'},
        {name: 'April', count: '958', selected: true},
        {name: 'February',count: '283'}
    ],
    "2015" : [
        {name: 'December', count: '32'},
        {name: 'November', count: '423'},
        {name: 'October', count: '623'},
        {name: 'September', count: '263'},
        {name: 'August', count: '292'},
        {name: 'July', count: '391'},
        {name: 'June', count: '23'},
        {name: 'May', count: '94'},
        {name: 'April', count: '238'},
        {name: 'March', count: '193'},
        {name: 'February', count: '482'},
        {name: 'January', count: '39'},
    ]
}

var createVoice = new CV.Modal({
    style       : '',
    type        : '',
    title       : 'Create a Voice',
    name        : 'createAVoiceModal',
    action      : CV.CreateVoice,
    width       : 960,
});//.render(document.querySelector('body'));

var createOrganization = new CV.Modal({
    style       : '',
    type        : '',
    title       : 'Create an Organization',
    name        : 'createAnOrganizationModal',
    action      : CV.CreateOrganization,
    width       : 540,
});//.render(document.querySelector('body'));

var inviteToContribute = new CV.Modal({
    style       : '',
    type        : '',
    title       : 'Invite to Contribute',
    name        : 'inviteToContributeModal',
    action      : CV.InviteToContribute,
    width       : 650,
});

var manageContributors = new CV.Modal({
    style       : '',
    type        : '',
    title       : 'Manage Contributors',
    name        : 'manageContributorsModal',
    action      : CV.ManageContributors,
    width       : 900,
});

var requestMembership = new CV.Modal({
    style       : '',
    type        : '',
    title       : 'Request Membership',
    name        : 'requestmembershipModal',
    action      : CV.RequestMembership,
    width       : 650,
});

var manageRelatedVoices = new CV.Modal({
    style       : '',
    type        : '',
    title       : 'Manage Related Voices',
    name        : 'manageRelatedVoicesModal',
    action      : CV.ManageRelatedVoices,
    width       : 900,
});

var report = new CV.Modal({
    style       : '',
    type        : '',
    title       : 'Report / Claim',
    name        : 'reportModal',
    action      : CV.Report,
    width       : 650,
});


var block = new CV.Modal({
    style       : '',
    type        : '',
    title       : 'Block',
    name        : 'blockModal',
    action      : CV.Block,
    width       : 700,
});

CV.Notification.create({
    type        : 'follow',
    name        : 'notification',
    person : {
      name : 'Esra’a',
      lastname : 'Al Shafei',
      avatar : '/img/sample/avatars/twitter-00.jpg'
    }
}).render(document.querySelector('.placeholder-bubble'));
$('.placeholder-bubble').append('<br>');


new CV.Bubble({
    style       : '',
    type        : '',
    title       : 'Want to help out?',
    name        : 'help',
    action      : CV.FormRequestToContribute,
    //actionData  : years,
    width       : 600,
    anchorEl    : document.querySelector('.bubble-help')
});//.render(document.querySelector('.placeholder-bubble'));

$('.placeholder-bubble').append('<br>');

new CV.Bubble({
    style       : '',
    type        : '',
    title       : 'Share',
    name        : 'share',
    action      : CV.Share,
    //actionData  : years,
    width       : 420,
    anchorEl    : document.querySelector('.bubble-share')
}).render(document.querySelector('.placeholder-share'));

$('.placeholder-bubble').append('<br>');

new CV.Bubble({
    style       : '',
    type        : '',
    title       : 'Jump to...',
    name        : 'JTD',
    action      : CV.JumpToDate,
    actionData  : years,
    anchorEl    : document.querySelector('.bubble-jump')
}).render(document.querySelector('.placeholder-jump'));
$('.placeholder-bubble').append('<br>');

new CV.Bubble({
    style       : '',
    type        : '',
    title       : 'Related Voices',
    name        : 'relatedBubble',
    action      : CV.VoicesList,
    actionData  : voices,
    width       : 480,
    anchorEl    : document.querySelector('.bubble-related')
}).render(document.querySelector('.placeholder-related'));


/*******************************************
                @buttons
*******************************************/

new CV.Button({
    style       : '',
    type        : 'single',
    label       : 'Action',
    actionType  : 'follow',
    name        : 'buttonFoll'
}).render(document.querySelector('.placeholder-ui .c1'));
$('.placeholder-ui .c1').append('<br><br>');

new CV.Button({
    style       : 'activated',
    type        : 'single',
    actionType  : 'follow',
    label       : 'Following',
    name        : 'buttonFoll'
}).render(document.querySelector('.placeholder-ui .c1'));
$('.placeholder-ui .c1').append('<br><br>');

new CV.Button({
    style       : 'activated',
    type        : 'single',
    actionType  : 'block',
    label       : 'Blocked',
    name        : 'buttonFoll'
}).render(document.querySelector('.placeholder-ui .c1'));
$('.placeholder-ui .c1').append('<br><br>');

var disabledNormalButton = new CV.Button({
    style       : '',
    type        : 'single',
    label       : 'Disabled',
    actionType  : 'follow',
    name        : 'buttonFoll'
}).render(document.querySelector('.placeholder-ui .c1'));
disabledNormalButton.disable();
$('.placeholder-ui .c1').append('<br><br>');


// *** primary ***

new CV.Button({
    style       : 'primary',
    type        : 'single',
    label       : 'Action',
    actionType  : 'follow',
    name        : 'buttonFoll'
}).render(document.querySelector('.placeholder-ui .c2'));
$('.placeholder-ui .c2').append('<br><br>');

new CV.Button({
    style       : 'primary activated',
    type        : 'single',
    actionType  : 'follow',
    label       : 'Following',
    name        : 'buttonFoll'
}).render(document.querySelector('.placeholder-ui .c2'));
$('.placeholder-ui .c2').append('<br><br>');

new CV.Button({
    style       : 'primary activated',
    type        : 'single',
    actionType  : 'block',
    label       : 'Blocked',
    name        : 'buttonFoll'
}).render(document.querySelector('.placeholder-ui .c2'));
$('.placeholder-ui .c2').append('<br><br>');

var disabledPrimaryButton = new CV.Button({
    style       : 'primary',
    type        : 'single',
    label       : 'Disabled',
    actionType  : 'follow',
    name        : 'buttonFoll'
}).render(document.querySelector('.placeholder-ui .c2'));
disabledPrimaryButton.disable();
$('.placeholder-ui .c2').append('<br><br>');

// *** sizes ***
new CV.Button({
    style       : 'micro',
    type        : 'single',
    label       : 'Micro',
    actionType  : '',
    name        : 'sizeButton'
}).render(document.querySelector('.placeholder-ui .c3'));
$('.placeholder-ui .c3').append('<br><br>');

new CV.Button({
    style       : 'tiny',
    type        : 'single',
    label       : 'Tiny',
    actionType  : '',
    name        : 'sizeButton'
}).render(document.querySelector('.placeholder-ui .c3'));
$('.placeholder-ui .c3').append('<br><br>');

new CV.Button({
    style       : 'small',
    type        : 'single',
    label       : 'Small',
    actionType  : '',
    name        : 'sizeButton'
}).render(document.querySelector('.placeholder-ui .c3'));
$('.placeholder-ui .c3').append('<br><br>');

new CV.Button({
    style       : '',
    type        : 'single',
    label       : 'Normal',
    actionType  : '',
    name        : 'sizeButton'
}).render(document.querySelector('.placeholder-ui .c3'));
$('.placeholder-ui .c3').append('<br><br>');

new CV.Button({
    style       : 'large',
    type        : 'single',
    label       : 'Large',
    actionType  : '',
    name        : 'sizeButton'
}).render(document.querySelector('.placeholder-ui .c3'));
$('.placeholder-ui .c3').append('<br><br>');

new CV.Button({
    style       : 'huge',
    type        : 'single',
    label       : 'Huge',
    actionType  : '',
    name        : 'sizeButton'
}).render(document.querySelector('.placeholder-ui .c3'));
$('.placeholder-ui .c3').append('<br><br>');






/*******************************************
                @selects
*******************************************/

//Normal
var allZones = {
  "1": {label: 'This Week', name: 'week', active: true},
  "2": {label: 'This Month', name: 'month'},
  "3": {label: 'All Time', name: 'all'}
};

new CV.Select({
  label : 'Choose Zone',
  name  : 'select',
  options: allZones
}).render(document.querySelector('.placeholder-ui .c5'));

//Checkbox
var allGrades = {
  "1": {label: 'Myself', name: 'myself'},
  "2": {label: 'Organization 01', name: 'org1'},
  "3": {label: 'Organization 02', name: 'org2'},
  "4": {label: 'Organization 03', name: 'org3'}
};

new CV.Select({
    type        : 'check',
    label       : 'Follow as...',
    name        : 'selectFollow',
    style       : '',
    options     : allGrades,
    hasArrow    : false,
    hasTitle    : true,
    title       : "Label",
    subTitle    : "Sublabel",
    actionType  : 'follow'
}).render(document.querySelector('.placeholder-ui .c5'));

//Multiple
var allMulti = {
  "1": {label: 'Myself', name: 'myself'},
  "2": {
    label: 'Organization 01',
    name: 'org1',
    sub: {
      "0": {label: 'Public', name: 'public'},
      "1": {label: 'Anonimously', name: 'anon'}
    }
  },
  "3": {label: 'Organization 02', name: 'org2'},
  "4": {label: 'Organization 03', name: 'org3'}
};
new CV.Select({
  label : 'Multiple',
  name  : 'select',
  options: allMulti
}).render(document.querySelector('.placeholder-ui .c5'));

//Normal
var allZones = {
  "1": {label: 'This Week', name: 'week', active: true},
  "2": {label: 'This Month', name: 'month'},
  "3": {label: 'All Time', name: 'all'}
};
new CV.Select({
  label : 'Choose Zone',
  style : 'primary small',
  name  : 'select',
  options: allZones
}).render(document.querySelector('.placeholder-ui .c5'));

/*******************************************
                @inputs
        type            : null,
        style           : null,
        placeholder     : null,
        isArea          : null,
        hasTitle        : false,
        title           : "",
        subTitle        : "",
*******************************************/

var btnActions = {
  "1": {label: 'Join', name: 'join'},
  "2": {label: 'Message', name: 'message'},
  "3": {label: 'Follow', name: 'follow'}
};

var actionButtons = new CV.Button({
    style   : 'tiny',
    type    : 'multiple',
    name    : 'buttonActions',
    options : btnActions
}).render('.placeholder-ui2 .c1');
$('.placeholder-ui2 .c1').append('<br><br>');

actionButtons.join.on('click', function(){
  console.log('join btn clicked');
});

var btnActions = {
  "1": {label: 'Yes', name: 'yes'},
  "2": {label: 'No', name: 'no'}
};

var yesnoButtons = new CV.Button({
    style   : 'tiny',
    type    : 'multiple',
    name    : 'buttonActions',
    options : btnActions
}).render('.placeholder-ui2 .c1');
$('.placeholder-ui2 .c1').append('<br><br>');

yesnoButtons.no.on('click', function(){
  console.log('no btn clicked');
});

new CV.Input({
    style       : '',
    type        : '',
    name        : 'input',
    placeholder : 'Enter your name',
    hasTitle    : true,
    title       : 'Field label',
    subTitle    : 'External hint'
}).render(document.querySelector('.placeholder-ui2 .c1'));
$('.placeholder-ui2 .c1').append('<br><br>');

new CV.InputButton({
    style       : 'primary',
    type        : '',
    name        : 'input',
    placeholder : 'Search',
    buttonLabel : 'Search',
    hasTitle    : true,
    title       : 'Field label',
    subTitle    : 'External hint'
}).render(document.querySelector('.placeholder-ui2 .c1'));
$('.placeholder-ui2 .c1').append('<br><br>');

new CV.InputButton({
    style       : 'primary large',
    type        : '',
    isArea      : true,
    name        : 'input',
    buttonLabel : 'Reply'
}).render(document.querySelector('.placeholder-ui2 .c1'));
$('.placeholder-ui2 .c1').append('<br><br>');


/****** sizes *****/
new CV.Input({
    style       : 'tiny',
    type        : '',
    name        : 'input',
    placeholder : 'Tiny input'
}).render(document.querySelector('.placeholder-ui2 .c2'));

new CV.Input({
    style       : 'small',
    type        : '',
    name        : 'input',
    placeholder : 'Small input'
}).render(document.querySelector('.placeholder-ui2 .c2'));

$( document ).ready(function() {

});

</script>










