
.page-inner .cv-main-content.page-about{
	padding: 0;
}

.page-about{
	text-align: center;
	p{
		font-size: 18px;
		a{
			font-weight: bold;
			text-decoration: underline;
		}
	}
	p.big{
		font-size: 22px;
	}

	p.huge{
		font-size: 28px;
		font-weight: bold;
	}
	h1, h2, h3, h6{
		margin: 0;
	}
	h1{
		font-size: 112px;
		line-height: 112px;
		letter-spacing: -2px;
	}
	h2{
		font-size: 64px;
		letter-spacing: -2px;
	}
	h3{
		font-size: 36px;
		font-weight: normal;
		letter-spacing: -1px;
	}
	h6{
		color: #929292;
		font-size: 13px;
		text-transform: uppercase;
	}
	h6:after{
		content: "";
		background: #d6d6d6;
		width: 52px;
		height: 2px;
		display: block;
		margin: 15px auto;
	}
	img.partner{
		border: 1px solid #ebebeb;
		border-radius: 2px;
	}

}
.page-container{
	padding: 100px 0px;
	.page-content{
		width: 830px;
		margin: 0 auto;
	}
	.footer-menu{
		padding-left: 45px;
		img{
			padding: 0px 10px;
		}
		span{
			padding-left: 30px;
		}
	}
	.subscribe{
		padding-right: 40px;
		width: 460px;
  		float: right;
	}
}
.page-container.no-pad{
	padding: 10px 0px;
}

.page-container.footer{
	text-align: left;
	padding: 25px 0px;
}

.page-container.dark{
	background: #444;
	color: #ffffff;
	h6{
		color: #929292;
	}
	h6:after{
		background: #606060;
	}
}
.page-container.grey{
	background: #f7f6f6;
}
.page-container.light{
	background: #fff;
}

/*****  button *****/

.cv-button.medium{
	padding: 10px 35px;
	font-size: 18px;
	height: 46px;
}
.cv-button.big{
	padding: 10px 45px;
	font-size: 18px;
	height: 52px;
}