.page-feed {}

.feed-top-voice {
  height: 400px;
  margin: 0 -40px;
  background-color: @color-black;
}

.feed__account-dropdown {
  margin-top: 7px;

  .dropdown-feed-accounts .ui-vertical-list-item {
    line-height: inherit;
  }
}

/******************************************************************************
  FEED LIST
 *****************************************************************************/
.feed__list {
  border-top: 1px solid @color-neutral-x-light;

  .cv-feed-item {
    padding: 9px 0 20px;
  }
}

/******************************************************************************
  TOP VOICES
 *****************************************************************************/
.feed__top-voices-title {
  padding-top: 60px;
}

.feed__top-voices-list {
  min-height: 170px;
}
