.page-feed {}

.feed__account-dropdown {
  margin-top: 7px;
  .form-field {
    margin: 0;
    > .cv-select {
      margin: 0;
    }
  }
}

/******************************************************************************
  FEED LIST
 *****************************************************************************/
.feed__list {
  border-top: 1px solid @color-neutral-x-light;

  .cv-feed-item {
    padding: 9px 0 20px;
  }
}

/******************************************************************************
  TOP VOICES
 *****************************************************************************/
.feed__top-voices-title {
  padding-top: 60px;
}

.feed__top-voices-list {
  min-height: 170px;
}
