.homepage-intro,
.homepage-featured-voices,
.homepage-organization-cards,
.home-stats,
.homepage-category-list {
  padding-left: @cv-sidebar-width;
  padding-right: 2rem;
}

.homepage-heading-wrapper {
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid @color-neutral-x-light;

  .homepage-heading {
    font-size: 30px;
    margin: 0;
    &:extend(.-font-bold);
  }
}

/******************************************************************************
 INTRO
 *****************************************************************************/
.cv-main-content.home {
  background-image: url("/img/views/home/illustration-30-b.jpg");
  background-position: right top;
  background-repeat: no-repeat;
}

.homepage-intro {
  padding-top: 65px;
  padding-bottom: 80px;

  .intro-description {
    font-size: 17px;
    margin-bottom: 60px;
    width: 45vw;
  }

  .intro-description-text {
    font-size: 1.125em;
  }

  > .homepage-intro-main-cta-dl {
    display: inline-block;
    height: 64px;
    padding: 8px 25px;
    margin: 0 27px 0 0;

    b {
      font-size: 18px;
      line-height: 24px;
    }

    span {
      font-size: 12px;
      line-height: 17px;
      color: #FFDAA6;
    }
  }

  > .homepage-intro-main-cta {
    font-size: 14px;
    display: inline-block;
    height: 64px;
    padding: 20px 60px;
    margin: 0;
  }
}

.home-stats {
  background-color: #2E3233;
  background-image: url("/img/home-wave-left.png"), url("/img/home-wave-right.png");
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  padding-top:75px;
  padding-bottom:108px;
  color:white;

  .statsTitle, .stats-number{
    font-size: 48px;
    text-align: center;
  }

  .stats{
    text-align: center;
    margin-top:53px;

    .stats-col{
      padding: 15px 50px;
    }

    .stats-col:not(:last-child){
        border-right: 1px solid #454B4D;
    }
  }

  .stats-label{
    color:#8A9699;
    font-size: 14px;
    font-weight: bold;
  }
}

.homepage-intro-banner {
  font-size: 1rem;

  .intro-heading {
    font-size: 2.308em;
  }

  .intro-sub-heading {
    font-size: 6.154em;
    line-height: 1em;
    letter-spacing: -4px;
  }
}

@media (min-width: 1300px) {
  .homepage-intro {
    .homepage-intro-banner,
    .intro-description-text,
    .stats {font-size: 1.25em}
  }
}

@media (min-width: 1500px) {
  .homepage-intro {
    .homepage-intro-banner,
    .intro-description-text,
    .stats {font-size: 1.4em}
  }
}

/* =========================================================================== *
 *  featured voices
 * =========================================================================== */
.homepage-featured-voices {
  padding-bottom: 30px;

  .homepage-featured-voices-container {
    margin: 0 -25px;
  }

  .cv-voice-cover {
    display: inline-block;
    padding: 0 25px 40px;
  }

  .heading-right {
    padding-top: 1rem;
    margin-left:15px;
  }
}
/* =========================================================================== *
 *  Button between divs
 * =========================================================================== */
.betweenDivs{
    position: absolute;
    text-align: center;
    margin-top: -30px;
    margin-left: 46%;
    line-height: 50px;
    font-size: 16px;
    height: 56px;
    width: 240px;

}
/* =========================================================================== *
 *  category list
 * =========================================================================== */
.homepage-category-list {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: @color-neutral-xx-light;

  .homepage-category-list-row {
    max-width: 1000px;
    margin:auto;

    .topic-card {
      padding: 0 25px 50px;
    }
  }
}

.homepage-category-list-heading {
  font-size: 48px;
  line-height: 65px;
  margin: 0px auto 50px;
  max-width: 1000px;
}

.homepage-category-list-item {
  float: left;
  width: 33.333%;
  text-align: center;


  .categories_link {
    display: inline-block;
    color: @color-neutral-xx-dark;
  }

  .homepage-category-cover {
    width: 96px;
    height: 96px;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .categories_link-wrapper {
    padding-top: 35px;
  }

  .categories_title {
    font-size: 18px;
    &:extend(.-text-center);
  }
}

.homepage-category-list-cta {
  .cv-button {
    display: inline-block;
    padding-top: 16px;
   }
}
/* =========================================================================== *
 *  organization cards
 * =========================================================================== */
.homepage-organization-cards {
  padding-top: 80px;
  padding-bottom: 80px;

  div.heading-right{
      margin-top:13px;
      margin-left: 15px;
  }

  .widget-card {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
/* =========================================================================== *
 *  Media queries - Home Stats
 * =========================================================================== */
@media only screen and (max-width: 480px){
  .home-stats .stats .stats-col{
    padding:0px;
  }
}
@media only screen and (max-width: 800px){
  .home-stats{
    .stats{
      .stats-col{
        width: 40%;
        border-right:0 !important;
        margin: 0px 10px;
      }
      .stats-col:nth-child(-n+2){
        border-bottom:1px solid #454B4D;
        padding: 10px 0px;
      }
    }
  }
}
