.page-inner {
  .yield {
    padding-left: @cv-sidebar-collapsed-width;
  }

  .cv-main-content {
    padding: 0 40px 0 40px;
  }

  .cv-main-profile-edit {
    padding: 0 0px 0 60px;
  }

  .cv-main-profile {
    padding: 0;
  }
}

/* generic page headings */
.page-heading {
  padding-top: 35px;
}

.page-heading__title {
  // color: purple;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 10px;
}

.discover-category-list-heading{
	border-bottom: 1px solid @color-menu-border;
	height: 18px;
	span{
		background: @color-white;
		padding: 0px 10px;
	}
}

.onboarding-message{
	font-weight: bold;
	text-align: center;
	padding-top: 100px;
}

.discover-page,
.topics-page,
.profile-page {
	.discover-voices-container,
	.discover-people-container,
	.discover-updated-container,
	.discover-organizations-container,
	.profile-voices-container,
	.profile-followers-container,
	.drafts-container,
	.unlisted-container,
	.published-container,
	.recommended-container{
		margin: 0px -15px 0px;
		.cv-voice-cover{
			display: inline-block;
			padding: 0px 15px 40px;
		}
		.widget-card{
			display: inline-block;
			padding: 25px 15px 40px;
		}
	}
	.profile-following-container{
		.entities-followed,
		.voices-followed{
			margin: 0px -15px 0px;
			.cv-voice-cover{
				display: inline-block;
				padding: 0px 15px 40px;
			}
			.widget-card{
				display: inline-block;
				padding: 25px 15px 40px;
			}
		}
	}
}

.browse-page .slider-item,
.topics-page .slider-item {
  padding-left: 1rem;
  padding-right: 1rem;
  float: initial;

}
.topics-page{
	&.category-list{
		background: @color-strip-background;
		padding: 20px 40px 10px 40px;
		box-shadow: inset 0px -6px 5px -5px @color-shadow-select-body;
		position: relative;
		z-index: 1;
	}
}
.browse-page .browse-element{
	float: left;
	width: 33.333%;
	padding-bottom: 100px;
	text-align: center;

	a.element_link{
		display: inline-block;
		width: 100%;
		div{
			margin: 0px 10px;
			border: 1px solid @color-card-wrapper;
			box-shadow: 1px 1px 5px @color-shadow-select-body;
			border-radius: 5px;
			padding: 20px 0px;
			background-position: center;
			background-size: cover;
			transition: background-size 250ms ease;
			&.browse-element-button-trending{
				background-image: url('/img/browse-button-trending.png');
			}
			&.browse-element-button-newest{
				background-image: url('/img/browse-button-newest.png');
			}
			&.browse-element-button-recommended{
				background-image: url('/img/browse-button-recommended.png');
			}

			svg{
				width: 90px;
				fill: rgba(240,240,240,0.6);
			}
		}
		div:before{
			 position: absolute;
			 content:"";
			 top:0;
			 width:100%;
			 height:100%;
			 display: block;
			 border-radius: 5px;
			 background-color: rgba(0,0,0,0.7);
			 transition: background-color 250ms ease;
		}
	}

	a.element_link:hover{
		div{
			background-size: 120%;
			svg{
				&.svg-trending{
					fill: url('#trending-gradient');
				}
				&.svg-new{
					fill: url('#newest-gradient');
				}
				&.svg-recommended{
					fill: url('#recommended-gradient');
				}
			}
		}

		div:before{
			background-color: rgba(0,0,0,0.5);
		}
	}
	p{
		padding-top: 10px;
		font-size: 18px;
	  	color: white;
		text-transform: uppercase;
	}
}
