.page-inner {
  .yield {
    padding-left: @cv-sidebar-collapsed-width;
  }
}

.discover-category-list-heading{
	border-bottom: 1px solid @color-menu-border;
	height: 18px;
	span{
		background: @color-white;
		padding: 0px 10px;
	}
}

.onboarding-message{
	font-weight: bold;
	text-align: center;
	padding-top: 100px;
}

.discover-page,
.topics-page,
.profile-page,
.myvoices-page{
	.discover-voices-container,
	.discover-people-container,
	.discover-updated-container,
	.discover-organizations-container,
	.profile-voices-container,
	.profile-followers-container,
	.drafts-container,
	.unlisted-container,
	.published-container,
	.recommended-container{
		margin: 0px -15px 0px;
		.cv-voice-cover{
			display: inline-block;
			padding: 0px 15px 40px;
		}
		.widget-card{
			display: inline-block;
			padding: 25px 15px 40px;
		}
	}
	.profile-following-container{
		.entities-followed,
		.voices-followed{
			margin: 0px -15px 0px;
			.cv-voice-cover{
				display: inline-block;
				padding: 0px 15px 40px;
			}
			.widget-card{
				display: inline-block;
				padding: 25px 15px 40px;
			}
		}
	}
}

.browse-page .slider-item,
.topics-page .slider-item {
  padding-left: 1rem;
  padding-right: 1rem;
  float: initial;

}
.topics-page{
	&.category-list{
		background: @color-strip-background;
		padding: 20px 40px 10px 40px;
		box-shadow: inset 0px -6px 5px -5px @color-shadow-select-body;
		position: relative;
		z-index: 1;
	}
	.homepage-category-list-item{
		padding-bottom: 0px;
	}
}
.browse-page .browse-element{
	div{
		margin: 0px 10px;
		border: 1px solid @color-card-wrapper;
		box-shadow: 1px 1px 5px @color-shadow-select-body;
		border-radius: 5px;
		padding: 20px 0px;
	}
	float: left;
	width: 33.333%;
	padding-bottom: 100px;
	text-align: center;
	a.element_link{
		display: inline-block;
		color: @color-neutral-xx-dark;
		svg{
			width: 90px;
			&.svg-trending{
				fill: @color-trending;
			}
			&.svg-new{
				fill: @color-new;
			}
			&.svg-recommended{
				fill: @color-recommended;
			}
		}
	}
	p{
		padding-top: 10px;
		a{
			font-size: 18px;
	  	color: @color-neutral-xx-dark;

		}
	}
}
