/***** messages *****/
.messages-main{
	/*padding-top: 40px;*/
}
.messages-main.no-sidebar{
	.messages-sidebar{
		display: none;
	}
	.messages-body{
		padding-left: 0;
	}
	.no-messages{
		padding-top: 15%;
	}
}
.profile-messages-intro{
	padding: 35px 25px;
	.profile-heading{
		color: #666;
		margin-bottom: 0;
	}
	h1{
		float: left;
	}
	button{
		float: right;
	}
	.form-field{
		float: right;
	}
}
.profile-messages-intro:after{
  	content: "";
    display: table;
    clear: both;
}
.messages-heading{
	margin: 0px;
	width: auto;
}

.messages-search{
}
.messages-sidebar{
	height: 100%;
	width: 340px;
	border-right: 1px solid #D8D8D8;
	float: left;
	.profile-menu{
		margin-left: 25px;
	}
	.cv-select{
		min-width: inherit;
		max-width: inherit;
		width: 100%;
		margin-bottom: 0;
	}
	.messages-sidebar-header{
		padding: 20px 20px 0px 20px;
		.form-field{
			margin-bottom: 0;
		}
	}
	.messages-list{
		padding-top: 20px;
	}
}


.message-side.updated{
	h3{
		font-weight: normal;
	}
	.actions{
		display: none;
	}
}
.message-side{
	border-bottom: 1px solid #DFE4E6;
	padding: 10px 30px 10px 25px;
	img{
		width: 36px;
		height: 36px;
		float: left;
		border-radius: 20px;
		margin-right: 5px;
	}
	h3{
		font-size: 13px;
		margin: 0;
		color: #454B4D;
		line-height: 18px;
	}
	span{
		font-size: 12px;

	}
	.thread-type{
		  font-size: 11px;

		  line-height: 14px;
		  height: 18px;
		  padding-top: 5px;
		  color: #A1B0B3;
		  float: left;
		  display: block;
		  height: 100%;
	}
	.message-info{
		float: left;
		width: 240px;
	}
	.actions{
		float: right;
		padding-top: 10px;
		span{
			background: #FF4040;
			color: #fff;
			border-radius: 3px;
			width: 18px;
			height: 16px;
			display: inline-block;
			text-align: center;
			font-size: 10px;
		}
	}
	&.active{
		background: rgba(255, 148, 0, .05);
	}

}
.message-side:after{
  	content: "";
    display: table;
    clear: both;
}


.messages-body-container{
	position: relative;
	min-height: 500px;
	display: none;
}
.messages-body-container.active{
	display: block;
}
.white-grad{
  width: 100%;
  height: 30px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 0px 40px;
  &.side-grad{
  	width: 340px;
	height: 30px;
	position: absolute;
	z-index: 1;
	top: inherit;
	left: 0;
	padding: 0;
	div{
		margin-right: 1px;
	}
  }
  div{
	background-image: url('/img/messages-white-gradient.png');
	background-repeat: repeat-x;
	height: 30px;
	margin-right: 16px;
  }
}
.messages-body{
	height: 100%;
	padding-left: 340px;
	.no-messages{
		text-align: center;
	  	width: 285px;
	  	margin: 0 auto;
	  	padding-top: 30%;
	  	p{
	  		font-size: 11px;
	  		color: #A1B0B3;
	  		line-height: 15px;
	  	}
	}
	.messages-container{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 0px 40px;

	}
	.messages-body-header{
		padding: 10px 40px 0px 40px;
		position: relative;
		font-weight: bold;
		border-bottom: 1px solid #DFE4E6;
		height: 53px;
		z-index:1;
		.conversation-title{
			span{
			  font-size: 11px;
			  font-weight: normal;
			  height: 18px;
			  display: inline-block;
			  padding-top: 2px;
			  opacity: .5;
			}
		}
		.action-icon{
			position: absolute;
			top: 20px;
		  	right: 40px;
		  	cursor: pointer;
		  	svg{
		  		width: 10px;
		  		height: 13px;
		  		fill: #8A9699;
		  	}
		}
		.m-action{
			display: none;
			padding-top: 10px;
			.conversation-title{
				font-size: 13px;
				color: #454B4D;
				span{
					font-size: 11px;
					color: #A1B0B3;
				}
			}
		}
		.m-new{
			display: none;
			span{
				text-align: right;
				width: 100%;
				display: inline-block;
				padding-top: 6px;
				padding-right: 5px;
			}
			.search-users-result{
				display: none;
				margin-top: -9px;
				list-style: none;
				background: #ffffff;
				border: 1px solid rgba(0, 0, 0, 0.2);
				border-radius: 3px;
				box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
				padding: 7px 0px;
				padding-top: 10px;
				/*position: absolute;*/
				z-index: 5;
				min-width: 140px;
				width: 100%;
				font-size: 13px;
				li{
					padding: 7px 0px;
					position: relative;
					padding-left: 15px;
					border-bottom: 1px solid #eee;
					cursor: pointer;
  					color: #454b4d;
  					font-weight: normal;
				}
				li:last-child{
					border-bottom: 0;
				}
				li:hover{
					background-color: #fffaf1;
				}
			}
		}
	}
	.message-create{
		padding: 15px 0px;

	}
	.messages-conversation{
		overflow-y: scroll;
  		height: 320px;
  		position: relative;
  		.msgs{
  			/*position: absolute;*/
  			bottom: 0;
  		}
	}

}
.cv-input{
	&.hollow{
		border: none;
		box-shadow: none;
		padding-left: 5px;
	}
}
.message-text{
	padding: 18px 0px 18px 0px;
	img{
		width: 28px;
		height: 28px;
		float: left;
		border-radius: 20px;
		margin-right: 15px;
	}
	h3{
		font-size: 12px;
		color: #454B4D;
		margin: 0;
		line-height: 17px;
		display: inline-block;
		margin-right: 4px;
		font-weight: bold;
		span{
			font-size: 11px;
			opacity: .5;
		}
	}
	p{
		font-size: 13px;
		line-height: 22px;
		color: #444444;
	}
	.data-message-date{
		font-size: 11px;
		color: #A1B0B3;
	}
	.message-data{
	}
	.message-notification{
		border-left: 4px solid #D8D8D8;
		margin-top: 10px;
		padding-left: 15px;
		font-size: 11px;
		margin-left: 60px;
		p{
			color: #A1B0B3;
			font-size: 11px;
			line-height: 19px;
		}
		.message-notification-actions{
			margin-top: 10px;
		}
	}
}
.message-text:after{
  	content: "";
    display: table;
    clear: both;
}