.profile-intro{
	padding: 35px 0px;
	.pan-separator{
		margin-left: 185px;
		margin-right: 100px;
	}
	.post-card-activity{
		margin-bottom: 0;
	}
}
.profile-intro:after{
  	content: "";
    display: table;
    clear: both;
}

.profile-description{
	color: #fff;
}

.profile-image{
	width: 160px;
	height: 160px;
	border-radius: 10px;
	float: left;
	margin-right: 25px;
}
.profile-heading{
	color: #fff;
	width: 100%;
}
.profile-subheading{
	color: #666;
  	border-bottom: 1px solid #ccc;
  	margin-bottom: 25px;
}
.profile-tw{
	color: #b8b8c1;
}
.profile-stats{
	background: #fff;
	padding-left: 25px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	.stats-col{
		text-align: center;
		margin-right: 25px;
		padding: 8px 0px 15px 0px;
		border-top: 4px solid transparent;
		cursor: pointer;

	}
	.stats-col.active{
		border-top: 4px solid #666;
	}
	.profile-tabs{
		float: left;
	}
	.profile-actions{
		float: right;
		padding: 20px 25px 0px 0px;
	}

}


.profile-body{
	padding: 25px;
	background: #fff;
}
.profile-body .profile-list{
	display: none;
}
.profile-body .profile-list.active{
	display: block;
}
.profile-list-type {
	position: absolute;
	top: 25px;
	right: 25px;
	font-size: 0px;
	margin: 5px 5px 0px 0px;
}
.profile-list-type > div{
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.profile-list-type > div.active{
	opacity: .4;
}

/**** view ****/

.cv-voice-cover.list-style{

	.voice-cover-badge-new{
		display: none;
	}
	.voice-cover{
		float: left;
	}
	.voice-content{
		margin-left: 148px;
	}
	.voice-cover-main-image-wrapper{
		width: 128px;
		height: 128px;
	}
	.voice-cover-image-list{
		display: none;
	}
	.cv-tags{
		display: none;
	}
	.meta .cv-tags{
		display: inline-block;
	}

}

.cv-voice-cover.list-style.gallery .voice-cover-main-image-wrapper{
	border-radius: 6px;
}
.cv-voice-cover.list-style:after{
  	content: "";
    display: table;
    clear: both;
}

.widget-card.list-style{
	min-height: inherit;
	.card_background-image-wrapper{
		display: none;
	}
	.card_info-wrapper{
		min-height: inherit;
		text-align: left;
		border: none;
		background: none;
		border-bottom: 1px solid #ccc;
		padding: 15px 0px 15px 0px;
		border-radius: 0px;
	}
	.pan-separator{
		margin: 0px 220px 0px 70px;
	}
	.card_username,
	.card_fullname{
		margin-top: 0px;
	}
	.card_description {
	  margin-bottom: 1rem;
	}

	.card_stats{
		position: absolute;
		right: 0;
		top: 10px;
		min-width: 250px;
		.-col-3 {
		  padding: 0em .5em 1em;
		}
	}
	.card_avatar{
		float: left;
		position: inherit;
		margin-top: 0px;
		border: none;
		width: 56px;
		height: 56px;
	}
	.card_actions{
		  padding: 0px;
		  top: 65px;
		  right: 0;
		  text-align: right;
	}
}




/*******  My Voices *******/


.profile-voices-intro{
	padding: 35px 0px;
	padding-bottom: 0px;
	.profile-heading{
		color: #666;
	}
}

.profile-menu{
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	.menu-item{
		text-align: center;
		margin-right: 25px;
		padding: 5px 0px 5px 0px;
		border-top: 4px solid transparent;
		cursor: pointer;
		p{
			font-size: 16px;
		  	text-align: center;
		}
	}
	.menu-item.active{
		border-bottom: 4px solid #666;
	}

	.profile-tabs{
		float: left;
	}
	.profile-actions{
		float: right;
		padding: 20px 25px 0px 0px;
	}

}
.-nobg{
	background: none;
}

.profile-menu-content{
	.el-list{
		display: none;
	}
	.el-list.active{
		display: block;
	}
}


/***** saved ****/
.-padwidth{
	padding-left: 0;
	padding-right: 0;
}
.-nobg{
	background: none;
}


