/* ============================================================================
 * Upload File
 * ========================================================================= */
.post-creator-upload-file {
  .input-error-message {
    top: 70px;
    left: 70px;
  }

  .post-card {
    display: block;
    width: 300px;
    margin: 0 auto;
    transform: scale(1);
  }

  &.is-success {
    .cv-post-creator__header {
      transform: translateY(-100%);
    }

    .post-card,
    .cv-post-creator__close {
      transform: scale(0);
    }
  }
}

.upload-file-msg-uploading,
.upload-file-msg-error,
.upload-file-msg-uploaded-image {
  display: none;
  font-size: 18px;
  padding: .9em 0 0 1em;

  &.active {
    display: block;
  }
}

.upload-file-msg-error svg,
.upload-file-msg-uploaded-image svg {
  margin: 4px 10px 0 0;
}

.upload-file-post-button {
  padding: 1rem 1.25rem 0;
  border-left-width: 1px;
}
